﻿@model POS_WEB.Models.Services.Banking.Tax

@{
    ViewData["Title"] = "Edit";
}
<style>
    .fa {
        margin-right: 4px;
    }

    .stylebutton {
        margin-top: 10px;
    }

    .StyleImge {
        height: 100px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        width: 100px;
    }

    .fa {
        margin-right: 4px;
    }

    .form-group {
        padding: 0px;
        margin: 0px;
    }
</style>
<form asp-action="Edit" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <input type="hidden" asp-for="ID" />
        <label asp-for="Name" class="control-label">@Localizer["Name"] :</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Rate" class="control-label">@Localizer["Rate"] :</label>
        <input asp-for="Rate" class="form-control" />
        <span asp-validation-for="Rate" class="text-danger"></span>
    </div>
    <div hidden class="form-group">
        <label asp-for="Type" class="control-label"> @Localizer["Type"] :</label>
        <input asp-for="Type" value="Output" class="form-control" />
        <span asp-validation-for="Type" class="text-danger"></span>
    </div>
    @*<div class="form-group">
        <label asp-for="Effective" class="control-label">@Localizer["Effective"] :</label>
        <input asp-for="Effective" class="form-control" />
        <span asp-validation-for="Effective" class="text-danger"></span>
    </div>*@
    <div class="row pull-left">
        <div class="col-md-12 stylebutton">
            <button class="btn btn-success btn-xs" type="submit" style="margin-left: 12px;"><i class="fa fa-plus-circle"></i>@Localizer["Save"]</button>
            <a class="btn btn-xs btn-danger" asp-action="Index"><i class="fa fa-reply"></i> @Localizer["Back"]</a>
        </div>
    </div>
</form>


