﻿@model IEnumerable<POS_WEB.Models.Services.Banking.Tax>

@{
    ViewData["Title"] = "Index";
}

    <style>
        .stylerow {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .fa {
            margin-right: 4px;
        }

        a {
            color: white;
        }
        a:hover {
            color: white;
        }
        h5 {
            margin: 10px 5px;
        }

        .tbncrate {
            margin-top: 10px;
            background-color: #00bfff;
            color: white;
            margin-left: 1px;
        }

        .fa-sort-amount-down {
            margin-left: 10px;
            font-size: 10px;
            color: blue;
        }

        .fa-edit {
            color: #00cc00;
        }

        .fa-trash {
            color: red;
        }

        b {
            margin-left: 10px;
        }
        .styledelete{
            color:white;
        }
        b{
            color:white;
        }
        .content_select{
        height: 25px;
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;
        padding: 3px 3px 3px 3px;
        margin: 5px 1px 3px 0px;
        width: 100%;
        font-family: Arial;
        font-size: 13px;
        border-radius: 3px;
        border: 1px solid #c6c1c1;
 }
 .content_select:focus{
      box-shadow: 0 0 5px rgba(27, 93, 185,0.4);
      padding: 3px 3px 3px 3px;
      margin: 5px 1px 3px 0px;
      border: 1px solid rgb(120, 172, 245);
      border-radius: 3px;
      font-family: Arial;
      font-size: 13px;
 }
 .list{
     margin-bottom:15px;
     margin-top:15px;
 }
    </style>
    <input type="text" id="txtid" hidden />
    <a asp-action="Create" class="btn btn-xs tbncrate"><i class="fa fa-plus-circle"></i> @Localizer["Create"]</a>
    <div class="wrap-table list">
        <table>
            <thead>
                <tr>
                    <th>
                        <a asp-action="Index">@Localizer["Name"]</a>
                    </th>
                    <th>
                        <a asp-action="Index">@Localizer["Rate"] </a>
                    </th>
                    @*<th>
                        <a asp-action="Index">@Localizer["Type"] </a>
                    </th>*@
                    @*<th>
                        <a asp-action="Index">@Localizer["Effective"] </a>
                    </th>*@
                    <th>
                        @Localizer["Action"]
                    </th>
                </tr>
            </thead>
            <tbody class="myTable">
                @if (Model.Count() == 0)
                {
                    <tr>
                        <td colspan="5" class="text-center">@Localizer["NoData"]</td>
                    </tr>
                }
                @foreach (var item in Model)
                {
                    <tr>
                        <td hidden>
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Rate)
                        </td>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>*@
                        @*<td>
                            @Html.DisplayFor(modelItem => item.Effective)
                        </td>*@
                        <td>

                            <a asp-action="Edit" asp-route-id="@item.ID"><i class="fa fa-edit "></i></a> .
                            <a asp-action="Delete" asp-route-id="@item.ID" class="deleteGuom" data-toggle="modal" data-target="#ClickDelete" id="DeleteTax"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
<div class="modal fade" id="ClickDelete" style="margin-top:50px;">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header stylei" style="background-color:blue;">
                <i class="far fa-question-circle styledelete"><b>@Localizer["Tax"]</b></i>
            </div>
            <div class="modal-body stylei">
                <h3>@Localizer["question"]</h3>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-sm stylei" data-dismiss="modal" onclick="ClickYes()"><i class="far fa-calendar-check"></i> @Localizer["Yes"]</button>
                <button class="btn btn-danger btn-sm stylei" data-dismiss="modal"><i class="fas fa-exclamation-triangle"></i> @Localizer["No"]</button>
            </div>
        </div>
    </div>
</div>

<script>
     $(".myTable").on("click", "#DeleteTax", function () {
        var cut = $(this).closest('tr');
        var id = cut.find('td:eq(0)').text();
        document.getElementById("txtid").value = id;      
    });
    function ClickYes() {      
        var id = $("#txtid").val();
        $(document).ready(function () {
             $.ajax({
                url: "/Tax/Delete",
                type: "Delete",
                dataType: "Json",
                data: { id: id },
                complete: function (respones) {
                    location.reload();
                }
            });
        });
           
    }
</script>