﻿@model PaymentMeans

@{
    ViewData["Title"] = "Create";
}
<style>
    .stylebutton {
        margin-left: 12px;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">@Localizer["Type"]</label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            
            <div class="row pull-left">
                <div class="col-md-12 stylebutton">
                    <button class="btn btn-success btn-xs" type="submit"><i class="fa fa-plus-circle"></i>@Localizer["Add"]</button>
                    <a class="btn btn-xs btn-danger" asp-action="Index"><i class="fa fa-reply"></i> @Localizer["Back"]</a>
                </div>
            </div>
        </form>
    </div>
</div>

