﻿@model PaymentMeans

@{
    ViewData["Title"] = "Edit";
}
<style>
    .fa {
        margin-right: 4px;
    }

    .stylebutton {
        margin-left: 12px;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label  class="control-label">@Localizer["Type"]</label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="row pull-left">
                <div class="col-md-12 stylebutton">
                    <button class="btn btn-success btn-xs" type="submit"><i class="fa fa-save"></i>@Localizer["Save"]</button>
                    <a class="btn btn-xs btn-danger" asp-action="Index"><i class="fa fa-reply"></i> @Localizer["Back"]</a>
                </div>
            </div>
        </form>
    </div>
</div>
