﻿@using Microsoft.AspNetCore.Http;
@model POS_WEB.Models.ServicesClass.ChangPasswordAccountService

<style>
    .fa {
        margin-right: 4px;
    }
</style>
<form asp-action="ChangPassword" method="post">
    <div class="row">
        <div class="col-md-4">
            <img src="@Url.Content(User.FindFirst("Photo").Value)" width="200" height="200" style="border-radius:50%;" title="Photo"/>
        </div>
        <div class="col-md-8">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label class="col-sm-3 control-lable">@Localizer["Employee"] :</label>
                <input type="text" value="@User.FindFirst("FullName").Value" class="col-sm-9 form-control" disabled />
            </div>
            <div class="form-group row">
                <label class="col-sm-3 control-lable">@Localizer["Username"] :</label>
                <input type="text" value="@User.FindFirst(ClaimTypes.Name).Value" class="col-sm-9 form-control" id="txtusername" asp-for="Username" />
                <div class="text-danger">@ViewBag.requreduserman</div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 control-lable">@Localizer["OldPassword"] :</label>
                <input type="password" class="col-sm-9 form-control" id="txtoldpassword" asp-for="OldPassword" onkeyup="checkoldPassword()"/>
                <span class="text-danger" id="error_old"></span>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 control-lable">@Localizer["NewPassword"] :</label>
                <input type="password" class="col-sm-9 form-control" id="txtpassword" asp-for="NewPassword" />
                <div class="text-danger">@ViewBag.requrednewpass</div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 control-lable">@Localizer["ComfirmdPassword"] :</label>
                <input type="password" class="col-sm-9 form-control" id="txtcomfirmd" asp-for="comfirmd" onkeyup="CheckComfirmd()"/>             
                <span class="text-danger" id="NotComfirmd"></span>
                <span class="text-success" id="Isconfirmd"></span>
            </div>
            <div class="pull-left">
                <button type="submit" class="btn btn-sm btn-success " id="btnsave" title="Save"><i class="fa fa-save"></i>@Localizer["Save"]</button>
            </div>
        </div>
    </div>
</form>
<script>
    $(document).ready(function () {
        document.getElementById("btnsave").disabled = true;
        document.getElementById("txtpassword").disabled  = true;
        document.getElementById("txtcomfirmd").disabled  = true;
    });
    function checkoldPassword() {
        var oldpass = $("#txtoldpassword").val();
        setTimeout(function () {
            $.ajax({
                url: "/Account/CheckOldPassword",
                type: "Get",
                dataType: "text",
                data: { passwordold: oldpass },
                success: function (respones) {
                    if (respones == 'F') {
                        $("#error_old").text("Old password incorrect !");
                        document.getElementById("txtpassword").disabled = true;
                        document.getElementById("txtcomfirmd").disabled = true;
                    } else {
                        $("#error_old").text("");
                        document.getElementById("txtpassword").disabled = false;
                        document.getElementById("txtcomfirmd").disabled =false;
                    }
                }
            });
        }, 600);
    }
    function CheckComfirmd() {
        var newpass = $("#txtpassword").val();
        var comf = $("#txtcomfirmd").val();
        if (newpass != comf) {
            $("#NotComfirmd").text("Not Matched !");
            document.getElementById("btnsave").disabled = true;
            $("#Isconfirmd").text("");
        }
        else {
            $("#NotComfirmd").text("");
            $("#Isconfirmd").text("Matched");
            document.getElementById("btnsave").disabled = false;
        }
    }
   
</script>