﻿@model Pagination<UserAccount>

@{
    ViewData["Title"] = "User Account";
}
<style>
    .stylerow {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .fa {
        margin-right: 4px;
    }

    a {
        color: white;
    }
    a:hover{
        color:white;
    }
    h5 {
        margin: 10px 5px;
    }
    .stylei {
        color: white;
    }
    .tbncrate {
        margin-top: 10px;
        background-color: #00bfff;
        color: white;
        margin-left: 1px;
    }

    .fa-sort-amount-down {
        margin-left: 10px;
        font-size: 10px;
        color: white;
    }

    .fa-edit {
        color: #00cc00;
    }

    .fa-trash {
        color: red;
    }

    i {
        color: black;
    }

    b {
        margin-left: 10px;
    }

    .tbncrate i {
        color: white;
    }

    .stylei i {
        color: white;
    }

    .fa-search {
        color: blue;
    }
    .modal-header{
        background-color:blue;
    }
    .list{
        margin-bottom:15px;
    }
    .content_select{
        height: 25px;
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;
        padding: 3px 3px 3px 3px;
        margin: 5px 1px 3px 0px;
        width: 100%;
        font-family: Arial;
        font-size: 13px;
        border-radius: 3px;
        border: 1px solid #c6c1c1;
 }
 .content_select:focus{
      box-shadow: 0 0 5px rgba(27, 93, 185,0.4);
      padding: 3px 3px 3px 3px;
      margin: 5px 1px 3px 0px;
      border: 1px solid rgb(120, 172, 245);
      border-radius: 3px;
      font-family: Arial;
      font-size: 13px;
 }
</style>


@*<a asp-action="Register" class="btn btn-xs tbncrate" title="Create"><i class="fa fa-plus-circle"></i> @Localizer["Create"]</a>*@
<form asp-action="Index" method="get" id="form-id">
    <div class="row stylerow">
        <div class="col-md-6" style="margin-top:5px;">
            <div class="input-group">
                <h5>@Localizer["Showpage"] :</h5>
                <div class="input-group-append">
                    <select class="content_select" id="selectpage" name="minpage" title="Show Page">
                        <option selected="@ViewBag.sizepage1">5</option>
                        <option selected="@ViewBag.sizepage2">10</option>
                        <option selected="@ViewBag.sizepage3">15</option>
                        <option selected="@ViewBag.sizepage4">20</option>
                        <option selected="@ViewBag.sizepage5">All</option>
                    </select>
                </div>
            </div>
        </div>
        
        <div class="col-md-6" style="margin-top:5px;">
            <div class="input-group btnsearch">
                <input class="form-control btn-sm" type="text" autocomplete="off" name="SearchString" value="@ViewData["currentFilter"]" placeholder="@Localizer["Search"]" id="txtseaerch" title="Search"/>
                <div class="input-group-append">
                    <button class="btn btn-sm btnsearch"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</form>

<input type="text" id="txtid" hidden />
<div class="wrap-table list">
    <table>        
            <tr>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["UsernameSortParm"]" class="sortcode"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        @Localizer["Username"]<i class="fa fa-sort-amount-down"></i>
                    </a>
                </th>
                <th hidden>
                    @Localizer["Password"]
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["EmployeeSortParm"]" class="sortcode"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        @Localizer["Employee"]<i class="fa fa-sort-amount-down"></i>
                    </a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["CompanySortParm"]" class="sortcode"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        @Localizer["Company"]<i class="fa fa-sort-amount-down"></i>
                    </a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["BarnchSortParm"]" class="sortcode"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        @Localizer["Branch"]<i class="fa fa-sort-amount-down"></i>
                    </a>
                </th>
               
                <th>
                    @Localizer["Action"]
                </th>
            </tr>
      
        <tbody class="myTable">
            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="7" class="text-center">@Localizer["NoData"]</td>
                </tr>
            }
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td hidden>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Employee.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Company.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Branch.Name)
                    </td>
                    
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID"><i class="fa fa-edit " title="Edit"></i></a> .
                        @*<a><i class="fa fa-trash" data-toggle="modal" data-target="#exampleModal" title="Delete"></i></a>.*@
                        <a asp-action="Userprivillege" class="btn btn-xs btn-success" asp-route-id="@item.ID">@Localizer["Role"]</a>
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <i class="far fa-question-circle stylei"><b>@Localizer["Account"]</b></i>
                                    </div>
                                    <div class="modal-body">
                                        @Localizer["Delete"]
                                    </div>
                                    <div class="modal-footer">
                                        <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-sm btn-primary" title="Yes">@Localizer["Yes"]</a>
                                        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal" title="No">@Localizer["No"]</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            <a asp-action="Index" title="LastPrevious"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-page="1"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="page-link btn @prevDisabled ">
                <i class="fa fa-angle-double-left" style="color:blue;" ></i>
            </a>
        </li>
        <li class="page-item">
            <a asp-action="Index"  title="Previous"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-page="@(Model.PageIndex - 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="page-link btn @prevDisabled ">
                <i class="fa fa-angle-left" style="color:blue;"></i>
            </a>
        </li>

        <li class="page-item">
            <a asp-action="Index" title="Next"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-page="@(Model.PageIndex + 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="page-link btn @nextDisabled">
                <i class="fa fa-angle-right" style="color:blue;" ></i>
            </a>
        </li>
        <li class="page-item">
            <a asp-action="Index" title="Last Next"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-page="@Model.TotalPages"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="page-link btn @nextDisabled">
                <i class="fa fa-angle-double-right" style="color:blue;" ></i>
            </a>
        </li>
    </ul>
</nav>
<script>
    $("#selectpage").on('change', function () {
        submitForm();
    })
    function submitForm() {
        document.getElementById("form-id").submit();
    }

    $(document).ready(function () {

        $("#txtseaerch").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $(".myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>