﻿@model UserPrivillege

<style>
    .btnlable {
        margin: 10px 5px;
    }

    .btnrow {
        margin-bottom: 20px;
        margin-top: 10px;
    }

    input[type="checkbox"] {
        height: 20px;
        width: 20px;
        margin: 0 0.4em 0.4em 0;
        outline: none;
        box-shadow: 0px 0px 3px rgba(105, 107, 228, 0.3);
        background: rgba(144, 232, 115, 0.4);
    }

    .fa {
        margin-right: 4px;
    }
</style>
@{
    int UserID = 0;
}
<input type="text" id="txtseach" hidden />
<div class="row btnrow">
    <div class="col-md-5">
        <div class="input-group">
            <label class="btnlable">@Localizer["Filter"] :</label>
            <div class="input-group-append">
                <select class="form-control" style="width:200px;" onchange="selectChangeType()" id="txttype" title="Filter">
                    <option value="0" selected disabled> Select Type </option>
                    <option value="Admin">Admin</option>
                    <option value="POS">POS</option>
                    <option value="Report">Report</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-5"></div>
    @*<div class="col-md-2">
            <b style="margin-left:10px;">@Localizer["Select All"]</b> <input type="checkbox" onclick="clickselect()" id="selectAll" style="margin-left:10px;" />
        </div>*@
</div>
<div class="row">
    <div class="col-md-12">
        <div class="wrap-table list">
            <table id="Mytable">
                <thead>
                    <tr>
                        <th class="text-white" style="width:100px;">@Localizer["Function"]</th>
                        <th class="text-white" style="width:100px;">@Localizer["Type"]</th>
                        <th class="text-white" style="width:50px;">
                            @Localizer["Permision"]
                        </th>
                    </tr>
                </thead>
                <tbody id="listUsrprivillege">
                    @foreach (var item in ViewData["UserPrivillege"] as List<UserPrivillege>)
                    {
                        <tr>
                            <td hidden id="txtID">@item.ID</td>
                            <td hidden>@item.UserID</td>
                            <td hidden>@item.FunctionID</td>
                            <td>@item.Function.Name</td>
                            <td>@item.Function.Type</td>
                            <td data-id="@item.ID" class="text-center">
                                @*<input name="checks" type="checkbox" value="@item.Used" />*@
                                @Html.CheckBoxFor(modelItem => item.Used, new { @class = "check-is-user" })
                            </td>
                        </tr>
                        UserID = item.UserID;
                    }
                </tbody>
            </table>
        </div>
        <div class="row pull-right" style="margin:15px;">
            <label style="padding-right:5px;">Select All</label>
            <input name="checks" type="checkbox" id="select-all" />
        </div>
    </div>
    <div class="row" style="margin:15px;">
        <a style="color:white; margin-right:5px" id="save" class="btn btn-sm btn-success" title="Save"><i class="fa fa-save"></i>@Localizer["Save"]</a>
        <a class="btn btn-sm btn-danger" asp-action="Index" title="Back"><i class="fa fa-reply"></i>@Localizer["Back"]</a>
    </div>
</div>
<script src="~/js/warehouse.js"></script>
<script src="~/js/table.js"></script>
<script>
    var db = new Warehouse();
    var check = 0;
    var arr_select = [];

    let checks = $("#listUsrprivillege").find(".check-is-user");
    let selecteds = $("#listUsrprivillege").find(".check-is-user:checked");
    $("#select-all").prop("checked", false);
    if (selecteds.length === checks.length) {
        $("#select-all").prop("checked", true);
    } 
    $.each(checks, function (i, ch) {
        let id = parseInt($(ch).parent().data('id'));
        let user = {};
        user.ID = id;
        user.Used = $(ch).is(':checked');
        db.insert('tb_user_privillage', user, 'ID');
    });
 
    $("#txttype").on('change', function () {
        var file = $("#txttype").val();
        var value = file.toLowerCase();
        $("#listUsrprivillege tr").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });
    checks.change(function () {
        let selecteds = $("#listUsrprivillege").find(".check-is-user:checked");
        $("#select-all").prop("checked", false);
        if (selecteds.length === checks.length) {
            $("#select-all").prop("checked", true);
        }
        let id = parseInt($(this).parent().data('id'));
        let user = db.get('tb_user_privillage').get(id);
        user.Used = $(this).is(':checked');
        db.insert('tb_user_privillage', user, 'ID');
        
    });
    $('#select-all').change(function () {
        let checks = $("#listUsrprivillege").find(".check-is-user");
        let select_all = $(this);
        if ($(this).is(":checked")) {
            checks.prop("checked", true);
            db.from('tb_user_privillage').where(function (user) {
                user.Used = true;
            });
        } else {
            checks.prop("checked", false);
            db.from('tb_user_privillage').where(function (user) {
                user.Used = false;
            });
        }

      
    });
    $('#save').on('click', function () {
     
        $(this).text('Saving...');
        $.ajax({
            url: "/Account/UpdateUserPrivillege",
            type: "POST",
            dataType: "JSON",
            data: {
                userPrivilleges: db.from('tb_user_privillage')
            },
            success: function () {
                $(this).text('Save');
                window.location.href = "/Account/Index";
            }
        });

    });

</script>
