﻿@model POS_WEB.Models.Services.Account.Function

@{
    ViewData["Title"] = "Create";
}



<div class="row">
    <div class="col-md-10">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">@Localizer["Name"]</label>
                <input asp-for="Name" class="form-control" placeholder="Function Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label">@Localizer["Type"]</label>
                <select asp-for="Type" class="form-control">
                    <option value="" selected disabled>--- Select ---</option>
                    <option>Admin</option>
                    <option>POS</option>
                    <option>Report</option>
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-plus-circle"></i>&ensp;@Localizer["Add"]</button>
                <a asp-action="Index" class="btn btn-sm btn-danger"><i class="fa fa-reply">&ensp;</i>@Localizer["Back"]</a>
            </div>
        </form>
    </div>
</div>



