﻿@model IEnumerable<POS_WEB.Models.Services.Account.Function>

@{
    ViewData["Title"] = "Index";
}



<p>
    <a asp-action="Create" class="btn btn-sm btn-primary">@Localizer["Create"]</a>
</p>

<table class="table table-sm table-bordered">
    <thead>
        <tr>
            <th>
                @Localizer["Code"]
            </th>
            <th>
                @Localizer["Name"]
            </th>
            <th>
                @Localizer["Type"]
            </th>
            <th>@Localizer["Action"]</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                <a asp-action="Update" asp-route-id="@item.ID"><i class="fa fa-edit "></i></a> .
                <a><i class="fa fa-trash" data-toggle="modal" data-target="#delModal"></i></a>
                <div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title" id="exampleModalLabel"><i class="fa fa-question"></i>@Localizer["Function"]</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                @Localizer["Delete"]
                            </div>
                            <div class="modal-footer">
                                <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-sm btn-primary">@Localizer["Yes"]</a>
                                <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">@Localizer["No"]</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
