﻿@model GroupUOM

@{
    ViewData["Title"] = "Edit";
}
<style>
    .fa{
        margin-right:4px;
    }
    .form-group {
        padding: 0px;
        margin: 0px;
    }

    .pull-left {
        margin-top: 10px;
    }
</style>
<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label class="control-label">@Localizer["Code"] :</label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
              
                <div class="text-danger">@ViewBag.Error</div>
            </div>
            <div class="form-group">
                <label  class="control-label">@Localizer["Name"] :</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            
            <div class="form-group pull-left">
                <button type="submit" class="btn btn-success btn-xs"><i class="fa fa-save"></i> @Localizer["Save"]</button>
                <a class="btn btn-xs btn-danger" asp-action="Index"><i class="fa fa-reply"></i> @Localizer["Back"]</a>
            </div>
        </form>
    </div>
</div>


