﻿<script src="~/js/warehouse.js"></script>
<link href="~/css/Sale/sale.css" rel="stylesheet" />
<script src="~/js/Sale/sale-quote.js" defer></script>

<div id="error-summary"></div>
<fieldset class="scheduler-border">
    <legend class="scheduler-border" style="font-size:16px;font-weight:600;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">@Localizer["Sale Quotation"]</legend>
    <div class="row">
        <div class="col-md-12 flexbox flex-end">         
            <a id="btn-addnew" href="/Sale/SaleQuote" class="btn btn-primary btn-sm" hidden><i class="fas fa-plus-circle"></i> @Localizer["Creat New"]</a>
            <button id="btn-find" class="btn btn-primary btn-sm"><i class="fas fa-search"></i> @Localizer["Find"]</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-5">
                    <input value="@Localizer["Customer"]" readonly style="border:none; background-color:transparent;" />
                </div>
                <div class="col-md-7" style="position:relative;">
                    <input type="text" readonly id="cus-id" class="input-master" />
                    <i class="fa fa-plus-circle text-info" id="show-list-cus" style="position:absolute;right:0px;top:8px;cursor:pointer;" title="List Customer"></i>
                </div>
                <div class="col-md-5">
                    <input value="@Localizer["Warehouse"]" readonly style="border:none; background-color:transparent;" />
                </div>
                <div class="col-md-7">
                    <select id="ware-id">
                        <option value="0"></option>
                    </select>
                </div>

                <div class="col-md-5">
                    <input type="text" value="@Localizer["Customer Ref. No."]" style="border:none; background-color:transparent;" />
                </div>
                <div class="col-md-7">
                    <input type="text" id="ref-id" class="input-master" />
                </div>
                <div class="col-md-5">
                    <input value="@Localizer["Local Currency"]" readonly style="border:none; background-color:transparent;" />
                </div>
                <div class="col-md-7">
                    <select id="cur-id">
                    </select>
                </div>
                <div class="col-md-5">
                    <input value="@Localizer["User"]" readonly style="border:none; background-color:transparent;" />
                </div>
                <div class="col-md-7">
                    <input type="text" id="user-id" class="input-master" readonly value="@User.FindFirst("FullName").Value" />
                </div>
                <div class="col-md-5">
                    <input id="include-vat" value="@Localizer["Include VAT"]" readonly style="border:none; background-color:transparent;" />
                </div>
                <div class="col-md-7">
                    <input type="checkbox" id="include-vat-id" class="input-master" disabled/>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-5">
                    <input value="@Localizer["Sale Quotation No."]" readonly style="border:none; background-color:transparent;" />
                </div>
                <div class="col-md-7">
                    <input type="text" readonly id="invoice-no" class="input-master" />
                </div>
                <div class="col-md-5">
                    <input value="@Localizer["Status"]" readonly style="border:none; background-color:transparent;" />
                </div>
                <div class="col-md-7">
                    <input type="text" readonly id="sta-id" value="open" class="input-master" />
                </div>

                <div class="col-md-5">
                    <input value="@Localizer["Posting Date"]" readonly style="border:none; background-color:transparent;" />
                </div>
                <div class="col-md-7" style="position:relative;">
                    <input data-date="" data-date-format="DD.MM.YYYY" type="date" id="post-date" class="input-master" />
                </div>
                <div class="col-md-5">
                    <input value="@Localizer["Valid Until Date"]" class="input-master" readonly style="border:none; background-color:transparent;" />
                </div>
                <div class="col-md-7" style="position:relative;">
                    <input data-date="" data-date-format="DD.MM.YYYY" class="input-master" type="date" id="valid-date" />
                </div>
                <div class="col-md-5">
                    <input value="@Localizer["Document Date"]" class="input-master" readonly style="border:none; background-color:transparent;" />
                </div>
                <div class="col-md-7" style="position:relative;">
                    <input data-date="" data-date-format="DD.MM.YYYY" class="input-master" type="date" id="document-date" />
                </div>
            </div>
        </div>
    </div>
</fieldset>
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-xs btn-primary pull-right" id="item-id" disabled><i class="fas fa-list"></i> @Localizer["Choose"]</button>
    </div>
    <div class="col-md-12 myt1">
        <input id="barcode-reading" class="form-control" placeholder="@Localizer["Barcode reading..."]" disabled autofocus/>
    </div>

</div>
<fieldset class="scheduler-borders">
    <legend class="scheduler-border" style="font-size:16px;
        font-weight:600;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">@Localizer["Sale Quotation Detail"]</legend>
    <div class="wrap-table detail">
        <table id="list-detail">
            <tr>
                <th style="min-width:5px;">@Localizer["No."]</th>
                <th>@Localizer["Item Code"]</th>
                <th style="min-width:150px;">@Localizer["Description"]</th>
                <th>@Localizer["Quantity"]</th>
                <th class="text-center">@Localizer["UoM"]</th>
                <th style="min-width:110px;">@Localizer["Unit Price"]</th>
                <th>@Localizer["Discount"]<i class="fa" id="add-font"></i></th>
                <th>@Localizer["Discount Type"]</th>
                <th>@Localizer["VAT"]</th>
                <th>@Localizer["Total"]</th>
                <th>@Localizer["Remarks"]</th>
                <th>@Localizer["Action"]</th>
            </tr>
        </table>
    </div>
</fieldset>
<div class="row">
    <div class="col-md-5">
        <div class="row">
            <div class="col-md-5">
                <input value="@Localizer[" Exchange Rate"]" class="input-master" readonly style="border:none; background-color:transparent;" />
            </div>
            <div class="col-md-7">
                <input type="text" readonly id="ex-id" class="input-master" />
            </div>

            <div class="col-md-5">
                <input value="@Localizer["Remarks"]" readonly style="border:none; background-color:transparent;" />
            </div>
            <div class="col-md-7">
                <textarea id="remark-id" style="height:45px;" class="form-control"></textarea>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5">
        <div class="row">
            <div class="col-md-5">
                <input value="@Localizer["Sub Total"]" readonly style="border:none; background-color:transparent;" />
            </div>
            <div class="col-md-7" style="position:relative;">
                <span style="position:absolute;left:18px;top:5px;font-weight:700;" class="cur-class"></span>
                <input type="text" readonly id="sub-id" class="input-master" value="0" style="padding-left:30px;" />
            </div>
            <div class="col-md-5">
                <input value="@Localizer["Discount"]" readonly style="border:none; background-color:transparent;" />
            </div>
            <div class="col-md-7" style="display:flex;">
                <select id="sub-dis-id" style="height:27px; line-height:27px; border:1px solid rgb(181, 179, 179);border-radius:3px; margin-right:3px;min-width:53px;">
                    <option value="Percent"> % </option>
                    <option value="Cash"> $ </option>
                </select>
                <input type="text" id="dis-id" class="input-master summary" data-number value="0" />
            </div>

            <div class="col-md-5">
                <input value="@Localizer["VAT"]" readonly style="border:none; background-color:transparent;" />
            </div>
            <div class="col-md-7" style="display:flex;">
                <select id="vat-id" disabled class="vat-id summary" style="height:27px; line-height:27px; border:1px solid rgb(181, 179, 179);border-radius:3px; margin-right:3px;width:60px;">
                    <option value="0"></option>
                </select>
                <input type="text" id="vat-value" class="input-master summary" value="0" data-number disabled />
            </div>

            @*<div class="col-md-5">
                    <input value="@Localizer["Applied Amount"]" readonly style="border:none; background-color:transparent;" />
                </div>
                <div class="col-md-7" style="position:relative;">
                    <span style="position:absolute;left:18px;top:5px;font-weight:700;" class="cur-class"></span>
                    <input type="text" id="app-id" style="padding-left:30px;" readonly />
                </div>*@
            <div class="col-md-5">
                <input value="@Localizer["Total Amount"]" class="input-master" readonly style="border:none; background-color:transparent;" />
            </div>
            <div class="col-md-7" style="position:relative;">
                <span style="position:absolute;left:18px;top:5px;font-weight:700;" class="cur-class"></span>
                <input type="text" id="total-id" class="input-master" style="padding-left:30px;" readonly value="0" />
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button id="submit-item" class="btn btn-primary"><i class="fas fa-save"></i> @Localizer["Save"]</button>
        <a href="/Sale/SaleQuote" class="btn btn-primary"><i class="fas fa-window-close"></i> @Localizer["Cancel"]</a>
    </div>
</div>

<div class="modal fade modal-dialog-container" id="ModalCus" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4>List Customer</h4>
            </div>
            <div class="modal-body">
                <div style="display:flex;">
                    <label style="margin-top:5px;margin-right:10px;"><i class="fas fa-search fa-lg"></i></label>
                    <input type="text" id="find-cus" class="input-master" style="width: 50%;" autocomplete="off" />
                </div>
                <div>
                    <img id="data-loading" class="ck-data-loading" src="~/Images/ajaxloader/loading.gif" />
                    <div class="wrap-table cus">
                        <table id="list-cus">
                            <tr>
                                <th style="min-width:3px;width:3px;"><i>#</i></th>
                                <th>Code</th>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Phone</th>
                            </tr>
                        </table>
                    </div>
                    <div id="data-paging-customer"></div>
                </div>
            </div>
            <div class="modal-footer" style="padding:3px;">
                <button class="btn  btn-primary" id="cus-choosed">@Localizer["Choosed"]</button>
                <button class="btn btn-primary" id="cus-cancel" data-dismiss="modal">@Localizer["Cancel"]</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-dialog-container" id="ModalItem" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4>List Item Master Data</h4>
            </div>
            <div class="modal-body">
                <div style="display:flex;">
                    <label style="margin-top:5px;margin-right:10px;"><i class="fas fa-search"></i></label>
                    <input type="text" id="find-item" style="width: 50%;" class="input-master" autocomplete="off" />
                </div>
                <div>
                    <img id="data-loading" class="ck-data-loading" src="~/Images/ajaxloader/loading.gif" />
                    <div class="wrap-table item">
                        <table id="list-item">
                            <tr>
                                <th style="min-width:3px;width:3px;"><i>#</i></th>
                                <th>@Localizer["Code"]</th>
                                <th style="min-width:200px;">@Localizer["Description"]</th>
                                <th>@Localizer["Price"]</th>
                                <th>@Localizer["Uom"]</th>
                                <th>@Localizer["Barcode"]</th>
                            </tr>
                        </table>
                    </div>
                    <div id="data-paging-item"></div>
                </div>
            </div>
            <div class="modal-footer" style="padding:3px;">
                <button class="btn  btn-primary" id="item-master-choosed">@Localizer["Choosed"]</button>
                <button class="btn btn-primary" id="cus-cancel" data-dismiss="modal">@Localizer["Cancel"]</button>
            </div>
        </div>
    </div>
</div>


