﻿@model POS_WEB.Models.Sale.HistoryOfSaleViewModel;
<script src="~/js/warehouse.js"></script>
<script src="~/js/Sale/history-ar.js" type="text/javascript" async></script>
<style>
    .row > :not(:last-child) {
        padding-right: 0rem;
        margin-bottom: 5px;
    }

    .row .form-label {
        font-weight: bold;
    }

    .sh-print {
        text-align: center !important;
    }

    .wrap-table.sale-histories {
        position:relative;
        min-height: 350px;
    }

    .wrap-table.sale-histories tr:not(:first-child) {
        line-height: 30px;
        font-family: monospace !important;
    }
</style>

<input id="datasource" hidden value="@Json.Serialize(Model.SaleHistories)">
<div class="row">
    <div class="col-md-4">
        <label class="form-label">@Localizer["Customer"]</label>
        <select id="sale-customer" class="form-control">
            <option value="0" selected>--- select ---</option>
            @foreach (var c in Model.Customers)
            {
                <option value="@c.ID">@c.Name</option>
            }
        </select>
    </div>
    <div class="col-md-4">
        <label class="form-label">@Localizer["Warehouse"]</label>
        <select id="sale-warehouse" class="form-control">
            <option value="0" selected>--- select ---</option>
            @foreach (var c in Model.Warhouses)
            {
                <option value="@c.ID">@c.Name</option>
            }
        </select>
    </div>

    <div class="col-md-4">
        <label class="form-label"> </label>
        <div class="input-group">
            <input id="input-search" class="form-control" type="text" placeholder="@Localizer["Search Sale AR Histories..."]" />
            <button id="btn-search" class="input-group-btn"><i class="fa fa-search "></i></button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <label class="form-label">@Localizer["Date Type"]</label>
        <select id="sale-date-type" class="form-control">
            <option value="0" selected>--- select ---</option>
            <option value="1" selected>@Localizer["Posting Date"]</option>
            <option value="2">@Localizer["Document Date"]</option>
            <option value="3">@Localizer["Due Date"]</option>
        </select>
    </div>
    <div class="col-md-4">
        <label class="form-label">@Localizer["From"]</label>
        <input id="sale-date-from" type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
    </div>

    <div class="col-md-4">
        <label class="form-label">@Localizer["To"]</label>
        <input id="sale-date-to" type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
    </div>
</div>

<div>
    <img id="data-loading" class="ck-data-loading" src="~/Images/ajaxloader/loading.gif" />
    <div class="wrap-table list myt1 sale-histories">
        <table id="sale-histories" cellspacing="0">
            <tr>
                <th>@Localizer["Invoice A/R"]</th>
                <th>@Localizer["Customer"]</th>
                <th>@Localizer["User"]</th>
                <th>@Localizer["Balance Due(LC)"]</th>
                <th>@Localizer["Balance Due(SC)"]</th>
                <th>@Localizer["Exchange Rate"]</th>
                <th>@Localizer["Posting Date"]</th>
                <th>@Localizer["Document Date"]</th>
                <th>@Localizer["Due Date"]</th>
                <th>@Localizer["Status"]</th>
                <th class="text-center">@Localizer["Print"]</th>
            </tr>
        </table>
    </div>
    <div id="data-paging-container"></div>
</div>

