﻿@model BusinessPartner

@{
    ViewData["Title"] = "Create";}

<style>
    .fa {
        margin-right: 4px;
    }

    .fa-plus-circle {
        color: white;
    }

    .modal-content {
        margin-top: 20px;
    }

    .modal-header {
        background-color: blue;
    }

    .form-group {
        padding: 0px;
        margin: 0px;
    }

    .btnBotton {
        margin-top: 10px;
    }
</style>

<form asp-action="Create">
    <div class="row">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID"/>
            <div class="form-group">
                <span>@ViewBag.Error</span>
                <label asp-for="Code" class="control-label">@Localizer["Code"] :</label>

                <input asp-for="Code" class="form-control" />
                <span class="text-danger">@ViewBag.Error</span>
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">@Localizer["Name"] :</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceListID" class="control-label">@Localizer["PriceList"] :</label>
                <div class="input-group">
                    <select asp-for="PriceListID" class="form-control" asp-items="ViewBag.B" id="txtselectprice">
                        <option value="0" selected disabled>--- Select ---</option>
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-sm " type="button" data-toggle="modal" data-target="#ModalPricelist"><i class="fa fa-plus-circle" style="color:blue;"></i></button>
                    </div>
                </div>

                <div class="text-danger">@ViewBag.pricelist</div>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label">@Localizer["Type"] :</label>
                <select asp-for="Type" class="form-control">
                    <option value="0" selected disabled>--- Select ---</option>
                    <option value="Vendor">Vendor</option>
                    <option value="Customer">Customer</option>
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
                <div class="text-danger">@ViewBag.Errortype</div>
            </div>


        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Phone" class="control-label">@Localizer["Phone"] :</label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">@Localizer["Email"] :</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label">@Localizer["Address"]</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12 pull-left btnBotton">
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-xs"><i class="fa fa-save"></i>@Localizer["Save"]</button>
                <a asp-action="Index" class="btn btn-danger btn-xs"><i class="fa fa-reply"></i>@Localizer["Back"]</a>
            </div>
        </div>
    </div>

</form>
<div class="modal fade" id="ModalPricelist">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <i class="fa fa-plus-circle" id="styleheader"><b>@Localizer["PriceList"]</b></i>

            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="col-sm-3 control-label">@Localizer["PriceListName"] :</label>
                            <input type="text" class="col-sm-9 form-control" id="txtpricelist" />
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 control-label">@Localizer["Currency"] :</label>
                            <select type="text" class="col-sm-9 form-control" id="txtcurrency">
                                <option value="0" selected disabled>--- Select ---</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-xs btn-primary" onclick="clickinsertpricelist()"><i class="fa fa-plus-circle"></i>@Localizer["Add"]</button>
                <button class="btn btn-xs btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i>@Localizer["Close"]</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $.ajax({
            url: "/Currency/GetCurrency",
            type: "GET",
            dataType: "JSON",
            success: function (respones) {
                var data = "";

                $.each(respones, function (i, item) {
                    data +=
                        '<option value="' + item.ID + '">' + item.Symbol + '</option>';
                });
                $("#txtcurrency").append(data);
            }
        });

    });
    $(".modal-header").on("mousedown", function (mousedownEvt) {
        var $draggable = $(this);
        var x = mousedownEvt.pageX - $draggable.offset().left,
            y = mousedownEvt.pageY - $draggable.offset().top;
        $("body").on("mousemove.draggable", function (mousemoveEvt) {
            $draggable.closest(".modal-dialog").offset({
                "left": mousemoveEvt.pageX - x,
                "top": mousemoveEvt.pageY - y
            });
        });
        $("body").one("mouseup", function () {
            $("body").off("mousemove.draggable");
        });
        $draggable.closest(".modal").one("bs.modal.hide", function () {
            $("body").off("mousemove.draggable");
        });
    });
    function clickinsertpricelist() {

        var name = $("#txtpricelist").val();
        var cur = $("#txtcurrency").val();

        var count = 0;
        if (name == 0) {
            count++;
            $("#txtpricelist").css("border-color", "red");

        } else {
            $("#txtpricelist").css("border-color", "lightgrey");
            count = 0;
        }
        if (cur == 0) {
            count++;
            $("#txtcurrency").css("border-color", "red");
        }
        else {
            $("#txtcurrency").css("border-color", "lightgrey");
        }
        if (count > 0) {
            count = 0;
            return;
        }
        var data = {
            Name: name,
            CurrencyID: cur
        }
        $.ajax({
            url: "/PriceList/InsertPricelist",
            type: "POST",
            dataType: "JSON",
            data: { priceList: data },
            complete: function (respones) {
                $("#txtpricelist").val("");
                $("#txtcurrency").val("");
                $.ajax({
                    url: "/PriceList/GetselectPricelist",
                    type: "Get",
                    dataType: "JSON",
                    success: function (respones) {
                        var sata = "";
                        $.each(respones, function (i, item) {
                            sata +=
                                '<option value="' + item.ID + '">' + item.Name + '</option>';
                        });
                        $("#txtselectprice").html(sata);
                    }
                })
            }

        });
    }
</script>


