﻿@model IEnumerable<POS_WEB.Models.Services.Purchase.Print.PrintPurchaseAP>
@{
    ViewData["Title"] = "PurchaseOrder";
    Layout = "_Layout_print";
    var num = 0;
    double profit = 0;

    //var datefrom = Convert.ToDateTime(Model.First().DateFrom);
    //var dateto = Convert.ToDateTime(Model.First().DateTo);
}

<style>
    body {
        font-family: 'Khmer OS Battambang';
        font-size: 14px;
    }
    .tbfontsize {
        font-size: 16px;
    }
</style>

<div class="row" style="margin: 30px -1px 20px -10px">
    <div class="col-xs-5">
        <div style="margin-top: 20px; padding:10px;">           
            <h3>Information Vendor</h3>
        </div>
        <table class="tbfontsize">
            <tr>
                <th>Name</th>
                <td style="padding: 0 5px 0 5px">:</td>
                <td>@Model.First().VendorName</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td style="padding: 0 5px 0 5px">:</td>
                <td>@Model.First().Phone</td>
            </tr>
            <tr>
                <th>Reff No</th>
                <td style="padding: 0 5px 0 5px">:</td>
                <td>@Model.First().VendorNo</td>
            </tr>
            <tr>
                <th>Address</th>
                <td style="padding: 0 5px 0 5px">:</td>
                <td>@Model.First().Address</td>
            </tr>
        </table>
    </div>
    <div class="col-xs-3"></div>
    <div class="col-xs-4">
        <div style="margin-top: 20px; padding:10px; color:orangered">           
            <h3>PO INVOICE</h3>
        </div>
        <table class="tbfontsize">
            <tr>
                <th>Invoice No</th>
                <td style="padding: 0 5px 0 5px">:</td>
                <td>@Model.First().Invoice</td>
            </tr>
            <tr>
                <th>Posting Date</th>
                <td style="padding: 0 5px 0 5px">:</td>
                <td>@Model.First().PostingDate</td>
            </tr>
            <tr>
                <th>DueDate</th>
                <td style="padding: 0 5px 0 5px">:</td>
                <td>@Model.First().DueDate</td>
            </tr>
            <tr>
                <th>Document Date</th>
                <td style="padding: 0 5px 0 5px">:</td>
                <td>@Model.First().DocumentDate</td>
            </tr>
            <tr>
                <th>By User</th>
                <td style="padding: 0 5px 0 5px">:</td>
                <td>@Model.First().UserName</td>
            </tr>
        </table>
    </div>
</div>

<div style="min-height:1000px;border: 1px outset grey">
    <table class="table">
        <thead>
            <tr style="background:#5F758B;color:white;">
                <th width="30">No.</th>
                <th>Code</th>
                <th>Name(KH)</th>  
                <th>Qty</th>
                <th>UomName</th>
                <th>Price</th>
                <th>Discount</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                num++;
                //profit += item.Profit;
                <tr>
                    <td>@num</td>
                    <td>@item.Code</td>
                    <td>@item.KhmerName</td>
                    <td>@item.Qty</td>
                    <td>@item.UomName</td>
                    <td>@item.Price</td>
                    <td>@item.DiscountValue_Detail</td>
                    <td>@item.Total_Sys</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div style="float:right; border:1px outset grey; border-top:0px !important; padding:10px 22px 10px 10px">
    <table>
        <tr>
            <th>Sub Total</th>
            <td style="padding: 0 40px 0 15px">:</td>
            <td>@(Model.First().SysCurrency) @(Model.First().Sub_Total_Sys)</td>
        </tr>
        <tr>
            <th>Discount Value</th>
            <td style="padding: 0 40px 0 15px">:</td>
            <td>@(Model.First().SysCurrency) @(Model.First().DiscountValue)</td>
        </tr>
        <tr>
            <th>Vat</th>
            <td style="padding: 0 40px 0 15px">:</td>
            <td>@(Model.First().SysCurrency) @(Model.First().TaxValue)</td>
        </tr>
        <tr>
            <th>Applied Amount</th>
            <td style="padding: 0 40px 0 15px">:</td>
            <td>@(Model.First().SysCurrency) @(Model.First().Applied_Amount)</td>
        </tr>
        <tr>
            <th>Total Due</th>
            <td style="padding: 0 40px 0 15px">:</td>
            <td>@(Model.First().SysCurrency) @(Model.First().Balance_Due_Sys)</td>
        </tr>
    </table>    
</div>

<footer style="margin-top: 100px;">
    <div style="margin-top: 90px; padding:10px">
        <h5>Print Date : @DateTime.Now.ToString("dd-MM-yyyy")</h5>
    </div>
</footer>

