﻿@model IEnumerable<POS_WEB.Models.Services.ReportSale.SummaryRevenuesItem>
@{
    ViewData["Title"] = "PrintRevenuesItem";
    Layout = "_Layout_print";
    var num = 0;
    double profit = 0;
    
    var datefrom = Convert.ToDateTime(Model.First().DateFrom);
    var dateto = Convert.ToDateTime(Model.First().DateTo);
}

<style>
    body {
        font-family: 'Khmer OS Battambang';
        font-size: 14px;
    }
    .tbfontsize {
        font-size: 16px;
    }
</style>
<div class="text-center" style="margin-top: 20px; padding:10px;">
    <h3>របាយការណ៍ប្រាក់ចំណេញតាមទំនិញ</h3>
    <h3>Revenues Item Report</h3>
</div>
<div class="row" style="margin: 30px -1px 20px -10px">
    <div class="col-xs-5">
        <table class="tbfontsize">
            <tr>
                <th>Branch</th>
                <td style="padding: 0 5px 0 5px">:</td>
                <td>@Model.First().Branch</td>
            </tr>
            <tr>
                <th>Date From</th>
                <td style="padding: 0 5px 0 5px">:</td>
                <td>@datefrom.ToString("dd-MM-yyyy")</td>
            </tr>
            <tr>
                <th>Date To</th>
                <td style="padding: 0 5px 0 5px">:</td>
                <td>@dateto.ToString("dd-MM-yyyy")</td>
            </tr>
        </table>
    </div>
    <div class="col-xs-2"></div>
    <div class="col-xs-5">
        <table></table>
    </div>
</div>

<div style="min-height:300px;border: 1px outset grey">
    <table class="table">
        <thead>
            <tr style="background:#5F758B;color:white;">
                <th width="30">No.</th>
                <th>Code</th>
                <th>Name(KH)</th>
                <th>Name(EN)</th>
                <th>Qty</th>
                <th>Total Cost</th>
                <th>Total Price</th>
                <th>Profit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                num++;
                profit += item.Profit;
            <tr>
                <td>@num</td>
                <td>@item.Code</td>
                <td>@item.KhmerName</td>
                <td>@item.EnglishName</td>
                <td>@item.Qty</td>
               
                <td>@item.TotalCost</td>
                <td>@item.TotalPrice</td>
                @if (item.Currency == "KHR" || item.Currency == "៛")
                {
                    <td>@(item.Currency + " " + string.Format("{0:n0}", item.Profit))</td>
                }
                else
                {
                    <td>@(item.Currency + " " + string.Format("{0:n2}", item.Profit))</td>
                }

            </tr>
            }
        </tbody>
    </table>
</div>
<div style="float:right; border:1px outset grey; border-top:0px !important; padding:10px 22px 10px 10px">
    <table>
        <tr>
            <th>Sub Total</th>
            <td style="padding: 0 40px 0 15px">:</td>
            @if (Model.First().Currency == "KHR" || Model.First().Currency == "៛")
            {
                <td>@(Model.First().Currency + " " + string.Format("{0:n0}", profit))</td>
            }
            else
            {
                <td>@(Model.First().Currency + " " +string.Format("{0:n2}",profit))</td>
            }
            
        </tr>
    </table>
</div>

