﻿
@{
    ViewData["Title"] = "Close Shift Report";
}
<head>
    <style>
        .dx-checkbox-container {
            height: -webkit-max-content;
            height: -moz-max-content;
            height: max-content;
        }

        .options {
            padding: 20px;
            /*margin-top: 20px;*/
            background-color: rgba(191, 191, 191, 0.15);
        }

        .caption {
            font-size: 18px;
            font-weight: 500;
        }

        .option {
            margin-top: 10px;
        }

        #gridContainerDetail {
            max-height: 550px;
        }
        /*#gridContainer .dx-datagrid-header-panel {
            padding: 0;
            background-color: rgba(85, 149, 222, 0.6);
        }*/

        #gridContainer .dx-datagrid-header-panel .dx-toolbar {
            margin: 0;
            padding-right: 20px;
            background-color: transparent;
        }

        #gridContainer .dx-datagrid-header-panel .dx-toolbar-items-container {
            height: 70px;
        }

        #gridContainer .dx-datagrid-header-panel .dx-toolbar-before .dx-toolbar-item:not(:first-child) {
            background-color: rgba(103, 171, 255, 0.6);
        }

        #gridContainer .dx-datagrid-header-panel .dx-toolbar-before .dx-toolbar-item:last-child {
            padding-right: 10px;
        }

        #gridContainer .dx-datagrid-header-panel .dx-selectbox {
            margin: 17px 10px;
        }

        #gridContainer .dx-datagrid-header-panel .dx-button {
            margin: 17px 0;
        }

        #gridContainer .informer {
            height: 70px;
            width: 130px;
            text-align: center;
            color: #fff;
        }

        #gridContainer .count {
            padding-top: 15px;
            line-height: 27px;
            margin: 0;
        }

        .input_datefrom, .input_dateto, .input_user, .input_branch {
            -webkit-transition: all 0.30s ease-in-out;
            -moz-transition: all 0.30s ease-in-out;
            -o-transition: all 0.30s ease-in-out;
            outline: none;
            padding: 3px 0px 3px 3px;
            margin: 5px 1px 3px 0px;
            border: 1px solid #DDDDDD;
            width: 100%;
            min-width: 100%;
            height: 34px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 14px;
            border-radius: 3px;
        }

        .lable_branch, .lable_datefrom, .lable_dateto, .lable_user {
            font-family: Arial;
            font-size: 12px;
            font-weight: 700;
        }

        .btn-success, .btn-primary {
            margin-top: 25px;
            font-size: 12px;
            font-family: Arial;
            height: 28px;
        }

        table.dx-datagrid-table tr.dx-row.dx-column-lines.dx-header-row {
            background: #5F758B;
            color: #EEE;
            opacity: 1;
            line-height: 20px;
            transition: all .2s ease-out;
        }

        table tr {
            opacity: 1;
            line-height: 20px;
            transition: all .2s ease-out;
        }
    </style>

</head>
<body class="dx-viewport">
    <div id="popupContainer" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">Close Shift Detail</div>
                <div class="modal-body">
                    <div id="gridContainerDetail"></div>
                    <div class="options">
                        <div class="option">
                            <div id="autoExpand"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" data-dismiss="modal"><button>Close</button></div>
            </div>
        </div>
    </div>
    <div class="demo-container">
        <div class="options">
            <div class="row">
                <div class="col-md-2">
                    <label class="lable_datefrom">@Localizer["Date From"]</label>
                    <input type="date" class="input_datefrom" id="datefrom" />
                </div>
                <div class="col-md-2">
                    <label class="lable_dateto">@Localizer["Date To"]</label>
                    <input type="date" class="input_dateto" id="dateto" />
                </div>
                <div class="col-md-2">
                    <label class="lable_branch">@Localizer["By Branch"]</label>
                    <select type="text" class="input_branch" id="bybranch">
                        <option value="0"></option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label class="lable_user">@Localizer["User Name"] </label>
                    <select type="text" class="input_user" id="byuser">
                        <option value="0"></option>
                    </select>
                </div>
                <div class="col-md-4 ">
                    <button class="btn btn-xs btn-success" id="filter"><i class="fas fa-search" style="margin-right:5px;"></i>@Localizer["Filter"]</button>
                    @*<button class="btn btn-xs btn-primary" id="preview">@Localizer["Preview"]</button>*@
                </div>

            </div>
        </div>
        <div id="gridContainer"></div>
    </div>
</body>
<script>
    $(function () {
        filterData();
        //Get branch
        $.ajax({
            url: "/DevReport/GetBranch",
            type: "Get",
            dataType: "Json",
            success: function (respones) {
                var data = '';
                $.each(respones, function (i, item) {
                    data +=
                        '<option value="' + item.ID + '">' + item.Name + '</option>';
                });
                $("#bybranch").append(data);
            }
        });
        $("#bybranch").on('change', function () {
            var branchid = $(this).val();
            // Get Employee
            $.ajax({
                url: "/DevReport/GetEmployee",
                type: "Get",
                dataType: "Json",
                data: { BranchID: branchid },
                success: function (respones) {
                    var data = '';
                    $("#byuser option:not(:first-child)").remove();
                    $.each(respones, function (i, item) {
                        data +=
                            '<option value="' + item.ID + '">' + item.Employee.Name + '</option>';
                    });
                    $("#byuser").append(data);
                }
            })
        });
        $('#filter').click(function () {
            filterData(this);
        });
        function filterData(button) {
            let btn_filter = $(button).children("i.fa-search");
            var date_from = $("#datefrom").val();
            var date_to = $("#dateto").val();
            var branch_id = $("#bybranch").val();
            var user_id = $("#byuser").val();
            $.ajax({
                url: "/DevReport/CloseShiftReport",
                type: 'GET',
                dataType: 'JSON',
                data: {
                    DateFrom: date_from,
                    DateTo: date_to,
                    BranchID: branch_id,
                    UserID: user_id
                },
                beforeSend: function () {
                    btn_filter.addClass("fa-spinner fa-spin");
                },
                success: function (reponse) {
                    bindGrid(reponse);
                    btn_filter.removeClass("fa-spinner fa-spin");
                }
            });
        }
        function bindGrid(reponse) {
            var dataGrid = $("#gridContainer").dxDataGrid({
                dataSource: reponse,
                showBorders: true,
                allowColumnResizing: true,
                columnResizingMode: "nextColumn",
                //columnMinWidth: 50,
                selection: {
                    mode: "single"
                },
                hoverStateEnabled: true,
                columnAutoWidth: true,
                scrolling: {
                    columnRenderingMode: "virtual"
                },
                grouping: {
                    autoExpandAll: false,
                },
                searchPanel: {
                    visible: true
                },
                filterRow: {
                    visible: false,
                    applyFilter: "auto"
                },
                paging: {
                    pageSize: 10
                },
                pager: {
                    showPageSizeSelector: true,
                    allowedPageSizes: [5, 10, 20,50,100],
                    showInfo: true
                },
                loadPanel: {
                    enabled: true
                },
                groupPanel: {
                    visible: false
                },
                columns: [
                    {
                        dataField: "Trans",
                        width: -9999
                    },
                    {
                        caption: "",
                        width: 85,
                        cellTemplate: function (container, options) {
                            $('<button/>')
                                .text('Preview')
                                .on('dxclick', function () {
                                    previewDetail($(this).parent().prev().text())
                                })
                                .appendTo(container);
                        }

                    },
                    {
                        dataField: "EmpName",
                        caption: "Emp. Name",
                        width: 150,
                        fixed: true,
                        fixedPosition: "left"
                    },
                    {
                        caption: "Date In",
                        dataField: "DateIn"
                    },
                    {
                        caption: "Time In",
                        dataField: "TimeIn",
                        alignment: "right"
                    },
                    {
                        caption: "Date Out",
                        dataField: "DateOut",
                        alignment: "right"
                    },
                    {
                        caption: "Time Out",
                        dataField: "TimeOut",
                        alignment: "right"
                        
                    },
                    {
                        caption: "Cash In",
                        dataField: "CashInAmountSys",
                        alignment: "right"
                    },
                    {
                        caption: "Total",
                        dataField: "SaleAmountSys",
                        alignment: "right"
                    },
                    {
                        caption: "Total(LOC)",
                        dataField: "SaleAmount",
                        alignment: "right"
                    },
                    {
                        caption: "Total Cash Out",
                        dataField: "TotalCashOutSys",
                        //alignment: "right",
                        //format: {
                        //    type: "fixedPoint",
                        //    precision: 2
                        //}
                        //hidingPriority: 0
                    },
                    {
                        caption: "Cash Out",
                        dataField: "CashOutAmountSys",
                        alignment: "right"
                    }
                ],
                summary: {
                    totalItems: [
                        {
                            showInColumn: "CashInAmountSys",
                            displayFormat: "Grand Total :",
                            alignment: "left"
                        },
                        //hidden columns
                        {
                            showInColumn: "SaleAmountSys",
                            column: "SumSaleAmountSys",
                            summaryType: "sum",
                            displayFormat: "{0}",
                            alignment: "left"
                        },
                        {
                            showInColumn: "SaleAmount",
                            column: "SumSaleAmount",
                            summaryType: "sum",
                            displayFormat: "{0}",
                            alignment: "left"
                        },
                        
                        {
                            showInColumn: "TotalCashOutSys",
                            column: "SumTotalCashOutSys",
                            summaryType: "sum",
                            displayFormat: "{0}",
                            alignment: "left"
                        },

                    ],
                },
                onSelectionChanged: function (selectedItems) {
                    var data = selectedItems.selectedRowsData[0];
                    if (data) {
                        console.log('selected :'+data.EmpName)
                    }
                },
                export: {
                    enabled: true
                },
                onExporting: function (e) {
                    var workbook = new ExcelJS.Workbook();
                    var worksheet = workbook.addWorksheet('close-shift-report.xlsx');

                    DevExpress.excelExporter.exportDataGrid({
                        component: e.component,
                        worksheet: worksheet,
                        topLeftCell: { row: 4, column: 1 }
                    }).then(function (dataGridRange) {
                        // header
                        var headerRow = worksheet.getRow(2);
                        headerRow.height = 30;
                        worksheet.mergeCells(2, 1, 2, 11);
                        headerRow.getCell(1).value = 'Close Shift Report';
                        headerRow.getCell(1).font = { name: 'Segoe UI Light', size: 22 };
                        headerRow.getCell(1).alignment = { horizontal: 'center' };

                        // footer
                        //var footerRowIndex = dataGridRange.to.row + 2;
                        //var footerRow = worksheet.getRow(footerRowIndex);
                        //worksheet.mergeCells(footerRowIndex, 1, footerRowIndex, 8);
                        //footerRow.getCell(1).value = 'www.wikipedia.org';
                        //footerRow.getCell(1).font = { color: { argb: 'BFBFBF' }, italic: true };
                        //footerRow.getCell(1).alignment = { horizontal: 'right' };

                    }).then(function () {
                        // https://github.com/exceljs/exceljs#writing-xlsx
                        workbook.xlsx.writeBuffer().then(function (buffer) {
                            saveAs(new Blob([buffer], { type: 'application/octet-stream' }), 'close-shift-report.xlsx');
                        });
                    });
                    e.cancel = true;
                },
                onToolbarPreparing: function (e) {
                    var dataGrid = e.component;
                    e.toolbarOptions.items.unshift({
                        location: "before",
                        template: function () {
                            return 
                        }
                    },
                        {
                            location: "after",
                            widget: "dxButton",
                            options: {
                                icon: "refresh",
                                onClick: function () {
                                    dataGrid.refresh();
                                    filterData();
                                }
                            }
                        }
                    );
                }

            }).dxDataGrid("instance");
        }
        function previewDetail(key) {
            if (key != undefined) {
                let data = key.split('/');
                let tran_f = data[0];
                let tran_t = data[1];
                let user_id = data[2];
                window.open("/DevPrint/PrintCloseShiftDetail?TranF=" + tran_f + "&TranT=" + tran_t + "&UserID=" + user_id + "&Type="+"Admin"+"","_blank");
            }
        }
       
    })


</script>

