﻿
@{
    ViewData["Title"] = "Stock Expired View";
}
<head>

    <style>
        .dx-checkbox-container {
            height: 30px;
            line-height: 30px;
        }

        .bottom-options {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            min-height: 150px;
            background-color: rgba(191, 191, 191, 0.15);
            padding: 5px;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
        }

            .bottom-options .option {
                display: inline-block;
                height: 100%;
            }

                .bottom-options .option .item-check {
                    padding: 5px 0;
                }

                .bottom-options .option .item-image {
                    height: 150px;
                }

                .bottom-options .option item-image-subtitle {
                    text-align: center !important;
                    font-family: monospace;
                    height: 30px;
                    line-height: 30px;
                    font-weight: 100;
                }

        .options {
            padding: 10px;
            /*margin-top: 20px;*/
            background-color: rgba(191, 191, 191, 0.15);
        }

        .caption {
            font-size: 18px;
            font-weight: 500;
        }

        .option {
            margin-top: 10px;
        }

        #gridContainer .dx-datagrid-header-panel .dx-toolbar {
            margin: 0;
            padding-right: 20px;
            background-color: transparent;
        }

        #gridContainer .dx-datagrid-header-panel .dx-toolbar-items-container {
            height: 70px;
        }

        #gridContainer .dx-datagrid-header-panel .dx-toolbar-before .dx-toolbar-item:not(:first-child) {
            background-color: rgba(103, 171, 255, 0.6);
        }

        #gridContainer .dx-datagrid-header-panel .dx-toolbar-before .dx-toolbar-item:last-child {
            padding-right: 10px;
        }

        #gridContainer .dx-datagrid-header-panel .dx-selectbox {
            margin: 17px 10px;
        }

        #gridContainer .dx-datagrid-header-panel .dx-button {
            margin: 17px 0;
        }

        #gridContainer .informer {
            height: 70px;
            width: 130px;
            text-align: center;
            color: #fff;
        }

        #gridContainer .count {
            padding-top: 15px;
            line-height: 27px;
            margin: 0;
        }

        .input_datefrom, .input_dateto, .input_user, .input_branch {
            -webkit-transition: all 0.30s ease-in-out;
            -moz-transition: all 0.30s ease-in-out;
            -o-transition: all 0.30s ease-in-out;
            outline: none;
            padding: 3px 0px 3px 3px;
            margin: 5px 1px 3px 0px;
            border: 1px solid #DDDDDD;
            width: 100%;
            min-width: 100%;
            height: 34px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 14px;
            border-radius: 3px;
        }

        .lable_branch, .lable_datefrom, .lable_dateto, .lable_user {
            font-family: Arial;
            font-size: 12px;
            font-weight: 700;
        }

        .btn-success, .btn-primary {
            margin-top: 25px;
            font-size: 12px;
            font-family: Arial;
            height: 28px;
        }

        table.dx-datagrid-table tr.dx-row.dx-column-lines.dx-header-row {
            background: #5F758B;
            color: #EEE;
            opacity: 1;
            line-height: 20px;
            transition: all .2s ease-out;
        }

        table tr {
            opacity: 1;
            line-height: 20px;
            transition: all .2s ease-out;
        }

        .dark #itemInfo .itemNotes {
            color: rgb(181, 181, 181);
        }
        /*#gridContainer {
            height: 450px;
        }*/

    </style>

</head>
<body class="dx-viewport">
    <div class="demo-container">
        <div class="options">
            <div class="row">

                <div class="col-md-2">
                    <label class="lable_branch">@Localizer["By Branch"]</label>
                    <select type="text" class="input_branch" id="bybranch">
                        <option value="0"></option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label class="lable_user">@Localizer["Warehouse"] </label>
                    <select type="text" class="input_user" id="bywhid">
                        <option value="0">All</option>
                    </select>
                </div>
                <div class="col-md-4 ">
                    <button class="btn btn-xs btn-success" id="filter"><i class="fas fa-search" style="margin-right:5px;"></i>@Localizer["Filter"]</button>
                    @*<button class="btn btn-xs btn-primary" id="preview">@Localizer["Preview"]</button>*@
                </div>

            </div>
        </div>
        <div id="gridContainer"></div>

        <div class="bottom-options">
            <div class="option">
                <div id="autoExpand"></div>
                @*<div class="item-check"><input type="checkbox" id="inActive" />Item InActive</div>*@
                @*<div class="item-check"><input type="checkbox" id="showItemExp" />Show Item Expired Date</div>*@
            </div>
            <div class="option" id="itemInfo">
                <img class="itemPhoto item-image" />
                <div class="itemNotes item-image-subtitle"></div>
            </div>
        </div>
    </div>
</body>
<script>
    $(function () {
        filterData();
        //Get branch
        $.ajax({
            url: "/DevReport/GetBranch",
            type: "Get",
            dataType: "Json",
            success: function (respones) {
                var data = '';
                $.each(respones, function (i, item) {
                    data +=
                        '<option value="' + item.ID + '">' + item.Name + '</option>';
                });
                $("#bybranch").append(data);
            }
        });
        $("#bybranch").on('change', function () {
            var branchid = $(this).val();
            // Get Employee
            $.ajax({
                url: "/DevReport/GetWarehouse",
                type: "Get",
                dataType: "Json",
                data: { BranchID: branchid },
                success: function (respones) {
                    var data = '';
                    $("#bywhid option:not(:first-child)").remove();
                    $.each(respones, function (i, item) {
                        data +=
                            '<option value="' + item.ID + '">' + item.Name + '</option>';
                    });
                    $("#bywhid").append(data);
                }
            })
        });
        $('#filter').click(function () {
            filterData(this);
        });
        function filterData(button) {
            let btn_filter = $(button).children("i.fa-search");
            var branch_id = $("#bybranch").val();
            var whid = $("#bywhid").val();
        
            $.ajax({
                url: "/DevReport/StockExpiredReport",
                type: 'GET',
                dataType: 'JSON',
                data: {
                    BranchID: branch_id,
                    WarehouseID: whid
                },
                beforeSend: function () {
                    btn_filter.addClass("fa-spinner fa-spin");
                },
                success: function (reponse) {
                    bindGrid(reponse);
                    btn_filter.removeClass("fa-spinner fa-spin");
                }
            });
        }
        function bindGrid(reponse) {
            var dataGrid = $("#gridContainer").dxDataGrid({
                dataSource: reponse,
                allowColumnReordering: true,
                showBorders: true,
                hoverStateEnabled: true,
                allowColumnResizing: true,
                columnResizingMode: "nextColumn",
                columnMinWidth: 50,
                columnAutoWidth: true,
                hoverStateEnabled: true,
                selection: {
                    mode: "single"
                },
                scrolling: {
                    columnRenderingMode: "virtual"
                },
                grouping: {
                    autoExpandAll: false,
                },
                searchPanel: {
                    visible: true
                },
                filterRow: {
                    visible: false,
                    applyFilter: "auto"
                },
                headerFilter: {
                    visible: true
                },
                paging: {
                    pageSize: 10
                },
                pager: {
                    showPageSizeSelector: true,
                    allowedPageSizes: [5, 10, 20, 50, 100],
                    showInfo: true
                },
                loadPanel: {
                    enabled: true
                },
                groupPanel: {
                    visible: false
                },

                columns: [
                    {
                        dataField: "Barcode",
                        //groupIndex: 0,
                        caption: "Barcode"
                    },
                    {
                        dataField: "Code",
                        //width: 350,
                        caption: "Code",
                    },
                    {
                        dataField: "KhmerName",
                        width: 250,
                        caption: "Khmer Name",

                    },
                    {
                        caption: "English Name",
                        dataField: "EnglishName",
                    },
                    {
                        caption: "In Stock",
                        dataField: "InStock",
                        alignment: "right",
                    },
                    {
                        caption: "Uom",
                        dataField: "Uom",
                        alignment: "right"
                    },
                    {
                        caption: "Cost",
                        dataField: "Cost",
                        alignment: "right"
                       
                    },
                    {
                        caption: "Currency",
                        dataField: "Currency",
                        alignment: "right"

                    },
                    {
                        caption: "Expired Date",
                        dataField: "ExpiredDate",
                        alignment: "right",
                    },
                    
                    {
                        caption: "Wh Code",
                        dataField: "WhCode",
                        alignment: "right",
                        groupIndex: 0,
                    },
                    {
                        caption: "Item ID",
                        dataField: "ItemID",
                        alignment: "right",
                        groupIndex: 1,
                    }
                ],

                summary: {
                    groupItems: [
                        {
                            column: "ItemID",
                            summaryType: "count",
                            displayFormat: "count:{0}",
                        },
                        {
                            showInColumn: "InStock",
                            column: "InStock",
                            summaryType: "sum",
                            displayFormat: "{0}",
                            showInGroupFooter: false,
                            alignByColumn: true
                        },
                        {
                            showInColumn: "Uom",
                            column: "Uom",
                            summaryType: "max",
                            displayFormat: "{0}",
                            showInGroupFooter: false,
                            alignByColumn: true
                        },
                        {
                            showInColumn: "Currency",
                            column: "Currency",
                            summaryType: "max",
                            displayFormat: "{0}",
                            showInGroupFooter: false,
                            alignByColumn: true
                        },
                        {
                            showInColumn: "Cost",
                            column: "Cost",
                            summaryType: "sum",
                            displayFormat: "{0}",
                            showInGroupFooter: false,
                            alignByColumn: true
                        }
                    ]
                },
                onSelectionChanged: function (selectedItems) {
                    var data = selectedItems.selectedRowsData[0];
                    if (data) {
                        var path = '/Images/' + data.Image;
                        $(".itemPhoto").attr("src", path);
                        $(".itemNotes").text(data.KhmerName);
                    }
                },
                export: {
                    enabled: true
                },
                onExporting: function (e) {
                    var workbook = new ExcelJS.Workbook();
                    var worksheet = workbook.addWorksheet('stock-expired-report');

                    DevExpress.excelExporter.exportDataGrid({
                        component: e.component,
                        worksheet: worksheet,
                        topLeftCell: { row: 4, column: 1 }
                    }).then(function (dataGridRange) {
                        // header
                        var headerRow = worksheet.getRow(2);
                        headerRow.height = 30;
                        worksheet.mergeCells(2, 1, 2, 8);
                        headerRow.getCell(1).value = 'Stock Expired Report';
                        headerRow.getCell(1).font = { name: 'Segoe UI Light', size: 22 };
                        headerRow.getCell(1).alignment = { horizontal: 'center' };

                        // footer
                        //var footerRowIndex = dataGridRange.to.row + 2;
                        //var footerRow = worksheet.getRow(footerRowIndex);
                        //worksheet.mergeCells(footerRowIndex, 1, footerRowIndex, 8);
                        //footerRow.getCell(1).value = 'www.wikipedia.org';
                        //footerRow.getCell(1).font = { color: { argb: 'BFBFBF' }, italic: true };
                        //footerRow.getCell(1).alignment = { horizontal: 'right' };

                    }).then(function () {
                        // https://github.com/exceljs/exceljs#writing-xlsx
                        workbook.xlsx.writeBuffer().then(function (buffer) {
                            saveAs(new Blob([buffer], { type: 'application/octet-stream' }), 'stock-expired-report.xlsx');
                        });
                    });
                    e.cancel = true;
                },
                onToolbarPreparing: function (e) {
                    var dataGrid = e.component;
                    e.toolbarOptions.items.unshift({
                        location: "before",
                        template: function () {
                            return
                        }
                    },
                        {
                            location: "after",
                            widget: "dxButton",
                            options: {
                                icon: "refresh",
                                onClick: function () {
                                    dataGrid.refresh();
                                    filterData();
                                }
                            }
                        }
                    );
                }

            }).dxDataGrid("instance");
            $("#autoExpand").dxCheckBox({
                value: false,
                text: "Expand All Groups",
                onValueChanged: function (data) {
                    dataGrid.option("grouping.autoExpandAll", data.value);
                }
            });

        }

    })
</script>



