﻿@model UnitofMeasure

@{
    ViewData["Title"] = "Create";
}
<style>
    .fa{
        margin-right:4px;
    }
    .pull-left {
       
        margin-top:10px;
    }
    .form-group{
        margin:0px;
        padding:0px;
    }
</style>
<div class="row">
    <div class="col-md-10">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label  class="control-label">@Localizer["Code"] :</label>
                <input asp-for="Code" class="form-control" placeholder="Code"/>
                <span asp-validation-for="Code" class="text-danger"></span>
                <div class="text-danger">@ViewBag.Error</div>
                
            </div>
            <div class="form-group">
                <label class="control-label">@Localizer["Name"] :</label>
                <input asp-for="Name" class="form-control" placeholder="Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            
            <div class="pull-left">
                <button class="btn btn-sm btn-success"><i class="fa fa-plus-circle"></i>@Localizer["Add"]</button>
                <a asp-action="Index" class="btn btn-sm btn-danger"><i class="fa fa-reply" ></i>@Localizer["Back"]</a>
            </div>
           
        </form>
    </div>
</div>
