﻿@model UnitofMeasure

@{
    ViewData["Title"] = "Edit";
}
<style>
    .fa {
        margin-right: 4px;
    }
    .pull-right{
        margin-right:10px;
    }
    label{
        color:black;
    }
    .pull-left{
        margin-top:10px;
    }
    .form-group{
        padding:0px;
        margin:0px;
    }
</style>
<div class="row">
    <div class="col-md-10">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label class="btnlabel control-label">@Localizer["Code"] :</label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
                <div class="text-danger">@ViewBag.code</div>
                
            </div>
            <div class="form-group">
                <label  class="control-label">@Localizer["Name"] :</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="pull-left">
                <button class="btn btn-sm btn-success"><i class="fa fa-save"    ></i>@Localizer["Save"]</button>
                <a asp-action="Index" class="btn btn-sm btn-danger"><i class="fa fa-reply"></i>@Localizer["Back"]</a>
            </div>
        </form>
    </div>
</div>