﻿<script src="~/js/warehouse.js"></script>
<script src="~/js/table.js" defer></script>
<style>
    .input_branch, .input_warehouse {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;
        padding: 3px 0px 3px 3px;
        margin: 5px 1px 3px 0px;
        border: 1px solid #DDDDDD;
        width: 100%;
        min-width: 100%;
        height: 28px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 12px;
        border-radius: 3px;
    }

    .lable_branch, .lable_warehouse {
        font-family: Arial;
        font-size: 12px;
        font-weight: 700;
    }

    .btn-success {
        margin-top: 22px;
        font-size: 12px;
        font-family: Arial;
        height: 28px;
    }

    .wrap-table {
        margin-top: 20px;
    }

    .grandtotal {
        margin-left: 15px;
    }

    .subtotaltd {
        border-bottom: 1px solid gray;
        font-weight: 700;
    }

    .hidden {
        visibility: collapse !important;
    }

    .styletr {
        font-weight: 800;
    }

    .list_detail {
        float: right;
        min-width: 1000px;
    }

    #list_stockinwarehouse {
        margin-top: 10px;
    }

    .styleImagesItem {
        width: 30px;
        height: 30px;
    }

    .constant_datafrom, .constant_dataTo, .content_currency, .content_warehouse, .content_item {
        height: 25px;
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;
        padding: 3px 3px 3px 3px;
        margin: 5px 1px 3px 0px;
        width: 55%;
        font-family: Arial;
        font-size: 13px;
        border-radius: 2px;
        border: 1px solid #c6c1c1;
    }

    .label_datafrom, .label_dataTo, .label_currency, .label_item, .label_warehouse {
        min-width: 35%;
        font-size: 13px;
        font-family: Arial;
    }

    .constant_datafrom:focus, .constant_dataTo:focus, .content_currency:focus, .content_warehouse:focus, .content_item:focus {
        box-shadow: 0 0 5px rgba(27, 93, 185,0.4);
        padding: 3px 3px 3px 3px;
        margin: 5px 1px 3px 0px;
        border: 1px solid rgb(120, 172, 245);
        border-radius: 3px;
        font-family: Arial;
        font-size: 13px;
    }

    #tb_inventoryAudit {
        height: 400px;
    }
</style>
<link href="~/css/Modal.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-3">
        <label class="lable_branch">@Localizer["By Branch"]</label>
        <select type="text" class="input_branch" id="bybranch">
            @*<option value="0"></option>*@
        </select>
    </div>
    <div class="col-md-3">
        <label class="lable_warehouse">@Localizer["Warehouse"]</label>
        <select type="text" class="input_warehouse" id="bywarehouse">
            @*<option value="0">@Localizer["All"]</option>*@
        </select>
    </div>
    <div class="col-md-3">
        <button class="btn btn-xs btn-success" id="filter">@Localizer["Filter"]</button>
    </div>
    
    <div class="col-md-3">
        <div class="input-group" style="margin-top:20px;">
            <input class="form-control btn-sm" type="text" autocomplete="off" placeholder="@Localizer["Search"]" id="txtseaerch" />
            <div class="input-group-append">
                <button class="btn btn-sm"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 wrap-table list">
        <div class="loading-background hide">
            <img src="~/Images/ajaxloader/tenor.gif" style="object-fit:cover; width :70px; height:70px;" />
        </div>
        <table>
            <tr style="background:#5F758B;color:white;">
                <th width="30">@Localizer["Detail"]</th>
                <th style="min-width:50px;">@Localizer["Code"]</th>
                <th style="min-width:150px; ">@Localizer["Name(KH)"]</th>
                <th style="min-width:140px; ">@Localizer["Name(EN)"]</th>
                <th style="min-width:100px;">@Localizer["In Stock"]</th>
                <th style="min-width:80px;">@Localizer["Committed"]</th>
                <th style="min-width:80px;">@Localizer["Ordered"]</th>
                <th style="min-width:70px;">@Localizer["Uom"]</th>
                <th style="min-width:90px;">@Localizer["Barcode"]</th>
                @*<th style="min-width:100px;">@Localizer["Expire Date"]</th>*@
                <th style="min-width:70px;">@Localizer["Image"]</th>
            </tr>
            <tbody id="list_stockinwarehouse"></tbody>
        </table>

    </div>
</div>

<div class="row" style="margin-top:30px;">
    <div class="col-md-12">
        <div>
            <span>@Localizer["Total In Stock"]</span>
            <span>:</span>
            <span id="totalinstock"></span>
        </div>
        <div>
            <span>@Localizer["Total Ordered"]</span>
            <span>:</span>
            <span id="totalordered"></span>
        </div>
        <div>
            <span>@Localizer["Total Committed"]</span>
            <span>:</span>
            <span id="totalcommitted"></span>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalAuditReport" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <i class="fa fa-adjust "><b class="icone_adjust">@Localizer["Inventory Audit"]</b></i>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="label_datafrom">@Localizer["Date From"]</label>
                                <input type="date" class="constant_datafrom" onchange="changDateFrom()" />
                            </div>
                            <div class="col-md-6">
                                <label class="label_dataTo">@Localizer["Date To"]</label>
                                <input type="date" class="constant_dataTo" onchange="changeDateTo()" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label class="label_currency">@Localizer["Currency"]</label>
                                <input type="text" class="content_currency" readonly />
                            </div>
                            <div class="col-md6"></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="label_warehouse">@Localizer["Warehouse"]</label>
                        <select disabled class="content_warehouse" id="txtwarehousefilter">
                            @*<option value="all">All</option>*@
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label class="label_item">@Localizer["Item Code"]</label>
                        <input type="text" class="content_item" readonly />
                        <label class="label_item">@Localizer["Item Name"]</label>
                        <input type="text" class="content_item content_item_name" readonly />
                    </div>
                </div>
                <div class="wrap-table list" id="tb_inventoryAudit">
                    <table>
                        <tr>
                            @*<th style="min-width:200px;">@Localizer["Name(KH)"]</th>
                            <th style="min-width:200px;">@Localizer["Name(EN)"]</th>*@
                            <th>@Localizer["User"]</th>
                            <th>@Localizer["System Date"]</th>
                            <th>@Localizer["Time In"]</th>
                            @*<th style="min-width:150px;">@Localizer["Warehouse"]</th>*@
                            <th style="min-width:110px;"> @Localizer["Tarns Type"]</th>
                            <th>@Localizer["Qty"]</th>
                            <th>@Localizer["Uom"]</th>
                            <th>@Localizer["Cost"]</th>
                            <th style="min-width:110px;">@Localizer["Trans Value"]</th>
                            <th style="min-width:120px;">@Localizer["Cumulative Qty"]</th>
                            <th style="min-width:125px;">@Localizer["Cumulative Value"]</th>
                            <th>@Localizer["Process"]</th>
                            @*<th>@Localizer["ExpireDate"]</th>*@
                        </tr>
                        <tbody class="list_audit"></tbody>
                    </table>
                </div>
            </div>

            <div class="modal-footer" style="padding:5px;">
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">@Localizer["Close"]</button>
            </div>
        </div>
    </div>
</div>
<script>
    var db = new Warehouse();
    $(document).ready(function () {
        $("#totalinstock").text("0");
        $("#totalordered").text("0");
        $("#totalcommitted").text("0");
          $('#list_stockinwarehouse').append('<tr><td class="text-center" colspan="11">@Localizer["No Data"]</td></tr>');
        $.ajax({
            url: "/Report/GetBranch",
            type: "Get",
            dataType: "Json",
            success: function (respones) {
                var data = '';
                $.each(respones, function (i, item) {
                    data +=
                        '<option value="' + item.ID + '">' + item.Name + '</option>';
                });
                $("#bybranch").append(data);
                filterWarehouse(parseInt($('#bybranch').val()));
            }
        });
       
    });
    $("#txtseaerch").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#list_stockinwarehouse tr").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });
    $("#bybranch").on('change', function () {
        var branchid = $(this).val();
        filterWarehouse(branchid);
    });
    function filterWarehouse(branchid) {
        
        $.ajax({
            url: "/Report/GetWarehouse",
            type: "Get",
            dataType: "Json",
            data: { BranchID: branchid },
            success: function (respones) {
                var data = '';
                $("#bywarehouse option:not(:first-child)").remove();
                $.each(respones, function (i, item) {
                    data +=
                        '<option value="' + item.ID + '">' + item.Name + '</option>';
                });
                $("#bywarehouse").append(data);
                $('#txtwarehousefilter').append(data);
            }
        });
    }
    $("#filter").on('click', function () {
        var warehouse = $("#bywarehouse").val();
        $('#txtwarehousefilter').val(warehouse);
        $.ajax({
            url: "/Report/GetStockInWarehouse",
            type: "Get",
            dataType: "Json",
            beforeSend: function () {
                $(".loading-background").removeClass("hide");
            },
            data: { WarehouseID: warehouse, Process: 'M', ItemID: 0 },
            success: function (respones) {
                $(".loading-background").addClass("hide");
                loadData(respones);
            }
        });
        
    });
    function loadData(listSummary) {
        var instock = 0;
        var order = 0;
        var commit = 0;
         db.table("tb_summary").clear();
         if (listSummary.length !== 0) {
             $("#list_stockinwarehouse tr").remove();
             db.insert("tb_summary", listSummary, "ID");
        }
         else {
             $("#list_stockinwarehouse tr").remove();
             $('#list_stockinwarehouse').append('<tr><td class="text-center" colspan="11">@Localizer["No Data"]</td></tr>');
        }
        if (db.from("tb_summary") !== 0) {
            db.from("tb_summary").where(function (item) {
                instock = parseFloat(instock) + parseFloat(item.InStock);
                order = parseFloat(order) + parseFloat(item.Ordered);
                commit = parseFloat(commit) + parseFloat(item.Committed);
                GetDataBindTable(item);
            });
        }
        if (order == 0) {
            $("#totalordered").text(0);
        }
        if (instock == 0) {
            $("#totalinstock").text(0);
        }
        if (commit == 0) {
            $("#totalcommitted").text(0);
        }
        $("#totalinstock").text(instock);
        $("#totalordered").text(order);
        $("#totalcommitted").text(commit);
        $(".tabelshow").addClass("fa fa-arrow-alt-circle-right");
    }
    function GetDataBindTable(item) {
        var style_td_s = "";
        var style_td_c = "";
        var style_td_o = "";
        if (item.InStock <= 0) {
            style_td_s = "style='background-color:#903030; color:whitesmoke;'";
        }
        if (item.Committed > 0) {
            style_td_c = "style='background-color:#e1c866;  color:black;'";
        }
        if (item.Ordered > 0) {
            style_td_o = "style='background-color:#304a25; color:whitesmoke;'";
        }
        var tr = $("<tr></tr>");
        var first_td = $("<td data-toggle='modal' data-target='#ModalAuditReport' data-id="+ item.ID +" class='text-left link-to-audit'><i style=color:#008000; title='@Localizer["Inventory Audit"]' style='color:gray'; class='fa fa-arrow-alt-circle-right'></i></td>");
        first_td.on('click', getInventoryAudit);
        var td = '<td hidden id="order_id">' + item.ID + '</td>' +
            '<td hidden>' + item.ItemID + '</td>' +
            '<td >' + item.Code + '</td>' +
            '<td>' + item.KhmerName + '</td>' +
            '<td >' + item.EnglishName + '</td>' +
            '<td ' + style_td_s + ' >' + item.InStock + '</td>' +
            '<td ' + style_td_c + '>' + item.Committed + '</td>' +
            '<td ' + style_td_o + '>' + item.Ordered + '</td>' +
            '<td >' + item.Uom + '</td>' +
            '<td>' + item.Barcode + '</td>' +
            //'<td>' + item.ExpireDate + '</td>' +
            '<td>' + '<img src="../../Images/' + item.Image + '" class="styleImagesItem">' + '</td>'
        tr.append(first_td)
          .append(td)
        $("#list_stockinwarehouse").append(tr);
    }
  
    function getInventoryAudit(e) {
        var id = parseInt($(this).data("id"));
        var warehouse = parseInt($("#txtwarehousefilter").val());
        let items = db.table('tb_summary').get(id);
        $(".content_item").val(items.Code);
        $('.content_item_name').val(items.KhmerName);
        var data_audit = $.ajax({
            url: "/Report/GetInventoryAuditByItem",
            type: "GET",
            async: false,
            dataType: "JSON",
            data: { ItemID: id, WarehouseID:warehouse},
            success: function (e) {
                console.log(e);
                $('.list_audit tr').remove();
                if (e.length > 0) {
                    GetDataTableAudit(e);
                }
                else {
                    $('.list_audit').append('<tr><td class="text-center" colspan="15">@Localizer["No Data"]</td></tr>');
                }
            }
        }).responseJSON;
        db.addTable("tb_audit", data_audit, "ID");
    }
    function GetDataTableAudit(e) {
      
        var data = '';
        $(".list_audit tr").remove();
        $.each(e, function (i, item) {
            var date = item.SystemDate;
            var sysdate = date.slice(0, 10);
            var exdate = item.ExpireDate;
            var dateEx = exdate.slice(0, 10);
            if (dateEx = '2019-09-09') {
                dateEx = 'None';
            }
            data +=
                '<tr>' +
                //'<td>' + item.KhmerName + '</td>' +
                //'<td>' + item.EnglistName + '</td>' +
                '<td>' + item.Employee + '</td>' +
                '<td>' + sysdate + '</td>' +
                '<td>' + item.TimeIn + '</td>' +
                //'<td>' + item.Warehouse + '</td>' +
                '<td>' + item.Tarns_Type + '</td>' +
                '<td>' + item.Qty + '</td>' +
                '<td>' + item.Uom + '</td>' +
                '<td>' + item.Cost + '</td>' +
                '<td>' + item.Trans_value + '</td>' +
                '<td>' + item.CumulativeQty + '</td>' +
                '<td>' + item.CumulativeValue + '</td>' +
                '<td>' + item.Process + '</td>' +
                //'<td>' + dateEx + '</td>' +
                '</tr>';
                $(".content_currency").val(item.Currency);
        });
        $(".list_audit").html(data);
    }

    //data from
    function changDateFrom() {
        var date = $(".constant_datafrom").val();
        db.from("tb_audit").where(function (json) {
            json.SystemDate = date;
        });
    }
    function changeDateTo() {
        var date = $(".constant_dataTo").val();
        var item = db.from("tb_audit");
        $.ajax({
            url: "/PriceList/FilterSystemDate",
            type: "POST",
            dataType: "JSON",
            data: { DateFrom: item[0].SystemDate, DateTo: date,ItemID:item[0].ItemID,UomID:item[0].UomID,BranchID:@User.FindFirst("BranchID").Value },
            success: function (e) {
                GetDataTableAudit(e);
            }
        });
    }
   
    function fnExcelReport() {
        var tab_text = "<table border='2px'><tr bgcolor='#87AFC6'>";
        let _table = document.getElementById('list_stockinwarehouse');
        let tab = $(_table).clone(true);
        //$("td:hidden").remove();
        for (j = 0; j < tab[0].rows.length; j++) {
            tab_text = tab_text + tab[0].rows[j].innerHTML + "</tr>";
        }
        var ua = window.navigator.userAgent;
        var msie = ua.indexOf("MSIE ");

        if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))      // If Internet Explorer
        {
            txtArea1.document.open("txt/html", "replace");
            txtArea1.document.write(tab_text);
            txtArea1.document.close();
            txtArea1.focus();
            sa = txtArea1.document.execCommand("SaveAs", true, "Say Thanks to Sumit.xls");
        }
        else
            sa = window.open('data:application/vnd.ms-excel,' + encodeURIComponent(tab_text));

        return (sa);
    }

</script>