﻿@model POS_WEB.Models.Services.POS.Counter

@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrinterID" class="control-label"></label>
                <select asp-for="PrinterID" class="form-control" asp-items="ViewBag.PrinterID"></select>
            </div>
            <div class="form-group form-inline">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Delete" />@Localizer["Delete"]
                </label>

            </div>
            <div class="row">
                <div class="col-md-12 pull-left btnBotton">
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-xs"><i class="fa fa-plus-circle"></i>@Localizer["Save"]</button>
                        <a asp-action="Index" class="btn btn-danger btn-xs"><i class="fa fa-reply"></i>@Localizer["Back"]</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
