﻿@model POS_WEB.Models.Services.Promotions.CardType

@{
    ViewData["Title"] = "Edit";
}
<style>
    .fa{
        margin-right:4px;
    }
    .form-group{
        margin:0px;
       padding:0px;
    }
</style>
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label class="control-label">@Localizer["Name"] :</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">@Localizer["Discount"] :</label>
                <input asp-for="Discount" class="form-control" id="txtdiscount" />
                <span asp-validation-for="Discount" class="text-danger"></span>
                &nbsp;<span id="errmsg"></span>
            </div>
            <div class="form-group">
                <label class="control-label">@Localizer["Type Discount"] :</label>
                <select class="form-control" asp-for="TypeDis">
                    <option value="" selected disabled>--- Select --- </option>
                    <option value="Percent">Percent ( % )</option>
                    <option value="Cash">Cash ( $ )</option>
                </select>
                <span asp-validation-for="TypeDis" class="text-danger"></span>
                <div class="text-danger">@ViewBag.type_requried</div>
            </div>
            <div class="form-group" style="margin-top:10px;">
                <button type="submit" class="btn btn-success btn-xs"><i class="fa fa-save"></i>@Localizer["Save"]</button>
                <a class="btn btn-danger btn-xs" asp-action="Index"><i class="fa fa-reply"></i>@Localizer["Back"]</a>
            </div>
        </form>
    </div>
</div>
<script>
    $("#txtdiscount").keypress(function (e) {
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
            $("#errmsg").html("Digits Only").show().fadeOut("slow");
            return false;
        }
    });
</script>

