﻿@model IEnumerable<ItemGroup1>
@{
    Layout = null;
    int @BranchID = Convert.ToInt32(@User.FindFirst("BranchID").Value);
    int @UserID = Convert.ToInt32(@User.FindFirst("UserID").Value);

}
<html>

<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    @*<link href="https://fonts.googleapis.com/css?family=Raleway|Red+Hat+Display&display=swap" rel="stylesheet">*@
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">*@
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="~/pos/css/core.css" rel="stylesheet" />
    <link href="~/pos/calulator/calculator.min.css" rel="stylesheet" />

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/pos/js/core.js"></script>
    <script src="~/pos/js/plugin/table.js" defer></script>

    <!--Signal R-->
    <script src="~/lib/aspnet-signalr/signalr.min.js"></script>
    <script src="~/pos/signalr/realbox.js" defer></script>
    <script src="~/pos/signalr/mainscreen.js" defer></script>

    <script src="~/pos/scripts/krms_r/intail-data.js" defer></script>
    <script src="~/pos/scripts/krms/searchbarcode.js" defer></script>
    <script src="~/pos/scripts/krms/tables.js" defer></script>
    <script src="~/pos/scripts/krms/combine.js" defer></script>
    <script src="~/pos/scripts/krms/spilt.js" defer></script>
    <script src="~/pos/scripts/krms/discount-member.js" defer></script>
    <script src="~/pos/scripts/krms/item-return.js" defer></script>
    <script src="~/pos/scripts/krms/edit-price.js" defer></script>
    <script src="~/pos/scripts/krms/add-on.js" defer></script>
    <script src="~/pos/scripts/krms/main-menu.js" defer></script>
    <script src="~/pos/scripts/krms/bill.js" defer></script>
    <script src="~/pos/scripts/krms_r/clear-order.js" defer></script>
    <script src="~/pos/scripts/krms/filter-group.js" defer></script>
    <script src="~/pos/scripts/krms_r/get-order.js" defer></script>
    <script src="~/pos/scripts/krms/item-order.js" defer></script>
    <script src="~/pos/scripts/krms/payment.js" defer></script>
    <script src="~/pos/scripts/krms/send-data.js" defer></script>
    <script src="~/pos/scripts/krms/main-pos.js" defer></script>
    <script src="~/pos/calulator/krms/calculator.min.js" defer></script>
    <script src="~/pos/scripts/krms/numeral.min.js" defer></script>
    <script src="~/pos/scripts/krms/function.js" defer></script>
    <script src="~/pos/scripts/krms/comment.js" defer></script>
    <script src="~/pos/scripts/krms/void-order.js" defer></script>
    <style>
        html {
            font-family: "Kh Battambang" !important;
            font-size: 1em !important;
        }

        .trash {
            color: red;
        }

        .badge {
            position: absolute;
            top: -2.5px;
            right: -2.5px;
            width: 20px;
            height: 20px;
            line-height: 20px;
            border-radius: 50%;
            background-color: #f5050F;
            color: white;
            font-size: .8em;
        }

        #reprint-content .wrap-table table th, .wrap-table table td {
            text-align: left;
        }

        #reprint-content .wrap-table table td:last-child {
            text-align: right;
        }

        .wrap-table {
            overflow-x: hidden;
        }

            .wrap-table table td input {
                width: 100%;
                margin: .5rem 0;
            }

            .wrap-table table td > * {
                height: 30px;
                line-height: 30px;
            }

            .wrap-table table.cash-in tr:first-child,
            .wrap-table table.cash-out tr:first-child {
                display: none;
            }

        .fa, .fas, .far, .fal {
            line-height: 30px;
        }

        #setting-content input, #setting-content select {
            width: 100px;
            background: transparent;
        }

        .panel .left-panel {
            width: 35%;
        }

        .panel .right-panel {
            width: 65%;
        }

        .gridview.item-gridview .wrap-grid .grid {
            flex-basis: calc(16.66% - 10px);
            height: calc(4 * 40.25px);
        }

            .gridview.item-gridview .wrap-grid .grid .grid-caption {
                max-width: 130px;
                font-size: .8em;
            }

        .gridview .wrap-grid .grid .grid-image .wrap-scale {
            height: 40px;
            width: 40px;
            line-height: 40px;
            font-size: 1.1em;
        }

            .gridview .wrap-grid .grid .grid-image .wrap-scale .scale-up,
            .gridview .wrap-grid .grid .grid-image .wrap-scale .scale-down {
                height: 25px;
                line-height: 25px;
            }

        .gridview .wrap-grid .grid .grid-image .price {
            font-size: .8em;
        }

        .gridview .wrap-grid .grid:hover .price {
            font-size: .9em;
            height: 30px;
            line-height: 30px;
        }
    </style>
</head>
<body>
    <div ck-dialogbox-container></div>
    <nav class="nav-header">
        <div id="goto-main-menu" class="item csr-pointer">
            <i class="fas fa-bars fa-fw fa-lg"></i>
            <div id="main-menu-content" class="wrap-block" style="display: none;">

                <div class="block myb1">
                    <div class="title">@Localizer["Shift"]</div>
                    <div class="group-btns">
                        <div class="wrap-btn" id="open-shift">
                            <div class="btn"><i class="fa fa-money-bill-wave" aria-hidden="true"></i></div>
                            <label class="label">@Localizer["Open"]</label>
                            <div id="open-shift-content" class="wrap-block" style="display: none;">
                                <div class="block border">
                                    <div class="title">@Localizer["Currency"]</div>
                                    <div class="wrap-table">
                                        <table class="cash-in"></table>
                                    </div>

                                </div>
                                <div class="block border">
                                    <div class="title">@Localizer["Summary"]</div>
                                    <div class="wrap-table">
                                        <table>
                                            <tr>@Localizer["Total Cash In :"] </tr>
                                            <span class="cash-in-total">0.00</span>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="wrap-btn" id="close-shift">
                            <div class="btn"><i class="fa fa-money-check" aria-hidden="true"></i></div>
                            <label class="label">@Localizer["Close"]</label>
                            <div id="close-shift-content" class="wrap-block" style="display: none;">
                                <div class="block border">
                                    <div class="title">@Localizer["Currency"]</div>
                                    <div class="wrap-table">
                                        <table class="cash-out"></table>
                                    </div>

                                </div>
                                <div class="block border">
                                    <div class="title">@Localizer["Summary"]</div>
                                    <div class="wrap-table">
                                        <table>
                                            <tr>@Localizer["Total Cash Out :"] </tr>
                                            <span class="cash-out-total">0.00</span>
                                        </table>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>

                </div>
                @*<div class="block myb1">
                        <div class="title">Languages</div>
                        <div class="group-btns">
                            <div class="wrap-btn">
                                <div class="btn"><i class="fa fa-language" aria-hidden="true"></i></div>
                                <label class="label">Khmer</label>
                            </div>
                            <div class="wrap-btn">
                                <div class="btn"><i class="fa fa-language" aria-hidden="true"></i></div>
                                <label class="label">English</label>
                            </div>
                            <div class="wrap-btn">
                                <div class="btn"><i class="fa fa-language" aria-hidden="true"></i></div>
                                <label class="label">Chinese</label>
                            </div>
                        </div>
                    </div>*@

                <div class="block myb1">
                    <div class="title">@Localizer["Others"]</div>
                    <div class="group-btns">

                        <div id="goto-reprint" class="wrap-btn">
                            <div class="btn"><i class="fa fa-print" aria-hidden="true"></i></div>
                            <label class="label">@Localizer["Reprint"]</label>
                            <div id='reprint-content' style="display: none;">
                                <div class="item group-search-boxes">
                                    <div id="text-search" class="wrap-search-box">
                                        <div class="wrap-input show">
                                            <i id="i-search" class="i-search fas fa-search"></i>
                                            <input class="ignore" name="search-receipt-reprint" type="text" value="" placeholder=@Localizer["Search ..."]>
                                            <i id="i-close" class="i-close far fa-times-circle"></i>
                                        </div>
                                        <div id="btn-search" style="display: none;" class="btn-search no-space"><i class="fas fa-search"></i></div>
                                    </div>
                                </div>
                                <div class="flexbox my1">
                                    <span class="mxr1"><label>@Localizer["From"] </label><input type="date" class="reprint-date-from" /></span>
                                    <span><label>@Localizer["To"] </label><input type="date" class="reprint-date-to" /></span>
                                </div>
                                <div id="reprint-receipt" class='wrap-table list'>
                                    <table class="reprint-receipt-listview">
                                        <tr>
                                            <th>@Localizer["Receipt №"]</th>
                                            <th>@Localizer["Cashier"]</th>
                                            <th>@Localizer["Date"]</th>
                                            <th>@Localizer["Time"]</th>
                                            <th>@Localizer["Table"]</th>
                                            <th>@Localizer["Amount"]</th>
                                            <th>@Localizer["Currency"]</th>
                                            <th></th>
                                        </tr>

                                    </table>
                                </div>
                            </div>
                        </div>

                        <div id="goto-setting" class="wrap-btn">
                            <div class="btn"><i class="fas fa-cogs"></i></div>
                            <label>@Localizer["Setting"]</label>

                            <div id='setting-content' style="display: none;">
                                <div class="wrap-block col-two">
                                    <div class="left-block">
                                        <div class="block border myb1">
                                            <div class="title">@Localizer["Receipt"]</div>

                                            <div class="flexbox space-between myb1">
                                                <div>@Localizer["Print Receipt Order"]</div>
                                                <label class="switch">
                                                    <input type="checkbox" checked="" class="print-receipt-order">
                                                    <span class="slider round"></span>
                                                </label>
                                            </div>

                                            <div class="flexbox space-between myb1">
                                                <div>@Localizer["Print Receipt Pay"]</div>
                                                <label class="switch">
                                                    <input class="print-receipt-pay" type="checkbox" checked="">
                                                    <span class="slider round"></span>
                                                </label>
                                            </div>
                                            <div class="flexbox space-between myb1">
                                                <div>@Localizer["Print Receipt Count"]</div>
                                                <input autofocus autocomplete="off" value="0" class="print-receipt-count" />
                                            </div>
                                            <div class="flexbox space-between myb1">
                                                <div>@Localizer["Max Queue Count"]</div>
                                                <input autofocus autocomplete="off" value="0" class="max-queue-count" />
                                            </div>

                                            <div class="flexbox space-between myb1">
                                                <div>@Localizer["Receipt Size"]</div>
                                                <select class="receipt-size">
                                                    <option>80mm</option>
                                                    <option>A4</option>
                                                    <option>A5</option>
                                                </select>
                                            </div>
                                            <div class="flexbox space-between myb1">
                                                <div>@Localizer["Receipt Template"]</div>
                                                <select style="width: 100px; background: transparent;" class="receipt-template">
                                                    <option>T1</option>
                                                    <option>T2</option>
                                                    <option>T3</option>
                                                </select>
                                            </div>
                                            <div class="flexbox space-between myb1">
                                                <div>@Localizer["WiFi Password"]</div>
                                                <input autofocus autocomplete="off" class="password-wifi" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right-block">
                                        <div class="block border">
                                            <div class="title">@Localizer["Company"]</div>
                                            <div class="flexbox space-between myb1">
                                                <div>@Localizer["Dual Screen"]</div>
                                                <label class="switch">
                                                    <input type="checkbox" checked="" class="dual-screen">
                                                    <span class="slider round"></span>
                                                </label>
                                            </div>

                                            <div class="flexbox space-between myb1">
                                                <div>@Localizer["VATable"]</div>
                                                <label class="switch">
                                                    <input type="checkbox" checked="" class="vat-able">
                                                    <span class="slider round"></span>
                                                </label>
                                            </div>
                                            <div class="flexbox space-between myb1">
                                                <div>@Localizer["Vat Invoice No."]</div>
                                                <input autofocus autocomplete="off" value="0" class="vat-invoice-no" />
                                            </div>
                                            <div class="flexbox space-between myb1">
                                                <div>@Localizer["Customer"]</div>
                                                <select style="width: 100px; background: transparent;" class="customer-id"></select>
                                            </div>
                                            <div class="flexbox space-between myb1">
                                                <div>@Localizer["Price List"]</div>
                                                <select style="width: 100px; background: transparent;" class="price-list-id"></select>
                                            </div>
                                            <div class="flexbox space-between myb1">
                                                <div>@Localizer["Warehouse"]</div>
                                                <select style="width: 100px; background: transparent;" class="warehouse-id"></select>
                                            </div>

                                            <div class="flexbox space-between myb1">
                                                <div>@Localizer["Payment Means"]</div>
                                                <select style="width: 100px; background: transparent;" class="payment-means-id"></select>
                                            </div>


                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="wrap-btn" id="goto-set-print-receipt">
                            <div class="btn"><i class="fa fa-print" aria-hidden="true"></i></div>
                            <label class="label">@Localizer["Set Print Receipt"]</label>
                        </div>
                        <div id='set-print-receipt-content' style="display: none;">
                            <span><label class="label">@Localizer["Printer Name"] :</label><input type="text" value="" class="set-printer-name" /></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item grow"></div>
        <div id="toggle-listview" class="item min-max csr-pointer"><i class="far fa-window-minimize"></i></div>
        @{
            var requestCulture = Context.Features.Get<IRequestCultureFeature>();
            var cultureItems = new List<SelectListItem>
                {
                new SelectListItem{Value=@"en-US",Text=@"English"},
                new SelectListItem{ Value=@"km-KH",Text=@"Khmer"},
                new SelectListItem{Value=@"zh-CN",Text=@"Chinese"}
                };
        }
        <div class="item" style="height: 40px;" title="@Localizer["Request culture provider:"]@requestCulture?.Provider?.GetType().Name">
            <form id="selectLanguage" asp-controller="Home"
                  asp-action="selectLanguage" asp-route-returnUrl="@Context.Request.Path"
                  method="post" role="form">
                <select name="culture" asp-for="@requestCulture.RequestCulture.UICulture.Name" id="changelanguage" class="input-sm form-control"
                        asp-items="cultureItems" style="width:100px; margin-top: 2px; border-radius:3px;" onchange="changelanguege()"></select>
            </form>
        </div>
        <div class="item">
            <div class="dropbox down crumb profile">

                <div class="dropbox-btn"><img class="img-circle" src="@Url.Content(@User.FindFirst("Photo").Value)" alt="..." /></div>
                <div class="wrap-dropbox-content">
                    <div class="dropbox-navigator">
                        <div class="i-close far fa-window-close"></div>
                    </div>
                    <div class="dropbox-content">
                        <a href="#" class="option"><i class="fas fa-user fa-fw"></i>@User.FindFirst("FullName").Value</a>
                        @*<a href="#" class="option" id="change-password-user"><i class="fas fa-user-cog fa-fw"></i>Change Password</a>*@
                        <a href="#" class="option" id="log-out-pos"><i class="fas fa-sign-out-alt fa-fw"></i>@Localizer["Log out"]</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="item item-circle">
            <img src="icons/minimize.png"/>
        </div>
        <div class="item item-circle">
            <img src="icons/close.png"/>
        </div> -->
    </nav>

    <div class="panel">
        <div id="panel-payment" class="full-panel">
            <nav class="nav-toolbar">
                <div class="item csr-pointer">
                    <div id="goto-panel-group-items"><i class="fas fa-chevron-left"></i>&nbsp;@Localizer["Back"]</div>
                </div>
                <div class="item">
                    <div class="title Table"></div>
                </div>
                <div class="grow"></div>
            </nav>
            <div class="measure scroll-y">
                <div class="wrap-block col-two">
                    <div class="left-block">
                        <div class="block">
                            <div class="gridview number-pad">
                                <div class="wrap-grid">
                                    <span class="grid" data-value="7">7</span>
                                    <span class="grid" data-value="8">8</span>
                                    <span class="grid" data-value="9">9</span>
                                    <span class="grid" data-value="4">4</span>
                                    <span class="grid" data-value="5">5</span>
                                    <span class="grid" data-value="6">6</span>
                                    <span class="grid" data-value="1">1</span>
                                    <span class="grid" data-value="2">2</span>
                                    <span class="grid" data-value="3">3</span>
                                    <span class="grid" data-value="."><img src="~/pos/icons/dot.png" /></span>
                                    <span class="grid" data-value="0">0</span>
                                    <span class="grid" data-value="-1"><img src="~/pos/icons/backspace.png" /></span>
                                </div>
                            </div>
                            <div class="gridview quick-number">
                                <div class="wrap-grid">
                                    <span class="grid bg-green" data-value="5">5</span>
                                    <span class="grid bg-sky" data-value="10">10</span>
                                    <span class="grid bg-yellow" data-value="50">50</span>
                                    <span class="grid bg-orange" data-value="100">100</span>
                                    <span class="grid bg-red" data-value="200">200</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right-block fuse">
                        <div class="block px1">
                            <div class="title">@Localizer["Payment detail"]</div>
                            <div class="wrap-input breadcrumb">
                                <div class="step"><i class="far fa-money-bill-alt">@Localizer["Tips"]</i></div>
                                <input name="tips" class="number" id="pay-tip">
                                <div class="step slope-left local-symbol"></div>
                            </div>

                            <div class="wrap-input breadcrumb">
                                <div class="step"><i class="far fa-money-bill-alt"> @Localizer["Total"]</i></div>
                                <input id="pay-total" readonly>
                                <div class="step slope-left local-symbol"></div>
                            </div>

                            <div class="wrap-input breadcrumb myt2">
                                <div class="step">
                                    <i class="far fa-money-bill-alt"></i>
                                    <select>
                                        <option value="0" selected>@Localizer["Cash"]</option>

                                    </select>
                                </div>
                                <div class="wrap-calculator" style="position: relative; z-index: 9999;">
                                    <input class="number" id="pay-cash">
                                </div>
                                <div class="step slope-left local-symbol"></div>
                            </div>

                            <div class="wrap-input breadcrumb myt2">
                                <div class="step">
                                    <i class="far fa-money-bill-alt"></i>
                                    <select id="other-currency-list"></select>
                                </div>
                                <input class="number" id="pay-other-currency">
                                <div class="step slope-left other-curr-symbol"></div>
                            </div>


                            <div class="wrap-input breadcrumb">
                                <div class="step"><i class="far fa-money-bill-alt">@Localizer["Received"]</i></div>
                                <input readonly id="pay-received">
                                <div class="step slope-left sys-symbol"></div>
                            </div>


                            <div class="wrap-input breadcrumb">
                                <div class="step"><i class="far fa-money-bill-alt">@Localizer["Change"]</i></div>
                                <input readonly id="pay-change-sys">
                                <div class="step slope-left sys-symbol"></div>
                            </div>

                            <div class="wrap-input breadcrumb myt2">
                                <div class="step">
                                    <i class="far fa-credit-card"></i>
                                    <select class="payment-means-id"></select>
                                </div>
                                <input name="credit-card" class="number" id="pay-payment-means">
                                <div class="step slope-left sys-symbol"></div>
                            </div>

                            @*<div class="btn">Promotion</div>*@

                            @*<div class="wrap-input breadcrumb wrap-free myt2">
                                    <div class="step"><i class="fas fa-receipt"> Print receipt</i></div>
                                    <label class="switch">
                                        <input type="checkbox" class="print-receipt-pay">
                                        <span class="slider round"></span>
                                    </label>
                                </div>*@

                            <div class="btn submit right" id="pay">@Localizer["Pay"]</div>

                        </div>

                    </div>

                </div>
            </div>
        </div><!--End full-panel-->

        <div id="panel-group-tables" class="full-panel show">
            <nav class="nav-toolbar top">
                <div class="item breadcrumb desktop table-group">
                    <div class="step" id="all-table">@Localizer["All"]</div>

                </div>
                <span class="item grow"></span>

                <div class="item group-search-boxes">

                    <div id="text-search" class="wrap-search-box">
                        <div class="wrap-input">
                            <i id="i-search" class="i-search fas fa-search"></i>
                            <input class="ignore" name="item-name" type="text" value="" placeholder="@Localizer["Text search ..."]" id="table_search">
                            <i id="i-close" class="i-close far fa-times-circle"></i>
                        </div>
                        <div id="btn-search" class="btn-search"><i class="fas fa-search"></i></div>
                    </div>
                </div>

            </nav>
            <nav class="nav-toolbar responsive">
                <div class="item breadcrumb table-group">
                    <div class="step" id="all-table">@Localizer["All"]</div>
                </div>
            </nav>

            <div id="table-item-gridview" class="gridview item-gridview full-desktop">
                <!--gridview-->
                <div class="wrap-grid">

                </div>
            </div><!--end-gridview-->
            @*<nav class="nav-toolbar bottom">
                    <span class="grow"></span>
                    <div class="item">
                        <div id="datetime" class="datetime"></div>
                    </div>
                </nav>*@
        </div><!--End panel-group-tables-->

        <div id="panel-group-items" class="full-panel">
            <div class="left-panel">

                <nav class="nav-toolbar top">
                    <div class="item goto-panel-group-tables csr-pointer" id="back-table">
                        <i class="fas fa-chevron-left"></i>&nbsp;@Localizer["Table"]
                    </div>
                    <div class="item Table"><label>T-001</label></div>
                    <!-- <div class="item grow"></div> -->

                    <div class="item">
                        <div class="dropbox down crumb list">
                            <div class="dropbox-btn" id="list-order-receipt">
                                <i class="icon fas fa-receipt"></i>
                                <div class="badge" id="badge-order">0</div>
                            </div>
                            <div class="wrap-dropbox-content">
                                <div class="dropbox-navigator">
                                    <div class="i-close far fa-window-close"></div>
                                </div>
                                <div class="dropbox-content">
                                    <i id="add-new-order" class="add-option fas fa-plus add-new-order"></i>
                                    <div id="dropbox-order" class="wrap-option scroll-y">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>

                <div id="wrap-list" class="wrap-table list">
                    <table id="item-listview">
                        <tr>
                            @*<th>№</th>*@
                            <th>@Localizer["Code"]</th>
                            <th>@Localizer["Name"]</th>
                            <th>@Localizer["Price"]</th>
                            <th>@Localizer["Qty"]</th>
                            <th>@Localizer["Amount"]</th>
                            <th></th>
                        </tr>

                    </table>
                </div>
                <div class="wrap-btn">
                    <button class="btn" id="send">@Localizer["Send"]</button>
                </div>
                <div class="wrap-table summary">
                    <table>
                        <tr>
                            <th>@Localizer["Sub-Total"]</th>
                            <th>@Localizer["Discount"]</th>
                            <th>@Localizer["VAT"]</th>
                            <th>@Localizer["Total"]</th>
                        </tr>
                        <tr>
                            <td id="summary-sub-total">0.00</td>
                            <td id="summary-bonus">- %</td>
                            <td id="summary-vat">0.00</td>
                            <td id="summary-total">0.00</td>
                        </tr>
                    </table>
                </div>

                <div class="group-btns operation">
                    <div class="wrap-btn dropbox up crumb list">
                        <div class="dropbox-btn btn"><i class="fas fa-ellipsis-h fa-fw"></i></div>
                        <label class="label">@Localizer["Function"]</label>

                        <div class="wrap-dropbox-content">
                            <div class="dropbox-content">
                                <a href="#" id="dbl-comment" class="option"><i class="fas fa-comment"></i>@Localizer["Comment"]</a>

                                <a href="#" id="dbl-move-table" class="option"><i class="fab fa-accessible-icon fa fa-arrow-alt-circle-right"></i>@Localizer["Move Table"]</a>
                                <a href="#" id="dbl-combine-receipt" class="option"><i class="fas fa-object-group fa-fw"></i>@Localizer["Combine Receipt"]</a>
                                <a href="#" id="dbl-split-receipt" class="option"><i class="fas fa-clone fa-fw"></i>@Localizer["Split Receipt"]</a>
                                <a href="#" id="dbl-edit-price" class="option"><i class="fas fa-clone fa-edit"></i>@Localizer["Edit Item Price"]</a>
                                <a href="#" id="dbl-void-order" class="option"><i class="fas fa-broom fa-fw"></i>@Localizer["Void Order"]</a>
                                <a href="/ItemMasterData/Create" id="dbl-add-new-item" class="option"><i class="fas fa-plus-square fa-fw"></i>@Localizer["Add New Item"]</a>
                            </div>
                            <div class="dropbox-navigator">
                                <div class="i-close far fa-window-close"></div>
                            </div>
                        </div>
                    </div>

                    <div id='btn-discount' class="wrap-btn">
                        <div class="btn"><i class="fas fa-percent fa-fw"></i></div>
                        <label class="label">@Localizer["Discount"]</label>
                    </div>
                    <div class="wrap-btn" id="bill">
                        <div class="btn"><i class="fas fa-print fa-fw"></i></div>
                        <label class="label" id="bill-pro">@Localizer["Bill"]</label>
                    </div>
                    <div class="wrap-btn dropbox up">
                        <div id="goto-panel-payment" class="btn"><i class="far fa-money-bill-alt fa-fw"></i></div>
                        <label class="label">@Localizer["Pay"]</label>
                    </div>
                </div>
                <!-- <div class="collapser v-collapser arrow-left"></div> -->
            </div><!--end left-panel-->

            <div class="right-panel">
                <nav class="nav-toolbar top">
                    <div class="item goto-panel-group-tables mobile csr-pointer">
                        <i class="fas fa-chevron-left"></i>&nbsp;@Localizer["Table"]
                    </div>
                    <div class="item breadcrumb desktop clear-initial-trail group-steps">
                        <div class="all-step step">@Localizer["All"]</div>
                    </div>
                    <span class="item grow"></span>

                    <div class="item group-search-boxes">
                        <div id="open-barcode" class="wrap-search-box">
                            <div class="wrap-input">
                                <i id="i-search" class="i-search fas fa-search"></i>
                                <input class="ignore" placeholder="@Localizer["Barcode search ..."]" id="item-search-barcode" type="text" value="">
                                <i id="i-close" class="i-close far fa-times-circle close-barcode"></i>
                            </div>
                            <div id="btn-search" class="btn-search"><i class="fas fa-barcode"></i></div>
                        </div>
                        <div id="text-search" class="wrap-search-box">
                            <div class="wrap-input">
                                <i id="i-search" class="i-search fas fa-search"></i>
                                <input class="ignore" id="item-search" type="text" value="" placeholder="@Localizer["Name,Code,ID search ..."]">
                                <i id="i-close" class="i-close far fa-times-circle"></i>
                            </div>
                            <div id="btn-search" class="btn-search"><i class="fas fa-search"></i></div>
                        </div>
                    </div>

                </nav>
                <nav class="nav-toolbar responsive">
                    <div class="item breadcrumb clear-initial-trail group-steps">
                        <div class="all-step step">@Localizer["All"]</div>
                    </div>
                </nav>
                <div id="group-item-gridview" class="gridview item-gridview">
                    <!--gridview-->
                    <div class="wrap-grid">
                        @*Grid object here*@

                        @foreach (var group1 in Model)
                        {
                            <div class="grid">
                                <div data-id="@group1.ItemG1ID" data-group="1" data-group1="@group1.ItemG1ID" data-group2="0" data-group3="0" data-step="@group1.Name" hidden></div>
                                <div class="grid-caption">@group1.Name </div>
                                <div class="grid-image">

                                    <img src="~/Images/@group1.Images" />
                                </div>
                            </div>
                        }

                    </div>
                </div><!--end-gridview-->

                <nav class="nav-toolbar bottom">
                    <span class="grow"></span>
                    <div class="item">
                        <div id="datetime" class="datetime"></div>
                    </div>
                </nav>
            </div><!--End right-panel-->
        </div><!--End panel-group-items-->


    </div>

    <div id='move-table' class='dbl-function' style='display:none;'>
        <div class="item group-search-boxes">
            <div id="text-search" class="wrap-search-box">
                <div class="wrap-input show">
                    <i id="i-search" class="i-search fas fa-search"></i>
                    <input class="ignore" name="search-move-table" type="text" value="" placeholder="@Localizer["Search by group ..."]">
                    <i id="i-close" class="i-close far fa-times-circle"></i>
                </div>
                <div id="btn-search" style="display: none;" class="btn-search no-space"><i class="fas fa-search"></i></div>
            </div>
        </div>
        <div id='move-table-breadcrumb' class="item breadcrumb" style="margin: .5rem 0 .5rem;">
            <div id="all-table-move" class="step">@Localizer["All"]</div>
        </div>
        <div class='block'>
            <div class='title'>@Localizer["Choose Table"]</div>
            <div id='move-table-list' class="move-table-list scroll-y" style='height: 260px;'>

            </div>
        </div>

    </div><!--End #move-table-->

    <div id='combine-receipt' class='dbl-function' style="display: none;">
        <div class="group-search-boxes">
            <div id="text-search" class="wrap-search-box">
                <div class="wrap-input show">
                    <i id="i-search" class="i-search fas fa-search"></i>
                    <input class="ignore" name="search-combine-receipt" type="text" value="" placeholder="@Localizer["Text search ..."]">
                    <i id="i-close" class="i-close far fa-times-circle"></i>
                </div>
                <div id="btn-search" style="display:none;" class="btn-search no-space"><i class="fas fa-search"></i></div>
            </div>
        </div>
        <div class='block'>
            <div class='title'>@Localizer["Choose Receipts"]</div>
            <div id='combine-receipt-list' class="combine-receipt-list scroll-y" style='height: 260px;'>

            </div>
        </div>

    </div><!--End #combine-receipt-->
    <!-----------------------------Discount Member Card--------------------------->
    <div id="membercard-discount" style="display: none;">
        <div class='wrap-block col-two'>
            <div class='left-block m0'>
                <div class="block">
                    <nav class='nav-toolbar'>
                        <div class='item'>
                            <div class='btn'
                                 style="height: 30px; line-height: 30px;">
                                <i class="far fa-plus-square"></i>
                            </div>
                        </div>
                        <div class="item group-search-boxes">
                            <div id="text-search" class="wrap-search-box">
                                <div class="wrap-input show" style="max-width: 326px;">
                                    <i id="i-search" class="i-search fas fa-search"></i>
                                    <input class="ignore" name="search-member" type="text" value="" placeholder="@Localizer["ID,Name search ..."]">
                                    <i id="i-close" class="i-close far fa-times-circle"></i>
                                </div>
                                <div id="btn-search" style="display: none;" class="btn-search no-space"><i class="fas fa-search"></i></div>
                            </div>
                        </div>
                    </nav>
                    <div class='wrap-table list scroll-xy bg-gray'
                         style="height: 350px; margin: .5rem 0 0 .25rem;">
                        <table class="membercard-discount-listview">
                            <tr>
                                <th>@Localizer["ID"]</th>
                                <th>@Localizer["Card Name"]</th>
                                <th>@Localizer["Card Type"]</th>

                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class='right-block  m0'>
                <h4>@Localizer["Detail"]</h4>
                <hr />
                <table>
                    <tr>
                        <td>@Localizer["ID"]</td>
                        <td>:</td>
                        <td class="member-id"></td>
                    </tr>
                    <tr>
                        <td>@Localizer["Name"]</td>
                        <td>:</td>
                        <td class="member-name"></td>
                    </tr>
                    <tr>
                        <td>@Localizer["Card Type"]</td>
                        <td>:</td>
                        <td class="member-card-type"></td>
                    </tr>
                    <tr>
                        <td>@Localizer["Discount"]</td>
                        <td>:</td>
                        <td class="member-discount"></td>
                    </tr>
                    <tr>
                        <td>@Localizer["Expire Date"]</td>
                        <td>:</td>
                        <td class="member-expire"></td>
                    </tr>
                    <tr>
                        <td>@Localizer["Description"]</td>
                        <td>:</td>
                        <td class="member-descr"></td>
                    </tr>

                </table>

                <hr />
            </div>

        </div>
    </div>
    @*--------------------Add on---------------------*@
    <!-----------------------------Discount Member Card--------------------------->
    <div id="item-add-on" style="display: none;">
        <div class='wrap-block col-two'>
            <div class='left-block m0'>
                <div class="block">
                    <nav class='nav-toolbar'>
                        <div class='item'>
                            <div class='btn'
                                 style="height: 30px; line-height: 30px;">
                                <i class="far fa-plus-square"></i>
                            </div>
                        </div>
                        <div class="item group-search-boxes">
                            <div id="text-search" class="wrap-search-box">
                                <div class="wrap-input show" style="max-width: 326px;">
                                    <i id="i-search" class="i-search fas fa-search"></i>
                                    <input class="ignore" name="search-member" type="text" value="" placeholder=@Localizer["Code,Name search ..."]>
                                    <i id="i-close" class="i-close far fa-times-circle"></i>
                                </div>
                                <div id="btn-search" style="display: none;" class="btn-search no-space"><i class="fas fa-search"></i></div>
                            </div>
                        </div>
                    </nav>
                    <div class='wrap-table list scroll-xy bg-gray'
                         style="height: 350px; margin: .5rem 0 0 .25rem;">
                        <table class="item-add-on-listview">
                            <tr>
                                <th>@Localizer["Image"]</th>
                                <th>@Localizer["Code"]</th>
                                <th>@Localizer["Name"]</th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class='right-block  m0'>
                <h3 id="detail-item-add-on"></h3>

                <h4>@Localizer["*Add on"]</h4>
                <hr />
                <div class='wrap-table list scroll-xy bg-gray'
                     style="height:150px; margin: .5rem 0 0 .25rem;">
                    <table class="item-add-on-listview">
                        <tr>
                            <th>@Localizer["Code"]</th>
                            <th>@Localizer["Name"]</th>
                            <th>@Localizer["Delete"]</th>
                        </tr>
                    </table>
                </div>
                <h4>@Localizer["*Comment"]</h4>
                <textarea></textarea>
                <hr />
            </div>

        </div>
    </div>


    <div id="split-receipt" class='wrap-table list' style="display: none; height: 355px;">
        <table id="split-receipt-listview">
            <tr>
                <th>@Localizer["Code"]</th>
                <th>@Localizer["Name"]</th>
                @*<th>Qty</th>*@
                <th>@Localizer["Origin Qty"]</th>
                <td>@Localizer["To-"]</td>
                <th>@Localizer["Split-(Qty)"]</th>
                <th></th>
            </tr>

        </table>
    </div>

    <div id="items-return" class='wrap-table list' style="display: none; height: 355px;">
        <table id="items-return-listview">
            <tr>
                @*<th>№</th>*@
                <th>@Localizer["Code"]</th>
                <th>@Localizer["Name"]</th>
                <th>@Localizer["In Stock"]</th>
                <th>@Localizer["Ordered Qty"]</th>

            </tr>

        </table>
    </div>

    <div id="edit-item-price" class='wrap-table list' style="display: none; height: 355px;">
        <table id="edit-item-price-listview">
            <tr>
                <th>@Localizer["Code"]</th>
                <th>@Localizer["Name"]</th>
                <th>@Localizer["Origin Price"]</th>
                <td>@Localizer["To-"]</td>
                <th>@Localizer["New Price"]</th>

            </tr>

        </table>
    </div>

    <div id="item-comment" class='wrap-table list' style="display: none; height: 355px;">
        <table id="item-comment-listview">
            <tr>
                <th>@Localizer["Code"]</th>
                <th>@Localizer["Name"]</th>
                <th>@Localizer["Qty"]</th>
                <th>@Localizer["Comment"]</th>

            </tr>

        </table>
    </div>

    @*login admin*@
    <div id="admin-authorization" hidden>
        <div class="block m1">
            <div class="flexbox wrap space-between full-flex">
                <label>Username</label>
                <input class="security-username" type="search">
            </div>
            <div class="flexbox wrap space-between full-flex">
                <label>Password</label>
                <input class="security-password" type="password" autocomplete="off">
            </div>
            <div class="error-security-login" style="color:red"></div>
        </div>
    </div>

    @*Script embeded*@
    <script>


        //Globle Varaible
        var db = new Warehouse();
        let Order = {}; // object map with class
        let date = new Date();

        //const $all_step = $(".group-steps .all-step");
        let order_master = {}
        let order_info = {};
        order_info.branchid =@BranchID;
        order_info.user =@UserID;
        function changelanguege() {
            var culure = $("#changelanguage").val();
            $.ajax({
                url: "/Home/selectLanguage",
                type: "POST",
                dataType: "JSON",
                data: { culture: culure, returnUrl: '/' },
                complete: function (response) {
                    location.reload();
                }
            });
        }
    </script>

</body>
</html>