﻿@model IEnumerable<ItemGroup1>
@{ 
    Layout = null;
    int @BranchID = Convert.ToInt32(@User.FindFirst("BranchID").Value);
    int @UserID = Convert.ToInt32(@User.FindFirst("UserID").Value);

}
<html>

<head>
    <title>POS</title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="~/pos/css/core.css" rel="stylesheet" />
    <script src="~/pos/js/database/warehouse.js"></script>
    <link href="~/pos/css/pagination.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/pos/js/core.js" defer></script>
    <script src="~/pos/js/plugin/table.js" defer></script>
    <!--Signal R-->
    <script src="~/lib/aspnet-signalr/signalr.min.js"></script>
    <script src="~/pos/signalr/realbox.js"></script>
    @*<script src="~/pos/signalr/orderhub.js"></script>*@
    @*<script src="~/pos/signalr/mainscreen.js" defer></script>*@

    <script src="~/pos/scripts/krms/intail-data.js" defer></script>
    <script src="~/pos/scripts/krms/searchbarcode.js" defer></script>
    <script src="~/pos/scripts/krms/tables.js" defer></script>
    <script src="~/pos/scripts/krms/combine.js" defer></script>
    <script src="~/pos/scripts/krms/spilt.js" defer></script>
    <script src="~/pos/scripts/krms/discount-member.js" defer></script>
    <script src="~/pos/scripts/krms/item-return.js" defer></script>
    <script src="~/pos/scripts/krms/edit-price.js" defer></script>
    @*<script src="~/pos/scripts/krms/add-on.js" defer></script>*@
    <script src="~/pos/scripts/krms/main-menu.js" defer></script>
    <script src="~/pos/scripts/krms/bill.js" defer></script>
    <script src="~/pos/scripts/krms/clear-order.js" defer></script>
    <script src="~/pos/scripts/krms/filter-group.js" defer></script>
    <script src="~/pos/scripts/krms/get-order.js" defer></script>
    <script src="~/pos/scripts/krms/item-order.js" defer></script>
    <script src="~/pos/scripts/krms/payment.js" defer></script>
    <script src="~/pos/scripts/krms/send-data.js" defer></script>
    <script src="~/pos/scripts/krms/main-pos.js" defer></script>

    <script src="~/pos/scripts/krms/numeral.min.js" defer></script>
    <script src="~/pos/scripts/krms/function.js" defer></script>
    <script src="~/pos/scripts/krms/comment.js" defer></script>
    <script src="~/pos/scripts/krms/void-order.js" defer></script>
    <script src="~/js/jquery.twbsPagination.js"></script>
    <script src="~/pos/money-exchange/money.js"></script>
    <script src="~/pos/money-exchange/money.min.js"></script>
    <script src="~/pos/scripts/krms/discount-item.js" defer></script>
    <script src="~/pos/scripts/krms/add-new-item.js" defer></script>
    <script src="~/pos/scripts/kbms/cancel-order.js" defer></script>
    <script src="~/pos/scripts/kbms/return-item.js" defer></script>
    <script src="~/pos/scripts/krms/discount-total.js" defer></script>
    <script src="~/pos/scripts/krms/add-on-item.js" defer></script>
    <style>
        html {
            font-family: "Kh Battambang" !important;
            font-size: 1em !important;
        }

        .trash {
            color: red;
        }

        .error {
            border: 1px solid red;
        }

        .badge {
            position: absolute;
            top: -2.5px;
            right: -2.5px;
            width: 20px;
            height: 20px;
            line-height: 20px;
            border-radius: 50%;
            background-color: #f5050F;
            color: white;
            font-size: .8em;
        }

        #reprint-content .wrap-table table th {
            text-align: left;
        }

        #reprint-content .wrap-table table td:last-child {
            text-align: right;
        }

        .wrap-table table td input {
            width: 100%;
            margin: .5rem 0;
        }

        .wrap-table table td > * {
            height: 30px;
            line-height: 30px;
        }

        .wrap-table table.cash-in tr:first-child,
        .wrap-table table.cash-out tr:first-child {
            display: none;
        }

        .fa, .fas, .far, .fal {
            line-height: 30px;
        }

        #setting-content input, #setting-content select {
            width: 100px;
            background: transparent;
        }

        select {
            font-family: 'FontAwesome', 'Second Font name'
        }

        .panel .left-panel .wrap-table.list {
            background: #eee;
            height: calc(100% - 240px);
        }

        .dialog-box .outer-content {
            height: 60vh !important;
        }

            .dialog-box .outer-content .wrap-table.list {
                height: 240px;
            }

        .ajax-loader .content img {
            width: 70px;
        }

        .item-gridview .wrap-grid .grid-image .order-calc {
            position: absolute;
            left: 0;
            bottom: 0;
            line-height: normal;
            cursor: pointer;
            z-index: 3;
            visibility: collapse;
            margin: 0 0 2.5px 2.5px;
        }

            .item-gridview .wrap-grid .grid-image .order-calc.show {
                visibility: visible;
            }

        .dialog-box.calculator.standard {
            width: auto;
            border: 1px solid #AAA;
            background: #EEE;
        }

        .dialog-box-background .dialog-box .content.outer-content {
            width: 70vw;
        }
        /*open shift && close*/
        wrap-table table th, .wrap-table table td {
            text-align: left !important;
        }
        wrap-table table th, .wrap-table table td{
            text-align:left !important;
        }
    </style>
</head>
<body>
    <div dialog-container></div>
    <nav class="nav-header">
        <div id="goto-main-menu" class="item csr-pointer">
            <i class="fas fa-bars fa-fw fa-lg"></i>
            <div id="main-menu-content" class="wrap-block" style="display: none;">

                <div class="block myb1">
                    <div class="title">@Localizer["Shift"]</div>
                    <div class="group-btns">
                        <div class="wrap-btn" id="open-shift">
                            <div class="btn"><i class="fa fa-money-bill-wave" aria-hidden="true"></i></div>
                            <label class="label">@Localizer["Open"]</label>
                            <div id="open-shift-content" class="wrap-block" style="display: none;">
                                <div class="block border">
                                    <div class="title">@Localizer["Currency"]</div>
                                    <div class="wrap-table shift td">
                                        <table class="open-cash-in"></table>
                                    </div>
                                </div>
                                <div class="block border">
                                    <div class="title">@Localizer["Summary"]</div>
                                    <div class="wrap-table">
                                        <table>
                                            <tr>@Localizer["Total Cash In :"] </tr>
                                            <span class="cash-in-total">0.00</span>
                                        </table>
                                        
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="wrap-btn" id="close-shift">
                            <div class="btn"><i class="fa fa-money-check" aria-hidden="true"></i></div>
                            <label class="label">@Localizer["Close"]</label>
                            <div id="close-shift-content" class="wrap-block" style="display: none;">
                                <div class="block border">
                                    <div class="title">@Localizer["Currency"]</div>
                                    <div class="wrap-table">
                                        <table class="close-cash-out"></table>
                                    </div>

                                </div>
                                <div class="block border">
                                    <div class="title">@Localizer["Summary"]</div>
                                    <div class="wrap-table">
                                        <table>
                                            <tr>@Localizer["Total Cash Out :"] </tr>
                                            <span class="cash-out-total">0.00</span>
                                        </table>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>

                </div>
                @*<div class="block myb1">
                        <div class="title">Languages</div>
                        <div class="group-btns">
                            <div class="wrap-btn">
                                <div class="btn"><i class="fa fa-language" aria-hidden="true"></i></div>
                                <label class="label">Khmer</label>
                            </div>
                            <div class="wrap-btn">
                                <div class="btn"><i class="fa fa-language" aria-hidden="true"></i></div>
                                <label class="label">English</label>
                            </div>
                            <div class="wrap-btn">
                                <div class="btn"><i class="fa fa-language" aria-hidden="true"></i></div>
                                <label class="label">Chinese</label>
                            </div>
                        </div>
                    </div>*@

                <div class="block myb1">
                    <div class="title">@Localizer["Others"]</div>
                    <div class="group-btns">

                        <div id="goto-reprint" class="wrap-btn">
                            <div class="btn"><i class="fa fa-print" aria-hidden="true"></i></div>
                            <label class="label">@Localizer["Reprint"]</label>
                            <div id='reprint-content' style="display: none;">
                                <div class="item group-search-boxes">
                                    <div id="text-search" class="wrap-search-box">
                                        <div class="wrap-input show">
                                            <i id="i-search" class="i-search fas fa-search"></i>
                                            <input class="ignore" name="search-receipt-reprint" type="text" value="" placeholder=@Localizer["Search ..."]>
                                            <i id="i-close" class="i-close far fa-times-circle"></i>
                                        </div>
                                        <div id="btn-search" style="display: none;" class="btn-search no-space"><i class="fas fa-search"></i></div>
                                    </div>
                                </div>
                                <div class="flexbox my1">
                                    <span class="mxr1"><label>@Localizer["From"] </label><input type="date" class="reprint-date-from" /></span>
                                    <span><label>@Localizer["To"] </label><input type="date" class="reprint-date-to" /></span>
                                </div>
                                <div id="reprint-receipt" class='wrap-table list'>
                                    <table class="reprint-receipt-listview">
                                        <tr>
                                            <th>@Localizer["Receipt №"]</th>
                                            <th>@Localizer["Cashier"]</th>
                                            <th>@Localizer["Date"]</th>
                                            <th>@Localizer["Time"]</th>
                                            <th>@Localizer["Table"]</th>
                                            <th>@Localizer["Amount"]</th>
                                            <th>@Localizer["Currency"]</th>
                                            <th></th>
                                        </tr>

                                    </table>
                                </div>
                            </div>
                        </div>

                        <div id="goto-setting" class="wrap-btn">
                            <div class="btn"><i class="fas fa-cogs"></i></div>
                            <label>@Localizer["Setting"]</label>

                            <div id='setting-content' style="display: none;">
                                <div class="wrap-block col-two">
                                    <div class="left-block">
                                        <div class="block border myb1">
                                            <div class="title">@Localizer["Receipt"]</div>

                                            <div class="flexbox space-between myb1">
                                                <div>@Localizer["Print Receipt Order"]</div>
                                                <label class="switch">
                                                    <input type="checkbox" checked="" class="print-receipt-order">
                                                    <span class="slider round"></span>
                                                </label>
                                            </div>
                                            <div class="flexbox space-between myb1">
                                                <div>@Localizer["Print Label"]</div>
                                                <label class="switch">
                                                    <input type="checkbox" class="print-receipt-label">
                                                    <span class="slider round"></span>
                                                </label>
                                            </div>
                                            <div class="flexbox space-between myb1">
                                                <div>@Localizer["Print Receipt Pay"]</div>
                                                <label class="switch">
                                                    <input class="print-receipt-pay" type="checkbox" checked="">
                                                    <span class="slider round"></span>
                                                </label>
                                            </div>
                                            <div class="flexbox space-between myb1">
                                                <div>@Localizer["Print Receipt Count"]</div>
                                                <input autofocus autocomplete="off" value="0" class="print-receipt-count" />
                                            </div>
                                            <div class="flexbox space-between myb1">
                                                <div>@Localizer["Max Queue Count"]</div>
                                                <input autofocus autocomplete="off" value="0" class="max-queue-count" />
                                                <select class="receipt-auto-order">
                                                    <option value="1" selected>@Localizer["Auto"]</option>
                                                    <option value="0">@Localizer["Manual"]</option>
                                                </select>
                                            </div>

                                            <div class="flexbox space-between myb1">
                                                <div>@Localizer["Receipt Size"]</div>
                                                <select class="receipt-size">
                                                    <option>80mm</option>
                                                    <option>A4</option>
                                                    <option>A5</option>
                                                </select>
                                            </div>
                                            <div class="flexbox space-between myb1">
                                                <div>@Localizer["Receipt Template"]</div>
                                                <select style="width: 100px; background: transparent;" class="receipt-template">
                                                    <option>KRMS</option>
                                                    <option>KTMS</option>
                                                    <option>KBMS</option>
                                                </select>
                                            </div>
                                            <div class="flexbox space-between myb1">
                                                <div>@Localizer["WiFi Password"]</div>
                                                <input autofocus autocomplete="off" class="password-wifi" />
                                            </div>

                                        </div>
                                    </div>
                                    <div class="right-block">
                                        <div class="block border">
                                            <div class="title">@Localizer["Company"]</div>
                                            @*<div hidden class="flexbox space-between myb1">
                                                    <div>@Localizer["Dual Screen"]</div>
                                                    <label class="switch">
                                                        <input type="checkbox" checked="" class="dual-screen">
                                                        <span class="slider round"></span>
                                                    </label>
                                                </div>*@

                                            <div class="flexbox space-between myb1">
                                                <div>@Localizer["VATable"]</div>
                                                <label class="switch">
                                                    <input type="checkbox" checked="" class="vat-able">
                                                    <span class="slider round"></span>
                                                </label>
                                            </div>
                                            <div class="flexbox space-between myb1">
                                                <div>@Localizer["Vat Invoice No."]</div>
                                                <input autofocus autocomplete="off" value="0" class="vat-invoice-no" />
                                            </div>
                                            <div class="flexbox space-between myb1">
                                                <div>@Localizer["Customer"]</div>
                                                <select style="width: 100px; background: transparent;" class="customer-id"></select>
                                            </div>
                                            <div class="flexbox space-between myb1">
                                                <div>@Localizer["Price List"]</div>
                                                <select style="width: 100px; background: transparent;" class="price-list-id"></select>
                                            </div>
                                            <div class="flexbox space-between myb1">
                                                <div>@Localizer["Display Currency"]</div>
                                                <select style="width: 100px; background: transparent;" class="receipt-other-curr"></select>
                                                <input autofocus autocomplete="off" class="other-curr-rate" />
                                            </div>
                                            <div class="flexbox space-between myb1">
                                                <div>@Localizer["Warehouse"]</div>
                                                <select style="width: 100px; background: transparent;" class="warehouse-id"></select>
                                            </div>

                                            <div class="flexbox space-between myb1">
                                                <div>@Localizer["Payment Means"]</div>
                                                <select style="width: 100px; background: transparent;" class="payment-means-id"></select>
                                            </div>


                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        @*<div class="wrap-btn" id="goto-set-print-receipt">
                                <div class="btn"><i class="fa fa-print" aria-hidden="true"></i></div>
                                <label class="label">@Localizer["Set Print Receipt"]</label>
                            </div>*@
                        @*<div id='set-print-receipt-content' style="display: none;">
                                <span><label class="label">@Localizer["Printer Name"] :</label><input type="text" class="set-printer-name" /></span>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="item grow"></div>
        <div id="toggle-listview" class="item min-max csr-pointer"><i class="far fa-window-minimize"></i></div>
        @*@{
                var requestCulture = Context.Features.Get<IRequestCultureFeature>();
                var cultureItems = new List<SelectListItem>
                    {
                    new SelectListItem{Value=@"en-US",Text=@"EN"},
                    new SelectListItem{ Value=@"km-KH",Text=@"KH"},
                    new SelectListItem{Value=@"zh-CN",Text=@"CN"}
                    };
            }
            <div class="item" style="height: 40px; background-color:#2D905F;" title="@Localizer["Request culture provider:"]@requestCulture?.Provider?.GetType().Name">
                <form id="selectLanguage" asp-controller="Home"
                      asp-action="selectLanguage" asp-route-returnUrl="@Context.Request.Path"
                      method="post" role="form">
                    <select name="culture" asp-for="@requestCulture.RequestCulture.UICulture.Name" id="changelanguage" class="input-sm form-control"
                            asp-items="cultureItems" style="width:auto; margin-top:2px; background-color:#2D905F; color:white;" onchange="changelanguege()"></select>
                </form>
            </div>*@
        <div class="item">
            <div class="dropbox down crumb profile">

                <div class="dropbox-btn"><img class="img-circle" src="@Url.Content(@User.FindFirst("Photo").Value)" alt="..." /></div>
                <div class="wrap-dropbox-content">
                    <div class="dropbox-navigator">
                        <div class="i-close far fa-window-close"></div>
                    </div>
                    <div class="dropbox-content">
                        <a href="#" class="option"><i class="fas fa-user fa-fw"></i>@User.FindFirst("FullName").Value</a>
                        @*<a href="#" class="option" id="change-password-user"><i class="fas fa-user-cog fa-fw"></i>Change Password</a>*@
                        <a href="#" class="option" id="log-out-pos"><i class="fas fa-sign-out-alt fa-fw"></i>@Localizer["Log out"]</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="item item-circle">
            <img src="icons/minimize.png"/>
        </div>
        <div class="item item-circle">
            <img src="icons/close.png"/>
        </div> -->
    </nav>

    <div class="panel">
        <div id="panel-payment" class="full-panel">
            <nav class="nav-toolbar">
                <div class="item csr-pointer">
                    <div id="goto-panel-group-items"><i class="fas fa-chevron-left"></i>&nbsp;@Localizer["Back"]</div>
                </div>
                <div class="item">
                    <div class="title Table"></div>
                </div>
                <div class="grow"></div>
            </nav>
            <div class="measure scroll-y">
                <div class="wrap-block col-two">
                    <div class="left-block">
                        <div class="block">
                            <div class="gridview number-pad">
                                <div class="wrap-grid">
                                    <span class="grid" data-value="7">7</span>
                                    <span class="grid" data-value="8">8</span>
                                    <span class="grid" data-value="9">9</span>
                                    <span class="grid" data-value="4">4</span>
                                    <span class="grid" data-value="5">5</span>
                                    <span class="grid" data-value="6">6</span>
                                    <span class="grid" data-value="1">1</span>
                                    <span class="grid" data-value="2">2</span>
                                    <span class="grid" data-value="3">3</span>
                                    <span class="grid" data-value="."><img src="~/pos/icons/dot.png" /></span>
                                    <span class="grid" data-value="0">0</span>
                                    <span class="grid" data-value="-1"><img src="~/pos/icons/backspace.png" /></span>
                                </div>
                            </div>
                            <div class="gridview quick-number">
                                <div class="wrap-grid">
                                    <span class="grid bg-green" data-value="5">5</span>
                                    <span class="grid bg-sky" data-value="10">10</span>
                                    <span class="grid bg-yellow" data-value="50">50</span>
                                    <span class="grid bg-orange" data-value="100">100</span>
                                    <span class="grid bg-red" data-value="200">200</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right-block fuse">
                        <div class="block px1">
                            <div class="title">@Localizer["Payment detail"]</div>

                            @*<div hidden class="wrap-input breadcrumb">
            <div class="step"><i class="far fa-money-bill-alt">@Localizer["Tips"]</i></div>
            <input name="tips" class="number" id="pay-tip">
            <div class="step slope-left local-symbol"></div>
        </div>*@

                            <div class="wrap-input breadcrumb">
                                <div class="step"><i class="far fa-money-bill-alt"> @Localizer["Total"]</i></div>
                                <input id="pay-total" readonly>
                                <div class="step slope-left local-symbol"></div>
                            </div>
                            <div class="wrap-input breadcrumb">
                                <div class="step"><i class="far fa-money-bill-alt"> @Localizer["Total"]</i></div>
                                <input id="pay-total-sys" readonly style="color:darkblue;font-style: italic;">
                                <div class="step slope-left display-symbol"></div>
                            </div>
                           
                            <div class="flexbox space-between myb1">
                                <div class="title">@Localizer["Payment Means"]</div>
                                <select style="width: auto; background: transparent;" class="payment-means-id-choosed"></select>
                            </div>

                            <div class="wrap-input breadcrumb myt2">
                                <div class="step">
                                    <i class="far fa-money-bill-alt"></i>
                                    <select>
                                        <option value="0" selected>@Localizer["Cash"]</option>

                                    </select>
                                </div>
                                <div class="wrap-calculator" style="position: relative; z-index: 9999;">
                                    <input autocomplete="off" class="number" id="pay-cash">
                                </div>
                                <div class="step slope-left local-symbol"></div>
                            </div>

                            <div class="wrap-input breadcrumb myt2">
                                <div class="step">
                                    <i class="far fa-money-bill-alt"></i>
                                    <select id="other-currency-list"></select>
                                </div>
                                <input autocomplete="off" class="number" id="pay-other-currency">
                                <div class="step slope-left other-curr-symbol"></div>
                            </div>

                            <div class="wrap-input breadcrumb">
                                <div class="step"><i class="far fa-money-bill-alt">@Localizer["Received"]</i></div>
                                <input readonly id="pay-received" style="color:darkblue;">
                                <div class="step slope-left local-symbol"></div>
                            </div>

                            <div class="wrap-input breadcrumb">
                                <div class="step"><i class="far fa-money-bill-alt">@Localizer["Change"]</i></div>
                                <input readonly id="pay-change" class="error_enghoug" style="font-style: italic;">
                                <div class="step slope-left local-symbol"></div>
                            </div>
                            <div class="wrap-input breadcrumb">
                                <div class="step"><i class="far fa-money-bill-alt">@Localizer["Change"]</i></div>
                                <input readonly id="pay-change-display-curr" class="error_enghoug" style="font-style: italic;">
                                <div class="step slope-left display-symbol"></div>
                            </div>
                            <div class="wrap-input breadcrumb">
                                <div> @Localizer[""]</div>
                                <input id="pay-change-display-curr-fx" readonly style="color:darkblue;font-style: italic; font-size:16px;">
                                @*<div class="step slope-left display-symbol"></div>*@
                            </div>


                            @*<div class="btn">Promotion</div>*@

                            @*<div class="wrap-input breadcrumb wrap-free myt2">
            <div class="step"><i class="fas fa-receipt"> Print receipt</i></div>
            <label class="switch">
                <input type="checkbox" class="print-receipt-pay">
                <span class="slider round"></span>
            </label>
        </div>*@

                            <div style="margin:0;" class="btn submit right" id="pay">@Localizer["Pay"]</div>

                        </div>

                    </div>

                </div>
            </div>
        </div><!--End full-panel-->

        <div id="panel-group-tables" class="full-panel show">
            <nav class="nav-toolbar top space-between">
                <div class="item breadcrumb desktop table-group">
                    <div class="step" id="all-table">@Localizer["All"]</div>

                </div>

                <div class="item group-search-boxes">

                    <div id="text-search" class="wrap-search-box">
                        <div class="wrap-input">
                            <i id="i-search" class="i-search fas fa-search"></i>
                            <input class="ignore" name="item-name" type="text" value="" placeholder="@Localizer["Text search ..."]" id="table_search">
                            <i id="i-close" class="i-close far fa-times-circle"></i>
                        </div>
                        <div id="btn-search" class="btn-search"><i class="fas fa-search"></i></div>
                    </div>
                </div>

            </nav>
            <nav class="nav-toolbar responsive">
                <div class="item breadcrumb table-group">
                    <div class="step" id="all-table">@Localizer["All"]</div>
                </div>
            </nav>

            <div id="table-item-gridview" class="gridview item-gridview full-desktop">
                <!--gridview-->
                <div class="wrap-grid">

                </div>
            </div><!--end-gridview-->
            @*<nav class="nav-toolbar bottom">
                    <span class="grow"></span>
                    <div class="item">
                        <div id="datetime" class="datetime"></div>
                    </div>
                </nav>*@
        </div><!--End panel-group-tables-->

        <div id="panel-group-items" class="full-panel">
            <div class="left-panel">

                <nav class="nav-toolbar top">
                    <div class="item goto-panel-group-tables csr-pointer" id="back-table">
                        <i class="fas fa-chevron-left"></i>&nbsp;@Localizer["Table"]
                    </div>
                    <div class="item Table"><label>T-001</label></div>
                    <!-- <div class="item grow"></div> -->

                    <div class="item">
                        <div class="dropbox down crumb list">
                            <div class="dropbox-btn" id="list-order-receipt">
                                <i class="icon fas fa-receipt"></i>
                                <div class="badge" id="badge-order">0</div>
                            </div>
                            <div class="wrap-dropbox-content">
                                <div class="dropbox-navigator">
                                    <div class="i-close far fa-window-close"></div>
                                </div>
                                <div class="dropbox-content">
                                    <i id="add-new-order" class="add-option fas fa-plus add-new-order"></i>
                                    <div id="dropbox-order" class="wrap-option scroll-y">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>

                <div id="wrap-list" class="wrap-table list">
                   
                    <table id="item-listview">
                        <tr>
                            @*<th>№</th>*@
                            <th>@Localizer["Code"]</th>
                            <th>@Localizer["Name"]</th>
                            <th>@Localizer["Price"]</th>
                            <th>@Localizer["Qty"]</th>
                            <th>@Localizer["Dis."]</th>
                            <th>@Localizer["Amount"]</th>
                            <th></th>
                        </tr>

                    </table>
                </div>
                <div class="group-btns">
                    <label id="count-item" style="position:absolute; color:whitesmoke"></label>
                    <button class="btn full-width" id="send">@Localizer["Send"]</button>
                </div>
                <div class="wrap-table summary">
                    <table>
                        <tr>
                            <th>@Localizer["Sub-Total"]</th>
                            <th>@Localizer["Discount"]</th>
                            <th>@Localizer["VAT"]</th>
                            <th>@Localizer["Total"]</th>
                        </tr>
                        <tr>
                            <td id="summary-sub-total">0.00</td>
                            <td id="summary-bonus">- %</td>
                            <td id="summary-vat">0.00</td>
                            <td id="summary-total">0.00</td>
                        </tr>
                    </table>
                </div>

                <div class="group-btns operation">
                    <div class="wrap-btn dropbox up crumb list">
                        <div class="dropbox-btn btn"><i class="fas fa-ellipsis-h fa-fw"></i></div>
                        <label class="label">@Localizer["Function"]</label>

                        <div class="wrap-dropbox-content">
                            <div class="dropbox-content">
                                @*<a href="#" id="dbl-comment" class="option"><i class="fas fa-comment" style="padding-right:5px;"></i>@Localizer["Comment"]</a>*@
                                <a href="#" id="btn-discount" class="option"><i class="fa fa-users" style="padding-right:5px;"></i>@Localizer["Discount Member"]</a>
                                
                                <a href="#" id="dbl-discount-item" class="option"><i class="fas fa-percent" style="padding-right:5px;"></i>@Localizer["Discount Item"]</a>
                                <a href="#" id="dbl-move-table" class="option"><i class="fab fa-accessible-icon fa fa-arrow-alt-circle-right" style="padding-right:5px;"></i>@Localizer["Move Table"]</a>
                                <a href="#" id="dbl-combine-receipt" class="option"><i class="fas fa-object-group fa-fw" style="padding-right:5px;"></i>@Localizer["Combine Receipt"]</a>
                                <a href="#" id="dbl-split-receipt" class="option"><i class="fas fa-clone fa-fw" style="padding-right:5px;"></i>@Localizer["Split Receipt"]</a>
                                <a href="#" id="dbl-edit-price" class="option"><i class="fas fa-clone fa-edit" style="padding-right:5px;"></i>@Localizer["Edit Item Price"]</a>
                                <a href="#" id="dbl-void-order" class="option"><i class="fas fa-broom fa-fw" style="padding-right:5px;"></i>@Localizer["Void Order"]</a>
                                <a href="#" id="dbl-cancel-receipt" class="option"><i class="fas fa-trash-restore" style="padding-right:5px;"></i>@Localizer["Cancel Receipt"]</a>
                                <a href="#" id="dbl-return-item" class="option"><i class="fas fa-dollar-sign" style="padding-right:5px;"></i>@Localizer["Return Receipt"]</a>
                                <a href="#" id="dbl-add-new-item" class="option"><i class="fas fa-plus-square fa-fw" style="padding-right:5px;"></i>@Localizer["Add New Item"]</a>
                            </div>
                            <div class="dropbox-navigator">
                                <div class="i-close far fa-window-close"></div>
                            </div>
                        </div>
                    </div>

                    <div id='btn-dis-total' class="wrap-btn">
                        <div class="btn"><i class="fas fa-percent fa-fw"></i></div>
                        <label class="label">@Localizer["Discount"]</label>
                    </div>
                    <div class="wrap-btn" id="bill">
                        <div class="btn"><i class="fas fa-print fa-fw"></i></div>
                        <label class="label" id="bill-pro">@Localizer["Bill"]</label>
                    </div>
                    <div class="wrap-btn dropbox up">
                        <div id="goto-panel-payment" class="btn"><i class="far fa-money-bill-alt fa-fw"></i></div>
                        <label class="label">@Localizer["Pay"]</label>
                    </div>
                </div>
                <!-- <div class="collapser v-collapser arrow-left"></div> -->
            </div><!--end left-panel-->

            <div class="right-panel">
                <nav class="nav-toolbar top">
                    <div class="item goto-panel-group-tables mobile csr-pointer">
                        <i class="fas fa-chevron-left"></i>&nbsp;@Localizer["Table"]
                    </div>
                    <div class="item breadcrumb desktop clear-initial-trail group-steps">
                        <div class="all-step step">@Localizer["All"]</div>
                    </div>
                    <span class="item grow"></span>
                    <div class="item group-search-boxes">
                        <div id="open-barcode" class="wrap-search-box">
                            <div class="wrap-input">
                                <i id="i-search" class="i-search fas fa-search"></i>
                                <input autocomplete="off" class="ignore" placeholder="@Localizer["Barcode search ..."]" id="item-search-barcode" type="text" value="">
                                <i id="i-close" class="i-close far fa-times-circle close-barcode"></i>
                            </div>
                            <div id="btn-search" class="btn-search"><i class="fas fa-barcode"></i></div>
                        </div>
                        <div id="text-search" class="wrap-search-box">
                            <div class="wrap-input">
                                <i id="i-search" class="i-search fas fa-search"></i>
                                <input class="ignore" id="item-search" type="text" value="" placeholder="@Localizer["Name,Code search ..."]">
                                <i id="i-close" class="i-close far fa-times-circle"></i>
                            </div>
                            <div id="btn-search" class="btn-search"><i class="fas fa-search"></i></div>
                        </div>
                    </div>

                </nav>
                <nav class="nav-toolbar responsive">
                    <div class="item breadcrumb clear-initial-trail group-steps">
                        <div class="all-step step">@Localizer["All"]</div>
                    </div>
                </nav>
                <div id="group-item-gridview" class="gridview item-gridview">
                    <!--gridview-->
                    <div class="wrap-grid">
                        @*Grid object here*@

                        @foreach (var group1 in Model)
                        {
                            <div class="grid">
                                <div data-id="@group1.ItemG1ID" data-group="1" data-group1="@group1.ItemG1ID" data-group2="0" data-group3="0" data-step="@group1.Name" hidden></div>
                                <div class="grid-caption">@group1.Name </div>
                                <div class="grid-image">
                                    <img src="~/Images/itemgroup/@group1.Images" />
                                </div>
                            </div>
                        }

                    </div>
                </div><!--end-gridview-->

                <nav class="nav-toolbar bottom">
                    <div style="display:flex;" id="pagination-list">
                        <ul style="display:flex; text-decoration:none" id="pagination"></ul>
                    </div>
                    <span class="grow"></span>
                    <div class="item">
                        <div id="datetime" class="datetime"></div>
                    </div>
                </nav>
            </div><!--End right-panel-->
        </div><!--End panel-group-items-->


    </div>

    <div id='move-table' class='dbl-function' style='display:none; height: 355px;'>
        <div class="item group-search-boxes">
            <div id="text-search" class="wrap-search-box">
                <div class="wrap-input show">
                    <i id="i-search" class="i-search fas fa-search"></i>
                    <input class="ignore" name="search-move-table" type="text" value="" placeholder="@Localizer["Search by group ..."]">
                    <i id="i-close" class="i-close far fa-times-circle"></i>
                </div>
                <div id="btn-search" style="display: none;" class="btn-search no-space"><i class="fas fa-search"></i></div>
            </div>
        </div>
        <div id='move-table-breadcrumb' class="item breadcrumb" style="margin: .5rem 0 .5rem;">
            <div id="all-table-move" class="step">@Localizer["All"]</div>
        </div>
        <div class='block'>
            <div class='title'>@Localizer["Choose Table"]</div>
            <div id='move-table-list' class="move-table-list scroll-y" style='height: 260px;'>

            </div>
        </div>

    </div><!--End #move-table-->

    <div id='combine-receipt' class='dbl-function' style="display: none;">
        <div class="group-search-boxes">
            <div id="text-search" class="wrap-search-box">
                <div class="wrap-input show">
                    <i id="i-search" class="i-search fas fa-search"></i>
                    <input class="ignore" name="search-combine-receipt" type="text" value="" placeholder="@Localizer["Text search ..."]">
                    <i id="i-close" class="i-close far fa-times-circle"></i>
                </div>
                <div id="btn-search" style="display:none;" class="btn-search no-space"><i class="fas fa-search"></i></div>
            </div>
        </div>
        <div class='block'>
            <div class='title'>@Localizer["Choose Receipts"]</div>
            <div id='combine-receipt-list' class="combine-receipt-list scroll-y" style='height: 260px;'>

            </div>
        </div>

    </div><!--End #combine-receipt-->
    <!-----------------------------Discount Member Card--------------------------->
    <div id="membercard-discount" style="display: none;">
        <div class='wrap-block col-two'>
            <div class='left-block m0'>
                <div class="block">

                    <nav class='nav-toolbar'>
                        @*<div class='item'>
                                <div class='btn'
                                     style="height: 30px; line-height: 30px;">
                                    <i class="far fa-plus-square"></i>
                                </div>
                            </div>*@
                        <div class="item group-search-boxes">
                            <div id="text-search" class="wrap-search-box">
                                <div class="wrap-input show" style="max-width: 326px;">
                                    <i id="i-search" class="i-search fas fa-search"></i>
                                    <input class="ignore" name="search-member" type="text" value="" placeholder="@Localizer["ID,Name search ..."]">
                                    <i id="i-close" class="i-close far fa-times-circle"></i>
                                </div>
                                <div id="btn-search" style="display: none;" class="btn-search no-space"><i class="fas fa-search"></i></div>
                            </div>
                        </div>
                    </nav>
                    <div class='wrap-table list scroll-xy bg-gray'
                         style="height: 350px; margin: .5rem 0 0 .25rem;">
                        <table class="membercard-discount-listview">
                            <tr>
                                <th>@Localizer["ID"]</th>
                                <th>@Localizer["Card Name"]</th>
                                <th>@Localizer["Card Type"]</th>

                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class='right-block  m0'>
                <h4>@Localizer["Detail"]</h4>
                <hr />
                <table>
                    <tr>
                        <td>@Localizer["ID"]</td>
                        <td>:</td>
                        <td class="member-id"></td>
                    </tr>
                    <tr>
                        <td>@Localizer["Name"]</td>
                        <td>:</td>
                        <td class="member-name"></td>
                    </tr>
                    <tr>
                        <td>@Localizer["Card Type"]</td>
                        <td>:</td>
                        <td class="member-card-type"></td>
                    </tr>
                    <tr>
                        <td>@Localizer["Discount"]</td>
                        <td>:</td>
                        <td class="member-discount"></td>
                    </tr>
                    <tr>
                        <td>@Localizer["Expire Date"]</td>
                        <td>:</td>
                        <td class="member-expire"></td>
                    </tr>
                    <tr>
                        <td>@Localizer["Description"]</td>
                        <td>:</td>
                        <td class="member-descr"></td>
                    </tr>

                </table>

                <hr />
            </div>

        </div>
    </div>
    @*--------------------List Item Comment---------------------*@
    <div id="item-comment-order" style="display: none;">
        <div class='wrap-block col-two'>
            <div class='left-block m0'>
                <div class="block">
                    <div style="margin-left:5px;" class='item'>
                        <div class='btn btn-add-item-comment'
                             style="height: 30px; line-height: 30px;">
                            <i class="far fa-plus-square"></i>
                        </div>
                        <div class='btn btn-delete-item-comment'
                             style="height: 30px; line-height: 30px;">
                            <i class="fa fa-trash trash"></i>
                        </div>
                    </div>
                    <nav class='nav-toolbar'>

                        <div class="item group-search-boxes">
                            <div id="text-search" class="wrap-search-box">
                                <div class="wrap-input show" style="max-width:270px;">
                                    <i id="i-search" class="i-search fas fa-search"></i>
                                    <input id="txt-item-comment-search" class="ignore" name="search-member" type="text" value="" placeholder=@Localizer["Search ..."]>
                                    <i id="i-close" class="i-close far fa-times-circle"></i>
                                </div>
                                <div id="btn-search" style="display: none;" class="btn-search no-space"><i class="fas fa-search"></i></div>
                            </div>
                        </div>
                    </nav>
                    <div class='wrap-table list scroll-xy bg-gray'
                         style="height:280px; margin: .5rem 0 0 .25rem;">
                        <table class="item-comment-listview">
                            <tr>
                                <th style="text-align:left">@Localizer["Descripton"]</th>
                                <th style="text-align:center">@Localizer["Choose"]</th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class='right-block  m0'>
                <h3 id="detail-item-comment"></h3>

                <h4>@Localizer["*Commented"]</h4>
                <hr />
                <div class='wrap-table list scroll-xy bg-gray'
                     style="height:auto; margin: .5rem 0 0 .25rem;">
                    <table class="item-comment-choosed-listview">
                        <tr>
                            <th style="text-align:center">@Localizer["#"]</th>
                            <th style="text-align:left">@Localizer["Descripton"]</th>
                            <th>@Localizer["Remove"]</th>
                        </tr>
                    </table>

                </div>

            </div>

        </div>
    </div>

    <div id="split-receipt" class='wrap-table list' style="display: none; height: 355px;">
        <table id="split-receipt-listview">
            <tr>
                <th>@Localizer["Code"]</th>
                <th>@Localizer["Name"]</th>
                @*<th>Qty</th>*@
                <th>@Localizer["Origin Qty"]</th>
                <td>@Localizer["To-"]</td>
                <th>@Localizer["Split-(Qty)"]</th>
                <th></th>
            </tr>

        </table>
    </div>

    <div id="items-return" class='wrap-table list' style="display: none; height: 355px;">
        <table id="items-return-listview">
            <tr>
                @*<th>№</th>*@
                <th>@Localizer["Code"]</th>
                <th>@Localizer["Name"]</th>
                <th>@Localizer["In Stock"]</th>
                <th>@Localizer["Ordered Qty"]</th>
                <th>@Localizer["Commited Qty"]</th>

            </tr>

        </table>
    </div>

    <div id="edit-item-price" class='wrap-table list' style="display: none; height: 355px;">
        <table id="edit-item-price-listview">
            <tr>
                <th>@Localizer["Code"]</th>
                <th>@Localizer["Name"]</th>
                <th>@Localizer["Origin Price"]</th>
                <td>@Localizer["To-"]</td>
                <th>@Localizer["New Price"]</th>

            </tr>

        </table>
    </div>

    <div id="discount-item" class='wrap-table list' style="display: none; height: 355px;">
        <div style="display:flex; float:right">
            <label> Discount Type :</label>
            <select style="width: 100px; background: transparent;" class="discount-item-type">
                <option value="Percent">Percent</option>
                <option value="Cash">Cash</option>

            </select>
        </div>
        <table id="discount-item-listview">
            <tr>
                <th>@Localizer["Code"]</th>
                <th>@Localizer["Name"]</th>
                <th>@Localizer["Discount"]</th>

            </tr>

        </table>
    </div>

    <div id="item-comment" class='wrap-table list' style="display: none; height: 355px;">
        <table id="item-comment-listview">
            <tr>
                <th>@Localizer["Code"]</th>
                <th>@Localizer["Name"]</th>
                <th>@Localizer["Qty"]</th>
                <th>@Localizer["Comment"]</th>

            </tr>

        </table>
    </div>

    @*login admin*@
    <div id="admin-authorization" hidden>
        <div class="block m1">
            <div class="flexbox wrap space-between full-flex">
                <label>Username</label>
                <input class="security-username" type="search">
            </div>
            <div class="flexbox wrap space-between full-flex">
                <label>Password</label>
                <input class="security-password" type="password" autocomplete="off">
            </div>
            <div class="error-security-login" style="color:red"></div>
        </div>
    </div>
    @*edit name order*@
    <div id="order-editname" hidden>
        <div class="block m1">
            <div class="flexbox wrap space-between full-flex">
                <label>@Localizer["Addition :"]</label>
                <input class="order-khname" type="search">
            </div>
        </div>
    </div>
    @*edit order no*@
    <div id="order-editorderno" hidden>
        <div class="block m1">
            <div class="flexbox wrap space-between full-flex">
                <label>@Localizer["Set Order:"]</label>
                <input class="order-number" type="search">
                <span class="order-number-erorr" style="margin-left:100px; color:red"></span>
            </div>
        </div>
    </div>
    @*set discount total*@
    <div id="content-dis-total" hidden>
        <div class="block m1">
            <div class="flexbox wrap space-between full-flex">
                <label>@Localizer["Type :"]</label>
                <select class="dis-total-type">
                    <option value="Percent">%</option>
                    <option value="Cash">$</option>
                </select>
            </div>
            <div class="flexbox wrap space-between full-flex">
                <label>@Localizer["Discount :"]</label>
                <input class="discount-total" type="search">
                <span class="discount-total-erorr" style="margin-left:100px; color:red"></span>
            </div>
        </div>
    </div>
    @*add-new-item*@
    <div class="add-new-item-content" hidden>
        <div class="block m1">
            <div>
                <div>@Localizer["Print To"]</div>
                <select class="add-new-item-printto">
                    <option selected disabled value="0">@Localizer["---Select---"]</option>
                </select>

            </div>
            <div>
                <label>@Localizer["Description"]</label>
                <input class="add-new-item-name" type="search">

            </div>

            <div class="wrap-input breadcrumb myt2">
                <div><label>@Localizer["Price"]</label></div>
                <div class="wrap-calculator" style="position: relative; z-index: 9999;">
                    <input class="number add-new-item-price" style="color:brown">
                </div>
                <div class="slope-left local-symbol"></div>
            </div>

        </div>
    </div>
    @*List Cancel Order*@
    <div id='cancel-receipt-content' style="display: none;">
        <div class="item group-search-boxes">
            <div id="text-search" class="wrap-search-box">
                <div class="wrap-input show">
                    <i id="i-search" class="i-search fas fa-search"></i>
                    <input class="ignore" id="txt-item-cancel-search" name="search-receipt-cancel" type="text" value="" placeholder=@Localizer["Search ..."]>
                    <i id="i-close" class="i-close far fa-times-circle"></i>
                </div>
                <div id="btn-search" style="display: none;" class="btn-search no-space"><i class="fas fa-search"></i></div>
            </div>
        </div>
        <div class="flexbox my1">
            <span class="mxr1"><label>@Localizer["From"] </label><input type="date" class="cancel-date-from" /></span>
            <span><label>@Localizer["To"] </label><input type="date" class="cancel-date-to" /></span>
        </div>
        <div id="cancel-receipt" class='wrap-table list'>
            <table class="cancel-receipt-listview">
                <tr>
                    <th>@Localizer["Receipt №"]</th>
                    <th>@Localizer["Cashier"]</th>
                    <th>@Localizer["Date"]</th>
                    <th>@Localizer["Time"]</th>
                    <th hidden>@Localizer["Table"]</th>
                    <th>@Localizer["Amount"]</th>
                    <th>@Localizer["Currency"]</th>
                    <th>@Localizer["Action"]</th>
                </tr>

            </table>
        </div>
    </div>
    @*--------------------List Return Invoice---------------------*@
    <div id="item-return-order" style="display: none; margin:10px">

        <div class='wrap-block col-three'>
            <div class='left-block m0'>
                <div style="margin-bottom:10px">
                    <span class="mxr1"><label>@Localizer["From"] </label><input type="date" class="return-date-from" /></span>
                    <span><label>@Localizer["To"] </label><input type="date" class="return-date-to" /></span>
                </div>
                <div class="flexbox justify-content-start">
                    <div class="group-search-boxes">
                        <div id="text-search" class="wrap-search-box">
                            <div class="wrap-input show" style="max-width:250px; width: auto;">
                                <i id="i-search" class="i-search fas fa-search"></i>
                                <input id="txt-item-return-search" class="ignore" name="search-member" type="text" value="" placeholder=@Localizer["Search ..."]>
                                <i id="i-close" class="i-close far fa-times-circle"></i>
                            </div>
                            <div id="btn-search" style="display: none;" class="btn-search no-space"><i class="fas fa-search"></i></div>
                        </div>
                    </div>

                </div>
                <div class="block">

                    <div class='wrap-table list scroll-xy bg-gray'
                         style="height:180px; margin: .5rem 0 0 .25rem;">
                        <table class="return-invoice-listview">
                            <tr>
                                @*<th style="text-align:left">@Localizer["#"]</th>*@
                                <th style="text-align:left">@Localizer["Receipt No."]</th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class='right-block fuse m0'>
                <h4>@Localizer["* List of items"]</h4>
                <div class="trash error-return-item"></div>
                <hr />
                <div class='wrap-table list scroll-xy bg-gray'
                     style="min-height:350px; margin: .5rem 0 0 .25rem;">
                    <table class="item-return-choosed-listview">
                        <tr>
                            <th style="text-align:left">@Localizer["Code"]</th>
                            <th style="text-align:left">@Localizer["Item Name"]</th>
                            <th></th>
                            <th style="text-align:center;width:10px">@Localizer["Return Qty"]</th>
                            <th></th>
                        </tr>
                    </table>
                </div>

            </div>

        </div>
    </div>
    <script src="~/js/easytimer.js"></script>
    @*Script embeded*@
    <script>


        //Globle Varaible
        var db = new Warehouse();
        let Order = {}; // object map with class
        let date = new Date();

        //const $all_step = $(".group-steps .all-step");
        let order_master = {}
        let order_info = {};
        order_info.branchid =@BranchID;
        order_info.user =@UserID;

        //Pagination
        var $pagination = $('#pagination'),
            totalRecords = 0,
            records = [],
            displayRecords = [],
            recPerPage = 48,
            page = 1,
            totalPages = 0,
            currentPage = 1;


        //Intail status table
        $.ajax({
            url: '/POS/IntailStatusTable',
            type: 'POST',
            async: false
        });
        var timer1 = new easytimer.Timer()
        timer1.start();
        timer1.addEventListener('minutesUpdated', function (e) {

            $.ajax({
                url: '/POS/UpdateTimeOnTable',
                type: 'POST',
                async: false
            });
        });
    </script>

</body>
</html>