﻿<script src="~/js/table.js" defer></script>
<script src="~/js/warehouse.js"></script>
<link href="~/css/Modal.css" rel="stylesheet" />
<style>
    fieldset.scheduler-border {
        border: 2px groove #e6ffe6;
        padding: 0 1.4em 1.4em 1.4em !important;
        margin: 10px 0 1.5em 0 !important;
        -webkit-box-shadow: 0px 0px 0px 0px #000;
        box-shadow: 0px 0px 0px 0px #00cc00;
    }
        
    fieldset.scheduler-borders {
        border: 2px groove #e6ffe6;
        padding: 0 1.4em 1.4em 1.4em !important;
        margin: 10px 0 1.5em 0 !important;
        -webkit-box-shadow: 0px 0px 0px 0px #000;
        box-shadow: 0px 0px 0px 0px #00cc00;
    }

    legend.scheduler-border {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
    }

    .content_vendor, .content_exchange, .content_remark, .content_total, .content_reff_no, .content_user, .content_localcurrency, .content_ap, .content_postingdate, .content_documentdate {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;
        padding: 3px 0px 3px 3px;
        margin: 5px 1px 3px 0px;
        border: 1px solid #DDDDDD;
        width: 60%;
        height: 30px;
        font-family: Arial;
        font-size: 13px;
        border-radius: 3px;
    }

   .content_vendor:focus, .content_total:focus, .content_remark:focus, .content_exchange:focus, .content_reff_no:focus, .content_user:focus, .content_localcurrency:focus, .content_ap:focus, .content_postingdate:focus, .content_documentdate:focus {
            border: 1px solid rgba(77, 142, 245,1);
            box-shadow: 0 0 5px rgba(81, 203, 238, 1);
            padding: 3px 0px 3px 3px;
            margin: 5px 1px 3px 0px;
            border-radius: 3px;
            font-family: Arial;
            font-size: 13px;
    }

    .label_vendor, .lable_total, .label_exchange, .label_remark, .label_reff_no, .label_user, .label_ap, .label_postingdate, .label_documentdate {
        min-width: 30%;
        width: 30%;
    }

    .btnadd {
        margin-top: 20px;
    }
    .content_CashDiscount, .content_totaldiscout, .content_toatalpay, .content_toatalcash {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;
        padding: 3px 0px 3px 3px;
        margin: 5px 1px 3px 0px;
        border: 1px solid #DDDDDD;
        width: 100%;
        height: 30px;
        font-family: Arial;
        font-size: 13px;
        border-radius: 3px;
    }
    input[type=checkbox] {
        height: 20px;
        width: 20px;
        margin: 0 0.4em 0.4em 0;
        outline: none;
        box-shadow: 0px 0px 3px rgba(105, 107, 228, 0.3);
        background: rgba(144, 232, 115, 0.4);
       margin-left:30px;
    }
    .wrap-table table td {
        min-width: 120px;

    }
    .divcontent{
        justify-content:space-between;
        display:flex;
    }
    .content_currency{
        margin-right:10px;
    }
    .content_toatalpay{
        min-width:100px;
    }
    .wrap-table table th {
        background: #5F758B;
        color: #EEE;
        min-width: 100px;
    }
    .dialog-box .footer {
        padding: 0;
    }
    .wrap-table{
        min-height:200px;
    }
</style>

<fieldset class="scheduler-border">
    <legend class="scheduler-border">@Localizer["OutgoingPayment"]</legend>
    <div class="row">
        <div class="col-md-4">
            <label class="label_vendor">@Localizer["Vendor"]</label>
            <select class="content_vendor" id="txtvendor">
                <option value="0" selected disabled>--- select ---</option>
            </select>
            <label class="label_ap">@Localizer["RefNº"]</label>
            <input class="content_ap" type="text" id="txtref_no" autocomplete="off" />
            <label class="label_user">@Localizer["User"]</label>
            <input class="content_user" type="text" value="@User.FindFirst("FullName").Value" id="txtUser" readonly />
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <label class="label_reff_no">@Localizer["NumberNº"]</label>
            <input class="content_reff_no" type="text" id="txtnumber" autocomplete="off" readonly/>
            <div class="content_icon">
                <label class="label_postingdate">@Localizer["PostingDate"]</label>
                <input class="content_postingdate" type="date" id="txtPostingdate" autocomplete="off" />
            </div>
            <div class="content_icon">
                <label class="label_documentdate">@Localizer["DocumentDate"]</label>
                <input class="content_documentdate" type="date" id="txtDocumentDate" autocomplete="off" />

            </div>
        </div>
    </div>
</fieldset>
<fieldset class="scheduler-borders">
    <legend class="scheduler-border">@Localizer["OutgoingPaymentDetail"]</legend>
    <div class="wrap-table list">
        <table id="list-items">
            <thead>
                <tr>
                    <th class="boldth">@Localizer["DocumentNo"]</th>
                    <th class="boldth" style="min-width:120px;">@Localizer["DucumentType"]</th>
                    <th class="boldth">@Localizer["Date"]</th>
                    <th class="boldth">@Localizer["OverdueDay"]</th>
                    <th class="boldth">@Localizer["Total"]</th>
                    <th class="boldth" style="min-width:120px;">@Localizer["AppliedAmount"]</th>
                    <th class="boldth">@Localizer["BalanceDue"]</th>
                    <th class="boldth" style="min-width:140px;">@Localizer["CashDiscount"] %</th>
                    <th class="boldth" style="min-width:140px;">@Localizer["TotalDiscount"] $</th>
                    <th class="boldth" style="min-width:110px;">@Localizer["TotalPayment"]</th>
                    <th class="boldth">@Localizer["Cash"]</th>
                    <th class="boldth" style="min-width:130px;">@Localizer["Selected"] <input type="checkbox" id="selectall" style="vertical-align:middle;margin:0px 0 0 5px;"/></th>
                </tr>
            </thead>
        </table>
    </div>
</fieldset>
<div class="row">
    <div class="col-md-4">
        <label class="lable_remark">@Localizer["Remark"]</label>
        <textarea class="content_remark" id="txtremark"></textarea>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-6">
        <label class="lable_total">@Localizer["Total Amount Due (SYS)"]</label>
        <span class="currency_text"></span>
        <input class="content_total" id="totalamount_due" type="text" readonly hidden/>
        <input type="text"  class="content_total" id="totalamount_due_asing" readonly/>   
    </div>
</div>
<div class="row btnadd">
    <div class="col-md-12">
        <button class="btn btn-sm btn-success btn_add" onclick="saveOutgoing()">@Localizer["Add"]</button>
        <button class="btn btn-sm btn-danger btn_cancel" onclick="ClickCancel()">@Localizer["Cancel"]</button>
    </div>
</div>
<script>
    var db = new Warehouse();
    $(document).ready(function () {
        var total = {};
        total.ID = 1;
        total.Total_Due= 0;
        db.insert("tb_total", total, "ID");

        var d = new Date();
        document.getElementById("txtPostingdate").valueAsDate = d;
        document.getElementById("txtDocumentDate").valueAsDate = d;
        $.ajax({
            url: "/Outgoingpayment/GetNumberNo",
            type: "Get",
            dataType: "text",
            success: function (respones) {
                $("#txtnumber").val(respones);
            }
        });
        $.ajax({
            url: "/Outgoingpayment/GetVendor",
            type: "GET",
            dataType: "JSON",
            success: function (respones) {
                var data = "";
                $.each(respones, function (i, item) {
                    data +=
                        '<option value="' + item.ID + '">'+item.Name+'</option>';
                });
                $("#txtvendor").append(data).on('change',FilterVedor_findAP);
            }
        })
    });
    function FilterVedor_findAP() {
        var vedorID = $(this).val();
       var datadetail= $.ajax({
            url: "/Outgoingpayment/GetPurchaseAP",
            type: "Get",
            async:false,
            dataType: "Json",
            data: { VendorID: vedorID }
       }).responseJSON;
        if (datadetail.length !== 0) {
            $(".currency_text").text(datadetail.CurrencyName)
          
            $.each(datadetail, function (i, value) {
                var item = {};
                item.OutgoingPaymentVendorID = value.OutgoingPaymentVendorID;
                item.DocumentNo = value.DocumentNo;
                item.DocumentType = value.DocumentType;
                item.Date = value.Date;
                item.OverdueDays = value.OverdueDays;
                item.Total = value.Total;
                item.Applied_Amount = value.Applied_Amount;
                item.BalanceDue = value.BalanceDue;
                item.CashDiscount = value.CashDiscount;
                item.TotalDiscount = value.TotalDiscount;
                item.TotalPayment = value.TotalPayment;
                item.Cash = value.TotalPayment;
                item.CurrencyName = value.CurrencyName;
                item.CurrencyID = value.CurrencyID;
                item.ExchangeRate = value.ExchangeRate;
                item.SysName = value.SysName;
                db.insert("tb_master", item, "OutgoingPaymentVendorID");
            });
            db.from("tb_master").where(function (Json) {
                Json.Date = Json.Date.slice(0, 10);
            });
            db.from("tb_master").where(function (item) {
                GetDateTable(item);
            });
        }
    }
    function GetDateTable(item) {
        $.updateRow("#list-items", item, "OutgoingPaymentVendorID", {
            hidden_columns: ["OutgoingPaymentVendorID", "CurrencyName", "CurrencyID","ExchangeRate","SysName"],          
            html: [
                {
                    column:"DocumentNo",
                    insertion: "replace",
                    element: '<div class="documentNo">' + item.DocumentNo+'</div>'
                },
                {
                    column: "DocumentType",
                    insertion: "replace",
                    element: '<div class="documentType">' + item.DocumentType + '</div>'
                },
                {
                    column: "Date",
                    insertion: "replace"
                },
                {
                    column: "OverdueDays",
                    insertion: "replace"
                },
                {
                    column: "Total",
                    insertion: "replace",
                    element: '<div>' + item.CurrencyName + ' ' +parseFloat(item.Total).toFixed(2) + '</div>'
                },
                {
                    column: "Applied_Amount",
                    insertion: "replace",
                    element: '<div>' + item.CurrencyName + ' ' +parseFloat(item.Applied_Amount).toFixed(2) + '</div>'
                },
                {
                    column: "BalanceDue",
                    insertion: "replace",
                    element: '<div>' + item.CurrencyName + ' ' + '<span class="balane_due">'+ parseFloat(item.BalanceDue).toFixed(2)+'</span>'+'</div>'
                },
                {
                    column: "CashDiscount",
                    insertion: "replace",
                    element: '<input type="text" class="content_CashDiscount" value="' + item.CashDiscount + '"/>',
                    listener: ["keyup", ChickDiscountCash]
                },
                {
                    column: "TotalDiscount",
                    insertion: "replace",
                    element: '<input type="text" class="content_totaldiscout" value="' + item.TotalDiscount + '"/>',
                    listener: ["keyup", ChickDicountTotal]
                },
                {
                    column: "TotalPayment",
                    insertion: "replace",
                    element: '<div class="divcontent">'+'<span class="content_currency">'+item.CurrencyName+'</span>'+'<input type="text" class="content_toatalpay" readonly value="' +parseFloat(item.TotalPayment).toFixed(2) + '"/>'+'<div>',
                    listener: ["keyup", ChickTotalPay]
                },
                {
                    column: "Cash",
                    insertion: "replace",
                    element: '<div class="divcontent">' + '<span class="content_currency">' + item.CurrencyName + '</span>' + '<input type="text" class="content_toatalcash" value="' + parseFloat(item.Cash).toFixed(2) + '"/>' + '<div>',
                    listener: ["keyup", ChickTotalCash]
                },
                {
                    column: -1,
                    insertion: "replace",   
                    element: '<input type="checkbox" style="vertical-align:middle;margin:0px 0 0 60px;" class="content_checkbox"/>',
                    listener: ["click", CheckComfirm]
                }
            ]
           
        });
        
    }
    // sumary
    function sumaryTotal() {
        var sum = 0;
        $.each($("#list-items tr"), function (i, tr) {
            if (i > 0) {
      
                var total = $(tr).children().find(".content_toatalcash").val();
                if (total == '' || total=='-') {
                    total = 0;
                }
                var currency = '';
                if ($(tr).children().find(".content_checkbox").prop('checked') == true) {
                    var ID = $(tr).data("outgoingpaymentvendorid");
                    var master = db.get("tb_master").get(ID);
                    currency = master.SysName;
                    master.Cash = parseFloat(total); 
                    sum = parseFloat(sum) + parseFloat(total*master.ExchangeRate);
                    totaldue_amount = sum;
                }                            
                else {
                    var ID = $(tr).data("outgoingpaymentvendorid");
                    var master = db.get("tb_master").get(ID);
                    var total = parseFloat($(tr).children().find(".content_toatalpay").val());
                    $(tr).children().find(".content_toatalcash").val(total);
                    master.Cash =total;
                }
                db.insert("tb_master", master, "ID");
                var total_due = db.from("tb_total");
                total_due[0].Total_Due =parseFloat(sum);
                db.insert("tb_total", total_due, "ID");
                $("#totalamount_due_asing").val(currency + " " +parseFloat(sum).toFixed(2));
            }
        });  
    }
    var totaldue_amount = 0;
    let row_select = 0;
    function CheckComfirm() {   
        
        var totalpay = $(this).parent().siblings().children().find(".content_toatalcash").val();
        if (row_select == 0) {
            $(this).children().find(".content_checkbox").prop('checked', true);
            row_select++;
        }
        else {
            row_select = 0;
            $(this).children().find(".content_checkbox").prop('checked', false);
            $(this).parent().siblings().children().find(".content_toatalcash").val(totalpay);
         
        }
        sumaryTotal();
    }
    let select = 0;
    $("#selectall").on('click', function () {
        if (select == 0) {
            $("#list-items tr").children().find(".content_checkbox").prop('checked', true);
            select++;
        }
        else {
            select = 0;
            $("#list-items tr").children().find(".content_checkbox").prop('checked', false);
            $("#list-items tr").parent().siblings().children().find(".content_toatalcash").val(0.00);
            $("#totalamount_due").val(0.00);

        }
        sumaryTotal();  
        
    });
    //discount cash
    function ChickDiscountCash() {
        var cash_d = $(this).parent().find(".content_CashDiscount").val();
        this.value = _$_.validNumber(cash_d);
        if (this.value == '') {
            this.value = 0;
            cash_d = 0;
        }
        if (cash_d > 100) {
            let msg = new DialogBox({
                            type: "ok",
                            content: "@Localizer["Value less than or equal to 100 !"]"
            });
            $(this).parent().find(".content_CashDiscount").val(100);
            cash_d = 100;
        }
        var master = db.from("tb_master");
        var balane_due = $(this).parent().siblings().children().find(".balane_due").text();
        var ID = $(this).parent().parent().data("outgoingpaymentvendorid");
        var master= db.table("tb_master").find(ID);
        var tota_d = ((parseFloat(balane_due) *parseFloat(cash_d)) / 100).toFixed(2);
        $(this).parent().parent().find(".content_totaldiscout").val(tota_d);
        balane_due = parseFloat(balane_due) - parseFloat(tota_d);
        
        $(this).parent().parent().children().find(".content_toatalpay").val(balane_due);
        $(this).parent().parent().children().find(".content_toatalcash").val(balane_due);
        sumaryTotal();
        master.CashDiscount = parseFloat(cash_d);
        master.TotalPayment = balane_due;
        master.TotalDiscount = tota_d;
        db.insert("tb_master", master, "OutgoingPaymentVendorID");
    }
    //discount total
    function ChickDicountTotal() {
        var balane_due = $(this).parent().siblings().children().find(".balane_due").text();
        var total_d = $(this).parent().find(".content_totaldiscout").val();
        var type = $(this).parent().parent().children().find(".documentType").text();
        if (type == "PU") {
            this.value = _$_.validNumber(total_d);
            if (this.value == '') {
                this.value = 0;
                total_d = 0;
            }
            if (parseFloat(total_d) > parseFloat(balane_due)) {
                let msg = new DialogBox({
                    type: "ok",
                    content: "@Localizer["Value cannot be greater than payment  !"]"
                });
                $(this).parent().find(".content_totaldiscout").val(balane_due);
                total_d = balane_due;
            }
        } else {
            if (this.value == '' || this.value=='-') {
                this.value = 0;
                total_d = 0;
            }
            this.value = _$_.validNumber(total_d.toString());
            if (parseFloat(this.value) > 0) {
                this.value = parseFloat(this.value) * (-1); 
            }
            if (parseFloat(this.value) < parseFloat(balane_due)) {
                 let msg = new DialogBox({
                            type: "ok",
                            content: "@Localizer["Value cannot be greater than payment !"]"
                 });
                this.value = balane_due;
                total_d = balane_due;
            }
        }
        var master = db.from("tb_master");
        var balane_due = $(this).parent().siblings().children().find(".balane_due").text();
        var ID = $(this).parent().parent().data("outgoingpaymentvendorid");
        var master = db.table("tb_master").find(ID);
        var cash_d = ((parseFloat(total_d) * 100) / (parseFloat(balane_due))).toFixed(2);
        balane_due = (parseFloat(balane_due) - parseFloat(total_d)).toFixed(2);
        $(this).parent().parent().find(".content_CashDiscount").val(cash_d);
        $(this).parent().parent().children().find(".content_toatalpay").val(balane_due);
        $(this).parent().parent().children().find(".content_toatalcash").val(balane_due);
        sumaryTotal();
        master.TotalDiscount = parseFloat(total_d);
        master.TotalPayment = balane_due;
        master.CashDiscount = cash_d;
        db.insert("tb_master", master, "OutgoingPaymentVendorID");
    }
    //Total Cash 
    function ChickTotalCash() {
        var cash_amount = $(this).find(".content_toatalcash").val();
        var total_pay =$(this).parent().parent().children().find(".content_toatalpay").val();
        var docType = $(this).parent().parent().children().find(".documentType").text();
        if (docType == "PC") {
            if (cash_amount =='') {
                return;
            }
            $(this).find(".content_toatalcash").val(_$_.validNumber(cash_amount.toString()));
            if (parseFloat(cash_amount) > 0) {
               cash_amount = parseFloat(cash_amount) * (-1);
               $(this).find(".content_toatalcash").val(cash_amount);
            }
            if (parseFloat(cash_amount) < parseFloat(total_pay)) {
                 let msg = new DialogBox({
                            type: "ok",
                            content: "@Localizer["Value cannot be greater than payment !"]"
                });
                $(this).find(".content_toatalcash").val(total_pay);
            }
        }
        else {
            $(this).find(".content_toatalcash").val(_$_.validNumber(cash_amount.toString()));
            if (parseFloat(cash_amount) > parseFloat(total_pay)) {
                let msg = new DialogBox({
                            type: "ok",
                            content: "@Localizer["Value cannot be greater than payment !"]",
                            icon: 'danger'
                 });
                $(this).find(".content_toatalcash").val(total_pay);
            }
        }
        sumaryTotal();
        
    }
   
    // change Total Pay
    function ChickTotalPay() {
    }
    //save outgoingpayment 
    function saveOutgoing() {
        var vendorID = $("#txtvendor").val();
        var ref_no = $("#txtref_no").val();
        var number = $("#txtnumber").val();
        var postingdate = $("#txtPostingdate").val();
        var documentdate = $("#txtDocumentDate").val();
        var remark = $("#txtremark").val();
      //  var totalbalance_due = $("#totalamount_due").val();
        db.table("tb_restore").clear();
        $.each($("#list-items tr"), function (i, tr) {
            if (i > 0) {               
                if ($(tr).children().find(".content_checkbox").prop('checked') == true) {
                    var id = $(tr).data("outgoingpaymentvendorid");
                    db.copy("tb_master", "tb_restore", [id]);
                }
            }
        }); 
        var total = db.from("tb_total");
       
        var Data = {
            UserID:@User.FindFirst("UserID").Value, 
            VendorID: vendorID,
            BranchID:@User.FindFirst("BranchID").Value,
            Ref_No: ref_no,
            PostingDate: postingdate,
            DocumentDate: documentdate,
            TotalAmountDue: total[0].Total_Due,
            Number: number,
            Remark: remark,
            OutgoingPaymentDetails: db.from("tb_restore")
        }
        $.ajax({
            url: "/Outgoingpayment/SaveOutgoingPayment",
            type: "Post",
            dataType: "Json",
            data: { outgoing:Data},
            success: function (e) {

            },
            error: function (ex) {
                 let msg = new DialogBox({
                            type: "ok",
                            content: "@Localizer["Payment successfull !"]"
                        });
                        msg.confirm(function (e) {
                            location.reload();
                        }); 
            }
        });
    }
    //cancel
    function ClickCancel() {
        location.reload();
    }
</script>