﻿@using Microsoft.AspNetCore.Http;
@using System.Security.Claims;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>ADMIN</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" href="~/Dashbord/assets/img/icon.ico" type="image/x-icon" />
    <link href="~/css/core.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="~/Dashbord/assets/js/plugin/webfont/webfont.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link href="~/js/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/js/jquery-ui.theme.min.css" rel="stylesheet" />
    <link href="~/css/datapaging.css" rel="stylesheet"/>
    @*<script src="~/js/moment.min.js" async></script>*@
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/core.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Open+Sans:300,400,600,700"] },
            custom: { "families": ["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands"], urls: ['../assets/css/fonts.css'] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <link rel="stylesheet" href="~/Dashbord/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Dashbord/assets/css/azzara.min.css">
    <link rel="stylesheet" href="~/Dashbord/assets/css/demo.css">
    <link rel="stylesheet" href="~/Dashbord/assets/css/fonts.css">
    <link href="~/Dashbord/assets/css/fonts.css" rel="stylesheet" />
    <style type="text/css" rel="stylesheet">

        .highlight {
            font-weight: 700;
            color: #2D905F !important;
        }

        .main-header {
            background-color: #5AB07A !important;
        }

        table th, table td {
            text-align: unset !important;
        }

        table

        .fa-bars:before {
            content: "\f0c9";
            color: white !important;
        }

        .fa-ellipsis-v:before {
            content: "\f142";
            color: white !important;
        }

        .wrap-table table th, .wrap-table table td {
            position: relative;
            text-align: left;
            padding: 0 0.5rem;
            width: auto;
            min-width: 100px;
            border: 1px solid rgba(0,0,0,0.2);
        }

        .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span, .pagination > li > a, .pagination > li > span {
            border-radius: 0px !important;
            margin: 0.2px;
            color: #777;
            border-color: #ddd;
        }

        .fa-bars:before {
            color: white;
        }

        .loading-background {
            position: absolute;
            width: 100%;
            display: flex;
            height: 100%;
            z-index: 999999;
            justify-content: center;
            align-items: center;
            top: 0;
        }
        .dx-theme-generic-typography .dx-font-s, .dx-theme-generic-typography h4 {
             font-weight:unset !important; 
             font-size: unset !important; 
        }
        .hide {
            display: none;
        }
        #gridContainer .dx-datagrid-header-panel .dx-toolbar-before .dx-toolbar-item:not(:first-child) {
             background-color:unset !important;
        }

        .sidebar .nav > .nav-item.active > a {
            background: #5c8a8a;
        }
       
        .sidebar .nav > .nav-item  a * {
            color: #FFF !important;
        }        
        .sidebar .nav > .nav-item > a:hover, .sidebar .nav > .nav-item > a:focus {
            color: #FFF !important;
        }
      
        .sidebar .nav > .nav-item:hover > a {
            background: #5c8a8a;
        }
          
        .sidebar .nav-collapse li a .sub-item {
            color: #FFF;
        }
        .sidebar .nav-collapse li a .sub-item:before {
            background-color: #FFF;
        }
        .sidebar .nav > .nav-item.submenu {
            background: #5c8a8a;
        }
        .sidebar .nav > .nav-item.active > a p {
            color: #FFF !important;
        }
        .sidebar .nav > .nav-item > a:hover p {
            color: #FFF !important;
        }
        .sidebar .nav > .nav-item a:hover i {
            color: #FFF !important;
        }
        .sidebar .nav-collapse li a:hover .sub-item {
            color: #FFF !important;
        }
        .main-header {
            min-height: 40px;
        }
         .navbar-header {
            min-height: 40px;
        }
        
        .main-header .logo-header {
            min-height: 40px;
        }
        .main-header .navbar-header {
            min-height: 40px;
        }
        .main-header .logo-header {
            height: 45px;
        }       
    </style>
    <!--Signal R-->
    @*<script src="~/lib/aspnet-signalr/signalr.min.js"></script>
    <script src="~/pos/signalr/windowreport.js"></script>*@
    <script src="~/js/datapaging.js"></script>
    <link href="~/css/user-defined.css" rel="stylesheet" />
    <script src="~/js/form-validation.js" defer></script>
    <script src="~/js/table.js" defer></script>
    <script src="~/js/ViewMessage.js" defer></script>

</head>

<body>
    <div dialog-container></div>
    <div class="wrapper">
        <!--
            Tip 1: You can change the background color of the main header using: data-background-color="blue | purple | light-blue | green | orange | red"
        -->
        <div class="main-header">
            <!-- Logo Header -->
            <div class="logo-header">

                <a asp-action="Dashborad" asp-controller="Home" class="logo" style="color:white;">
                    @User.FindFirst("CompanyName").Value
                    @*<img src="~/Dashbord/assets/img/logoazzara.svg" alt="navbar brand" class="navbar-brand">*@
                </a>
                <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <i class="fa fa-bars" style="color:white"></i>
                    </span>
                </button>
                <button class="topbar-toggler more"><i class="fa fa-ellipsis-v"></i></button>
                <div class="navbar-minimize">
                    <button class="btn btn-minimize btn-rounded">
                        <i class="fa fa-bars" style="color:white"></i>
                    </button>
                </div>
            </div>
            <!-- End Logo Header -->
            <!-- Navbar Header -->
            <nav class="navbar navbar-header navbar-expand-lg">

                <div class="container-fluid">
                    @*<div class="collapse" id="search-nav">
                            <form class="navbar-left navbar-form nav-search mr-md-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button type="submit" class="btn btn-search pr-1">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                    <input type="text" placeholder="Search ..." class="form-control">
                                </div>
                            </form>
                        </div>*@
                    <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
                        @*<li class="nav-item toggle-nav-search hidden-caret">
                                <a class="nav-link" data-toggle="collapse" href="#search-nav" role="button" aria-expanded="false" aria-controls="search-nav">
                                    <i class="fa fa-search"></i>
                                </a>
                            </li>*@
                        <li class=" nav-item" style="margin-right:20px; ">
                            @{ await Html.RenderPartialAsync("_SelectLangauge");}
                        </li>
                        <li class="nav-item dropdown hidden-caret">
                            <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false">
                                <div class="avatar-sm">
                                    <img src="@Url.Content(@User.FindFirst("Photo").Value)" alt="..." class="avatar-img rounded-circle">
                                </div>
                            </a>
                            <ul class="dropdown-menu dropdown-user animated fadeIn">
                                <li>
                                    <div class="user-box">
                                        <div class="avatar-lg"><img src="@Url.Content(@User.FindFirst("Photo").Value)" width="40" height="40" style="border-radius:50%;"></div>
                                        <div class="u-text">
                                            <h4>@User.FindFirst("FullName").Value</h4>
                                            <p class="text-muted">@User.FindFirst("Position").Value</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-action="Profile" asp-controller="Account"><i class="fa fa-user" style="margin-right:5px;"></i> @Localizer["MyProfile"]</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-action="ChangPassword" asp-controller="Account"><i class="	fa fa-cog" style="margin-right:5px;"></i> @Localizer["AccountSetting"]</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-action="Logout" asp-controller="Account"><i class="fa fa-sign-out-alt" style="margin-right:5px;"></i> @Localizer["Logout"]</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </nav>
            <!-- End Navbar -->
        </div>

        <!-- Sidebar -->
        <div class="sidebar">

            <div class="sidebar-background"></div>
            <div class="sidebar-wrapper scrollbar-inner" style="background-color:#5F758B;">
                <div class="sidebar-content">

                    <ul class="nav">
                        <li class="nav-item active">
                            <a asp-action="Dashboard" asp-controller="Home">
                                <i class="fas fa-home"></i>
                                <p>@Localizer["Dashboard"]</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a data-toggle="collapse" href="#gen">
                                <i class="fa fa-cogs" style="font-size:15px;"></i>
                                <p>@Localizer["Administrator"]</p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse @ViewBag.Administrator" id="gen" style="margin-left:18px;">
                                <a data-toggle="collapse" href="#gen1">
                                    <p>@Localizer["General"]</p>
                                    <span class="caret"></span>
                                </a>

                                <div class="collapse @ViewBag.General" id="gen1">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a asp-action="Index" asp-controller="Company">
                                                <span class="sub-item @ViewBag.Company">@Localizer["Company"]</span>

                                            </a>
                                        </li>
                                        <li>
                                            <a asp-action="Index" asp-controller="Branch">
                                                <span class="sub-item @ViewBag.Branch">@Localizer["Branch"]</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-action="Index" asp-controller="ReceiptInformation">
                                                <span class="sub-item @ViewBag.Receipt">@Localizer["Receipt"]</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-action="Index" asp-controller="Account">

                                                <span class="sub-item @ViewBag.UserAccount">@Localizer["UserAccount"]</span>

                                            </a>
                                        </li>

                                        <li>
                                            <a asp-action="Index" asp-controller="PrinterName">
                                                <span class="sub-item @ViewBag.PrinterName">@Localizer["PrinterName"]</span>
                                            </a>
                                        </li>
                                        @*<li>
                            <a asp-action="Index" asp-controller="Counter">
                                <span class="sub-item @ViewBag.Counter">@Localizer["Counter"]</span>
                            </a>
                        </li>*@

                                    </ul>
                                </div>
                                <a data-toggle="collapse" href="#inven">
                                    <p>@Localizer["Inventory_A"]</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse @ViewBag.Inventory" id="inven">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a asp-action="Index" asp-controller="UnitofMeasure">
                                                <span class="sub-item @ViewBag.UnitofMeasure">@Localizer["UnitofMeasure"]</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-action="Index" asp-controller="GroupUOM">
                                                <span class="sub-item @ViewBag.UnitofMeasureGroup">@Localizer["UnitofMeasureGroup"]</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-action="Index" asp-controller="Warehouse">
                                                <span class="sub-item @ViewBag.Warehouse">@Localizer["Warehouse"]</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <a data-toggle="collapse" href="#table">
                                    <p>@Localizer["Table"]</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse @ViewBag.TableMenu" id="table">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a asp-action="Index" asp-controller="Table">
                                                <span class="sub-item @ViewBag.Table">@Localizer["Table"]</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-action="Index" asp-controller="GroupTable">
                                                <span class="sub-item @ViewBag.TableGroup">@Localizer["TableGroup"]</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </li>
                        <li class="nav-item">
                            <a data-toggle="collapse" href="#pos">
                                <i class="fas fa-hand-holding-usd" aria-hidden="true" style="font-size:15px;"></i>
                                <p>@Localizer["POS"]</p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse @ViewBag.POS" id="pos" style="margin-left:15px;">
                                <ul class="nav nav-collapse">
                                    <li hidden id="pos-krms">
                                        <a asp-action="KRMS" asp-controller="POS" target="_blank">
                                            <span class="sub-item">@Localizer["KRMS"]</span>
                                        </a>
                                    </li>
                                    <li hidden id="pos-ktms">
                                        <a asp-action="KTMS" asp-controller="POS" target="_blank">
                                            <span class="sub-item">@Localizer["KTMS"]</span>
                                        </a>
                                    </li>
                                    <li hidden id="pos-kbms">
                                        <a asp-action="KBMS" asp-controller="POS" target="_blank">
                                            <span class="sub-item">@Localizer["KBMS"]</span>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a data-toggle="collapse" href="#sal">
                                <i class="fa fa-dollar-sign" style="font-size:15px;"></i>
                                <p>@Localizer["Sale"]</p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse @ViewBag.Sale" id="sal" style="margin-left:15px;">
                                <ul class="nav nav-collapse">
                                    <li>
                                        <a asp-action="SaleQuote" asp-controller="Sale">
                                            <span class="sub-item @ViewBag.SaleQuotation">@Localizer["Quotation"]</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-action="SaleOrder" asp-controller="Sale">
                                            <span class="sub-item @ViewBag.SaleOrder">@Localizer["SaleOrder"]</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-action="SaleDelivery" asp-controller="Sale">
                                            <span class="sub-item @ViewBag.SaleDelivery">@Localizer["SaleDelivery"]</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-action="SaleAR" asp-controller="Sale">
                                            <span class="sub-item @ViewBag.SaleAR">@Localizer["SaleA/R"]</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-action="SaleCreditMemo" asp-controller="Sale">
                                            <span class="sub-item @ViewBag.SaleCreditMemo">@Localizer["SaleCreditMemo"]</span>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </li>                       
                        <li class="nav-item">
                            <a data-toggle="collapse" href="#puschas">
                                <i class="fa fa-shopping-cart" aria-hidden="true" style="font-size:15px;"></i>
                                <p>@Localizer["Purchase"]</p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse @ViewBag.PurchaseMenu" id="puschas" style="margin-left:15px;">
                                <ul class="nav nav-collapse">
                                    @*<li>
                        <a asp-action="PurchaseRequest" asp-controller="PurchaseRequest">
                            <span class="sub-item @ViewBag.PurchasePR ">@Localizer["Purchase Request"]</span>
                        </a>
                    </li>
                    <li>
                        <a asp-action="Purchasequotation" asp-controller="PurchaseQuotation">
                            <span class="sub-item @ViewBag.PurchaseQT" >@Localizer["Purchase Quotation"]</span>
                        </a>
                    </li>*@

                                    <li>
                                        <a asp-action="Purchaseorder" asp-controller="PurchaseOrder">
                                            <span class="sub-item @ViewBag.POSummary">@Localizer["PurchaseOrder"]</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-action="PurchasePO" asp-controller="PurchasePO">
                                            <span class="sub-item @ViewBag.GRPOSummary">@Localizer["GoodsReceiptPO"]</span>
                                        </a>
                                    </li>
                                    @*<li>
                        <a asp-action="GoodsReceiptPoReturn" asp-controller="GoodsReceiptPOReturn">
                            <span class="sub-item">@Localizer["Goods Return"]</span>
                        </a>
                    </li>*@
                                    <li>
                                        <a asp-action="PurchaseAP" asp-controller="PurchaseAP">
                                            <span class="sub-item @ViewBag.APSummary">@Localizer["PurchaseA/P"]</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-action="PurchaseCreditMemo" asp-controller="PurchaseCreditMemo">
                                            <span class="sub-item @ViewBag.PCSummary">@Localizer["PurchaseCreditMemo"]</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a data-toggle="collapse" href="#inv">
                                <i class="fa fa-cubes" aria-hidden="true" style="font-size:15px;"></i>
                                <p>@Localizer["Inventory"]</p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse @ViewBag.InventoryMenu" id="inv" style="margin-left:15px;">
                                <ul class="nav nav-collapse">
                                    <li>
                                        <a asp-action="Index" asp-controller="ItemMasterData">
                                            <span class="sub-item @ViewBag.ItemMasterData">@Localizer["ItemMasterData"]</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-action="Index" asp-controller="PriceList">
                                            <span class="sub-item @ViewBag.PriceList">@Localizer["PriceList"]</span>
                                        </a>
                                    </li>

                                    <li>
                                        <a data-toggle="collapse" href="#cate">
                                            <p class="sub-item">@Localizer["ItemGroup"]</p>
                                            <span class="caret"></span>
                                        </a>
                                        <div class="collapse @ViewBag.ItemGroup" id="cate" style="margin-left:15px;">
                                            <ul class="nav nav-collapse">
                                                <li>
                                                    <a asp-action="Index" asp-controller="ItemGroup1">
                                                        <span class="sub-item @ViewBag.ItemGroup1">@Localizer["ItemGroup(1)"]</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-action="Index" asp-controller="ItemGroup2">
                                                        <span class="sub-item @ViewBag.ItemGroup2">@Localizer["ItemGroup(2)"]</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-action="Index" asp-controller="ItemGroup3">
                                                        <span class="sub-item @ViewBag.ItemGroup3">@Localizer["ItemGroup(3)"]</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>

                                    <li>
                                        <a data-toggle="collapse" href="#InvenTra">
                                            <p class="sub-item">@Localizer["Transaction"]</p>
                                            <span class="caret"></span>
                                        </a>
                                        <div class="collapse @ViewBag.Transaction" id="InvenTra" style="margin-left:15px;">
                                            <ul class="nav nav-collapse">
                                                <li>
                                                    <a asp-action="GoodsReceipt" asp-controller="GoodsReceipt">
                                                        <span class="sub-item @ViewBag.GoodsReceipt">@Localizer["GoodsReceipt​"]</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-action="GoodIssues" asp-controller="GoodIssues">
                                                        <span class="sub-item @ViewBag.GoodsIssue">@Localizer["GoodsIssue"]</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-action="Transfer" asp-controller="Transfer">
                                                        <span class="sub-item @ViewBag.Transfer">@Localizer["Transfer"]</span>
                                                    </a>
                                                </li>

                                            </ul>
                                        </div>
                                    </li>
                                </ul>

                            </div>
                        </li>
                        <li class="nav-item">
                            <a data-toggle="collapse" href="#emp">
                                <i class="fa fa-user" aria-hidden="true" style="font-size:15px;"></i>
                                <p>@Localizer["HumanResources"]</p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse @ViewBag.HR" id="emp" style="margin-left: 15px;
    ">
                                <ul class="nav nav-collapse">
                                    <li>
                                        <a asp-action="Index" asp-controller="Employee">
                                            <span class="sub-item @ViewBag.EmpMasterData">@Localizer["EmployeeMasterData"]</span>
                                        </a>
                                    </li>

                                </ul>

                            </div>
                        </li>
                        <li class="nav-item">
                            <a data-toggle="collapse" href="#buss">
                                <i class="fa fa-users" aria-hidden="true" style="font-size:15px;"></i>
                                <p>@Localizer["BusinessPartners"]</p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse @ViewBag.BizPartnersMenu" id="buss" style="margin-left:15px;">
                                <ul class="nav nav-collapse">

                                    <li>
                                        <a asp-action="Index" asp-controller="BusinessPartner">
                                            <span class="sub-item @ViewBag.BizPartners">@Localizer["BusinessPartners"]</span>
                                        </a>
                                    </li>
                                </ul>

                            </div>
                        </li>
                        <li class="nav-item">
                            <a data-toggle="collapse" href="#promotion">
                                <i class="fa fa-percent" aria-hidden="true" style="font-size:15px;"></i>
                                <p>@Localizer["Promotion"]</p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse @ViewBag.PromotionMenu" id="promotion" style="margin-left:15px;">
                                <ul class="nav nav-collapse">
                                    <li>
                                        <a asp-action="Index" asp-controller="Promotion">
                                            <span class="sub-item @ViewBag.Promotion">@Localizer["Promotion"]</span>
                                        </a>
                                    </li>
                                    @*<li>
                        <a data-toggle="collapse" href="#point">
                            <p class="sub-item">@Localizer["Point"]</p>
                            <span class="caret"></span>
                        </a>
                        <div class="collapse" id="point" style="margin-left:15px;">
                            <ul class="nav nav-collapse">
                                <li>
                                    <a asp-action="Register" asp-controller="PointCard">
                                        <span class="sub-item">@Localizer["Register"]</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-action="point" asp-controller="Point">
                                        <span class="sub-item">@Localizer["CreatePoint"]</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-action="PointCard" asp-controller="PointCard">
                                        <span class="sub-item">@Localizer["CreateCard"]</span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </li>*@
                                    <li>
                                        <a data-toggle="collapse" href="#member">
                                            <p class="sub-item">@Localizer["Member"]</p>
                                            <span class="caret"></span>
                                        </a>
                                        <div class="collapse @ViewBag.Member" id="member" style="margin-left:15px;">
                                            <ul class="nav nav-collapse">
                                                <li>
                                                    <a asp-action="Register" asp-controller="MemberCard">
                                                        <span class="sub-item @ViewBag.Register">@Localizer["Register"]</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-action="Index" asp-controller="CardType">
                                                        <span class="sub-item @ViewBag.CreateType">@Localizer["CreateType"]</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-action="MemberCard" asp-controller="MemberCard">
                                                        <span class="sub-item @ViewBag.CreateCards">@Localizer["CreateCard​s"]</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <a asp-action="Index" asp-controller="DiscountItem">
                                            <span class="sub-item @ViewBag.DiscountItem">@Localizer["DiscountItem"]</span>
                                        </a>
                                    </li>
                                    @*<li>
                        <a asp-action="Index" asp-controller="PromotionPrices">
                            <span class="sub-item">@Localizer["PromotionSetPrice"]</span>
                        </a>
                    </li>
                    <li>
                        <a asp-action="" asp-controller="">
                            <span class="sub-item">@Localizer["CrossSale"]</span>
                        </a>
                    </li>*@
                                </ul>

                            </div>
                        </li>
                        @*<li class="nav-item">
            <a data-toggle="collapse" href="#product">
                <i class="fa fa-cube" aria-hidden="true" style="font-size:15px;"></i>
                <p>@Localizer["Production"]</p>
                <span class="caret"></span>
            </a>
            <div class="collapse" id="product" style="margin-left:15px;">
                <ul class="nav nav-collapse">
                    <li>
                        <a href="#">
                            <span class="sub-item">@Localizer["BillofMaterial"]</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>*@
                        <li class="nav-item">
                            <a data-toggle="collapse" href="#bank">
                                <i class="fa fa-random" style="font-size:15px;"></i>
                                <p>@Localizer["Banking"]</p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse @ViewBag.Banking" id="bank" style="margin-left:15px;">
                                <ul class="nav nav-collapse">
                                    <li>
                                        <a asp-action="Outgoingpayment" asp-controller="Outgoingpayment">
                                            <span class="sub-item @ViewBag.OutgoingPaymentMenu">@Localizer["OutgoingPayment"]</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-action="IncomingPayment" asp-controller="IncomingPayment">
                                            <span class="sub-item @ViewBag.IncomingPaymentMenu">@Localizer["IncomingPayment"]</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-action="Index" asp-controller="Currency">
                                            <span class="sub-item @ViewBag.Currency">@Localizer["Currency"]</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-action="Index" asp-controller="ExchangeRate">
                                            <span class="sub-item @ViewBag.ExchangeRate">@Localizer["ExchangeRate"]</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-action="Index" asp-controller="Tax">
                                            <span class="sub-item @ViewBag.CreateTax">@Localizer["Create Tax"]</span>
                                        </a>
                                    </li>

                                    <li>
                                        <a asp-action="Index" asp-controller="PaymentMeans">
                                            <span class="sub-item @ViewBag.PaymentMeans">@Localizer["PaymentMeans"]</span>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a data-toggle="collapse" href="#report">
                                <i class="fa fa-chart-line" aria-hidden="true" style="font-size:15px;"></i>
                                <p>@Localizer["Reports"]</p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse @ViewBag.Report" id="report" style="margin-left:15px;">
                                <ul class="nav nav-collapse">
                                    @*Sale Admin*@
                                    <li>
                                        <a data-toggle="collapse" href="#saleadmin">
                                            <p class="sub-item">@Localizer["Sale Admin"]</p>
                                            <span class="caret"></span>
                                        </a>
                                        <div class="collapse @ViewBag.SaleAdmin" id="saleadmin" style="margin-left:15px;">
                                            <ul class="nav nav-collapse">
                                                <li>
                                                    <a asp-controller="SaleReport" asp-action="SaleQuotationView">
                                                        <span class="sub-item @ViewBag.SaleQuotation">@Localizer["Sale Quotation"]</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-controller="SaleReport" asp-action="SaleOrderView">
                                                        <span class="sub-item @ViewBag.SaleOrder">@Localizer["Sale Order"]</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-controller="SaleReport" asp-action="SaleDeliveryView">
                                                        <span class="sub-item @ViewBag.SaleDelivery">@Localizer["Sale Delivery"]</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-controller="SaleReport" asp-action="SaleARView">
                                                        <span class="sub-item @ViewBag.SaleAR">@Localizer["Sale A/R"]</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-controller="SaleReport" asp-action="SaleCreditMemoView">
                                                        <span class="sub-item @ViewBag.SaleCreditMemo">@Localizer["Sale Credit Memo"]</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    @*Sale*@
                                    <li>
                                        <a data-toggle="collapse" href="#sale">
                                            <p class="sub-item">@Localizer["Sale"]</p>
                                            <span class="caret"></span>
                                        </a>
                                        <div class="collapse @ViewBag.Sale" id="sale" style="margin-left:15px;">
                                            <ul class="nav nav-collapse">
                                                <li>
                                                    <a asp-controller="DevReport" asp-action="SummarySaleView">
                                                        <span class="sub-item @ViewBag.SummarySale">@Localizer["SaleSummary"]</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-controller="DevReport" asp-action="DetailSaleView">
                                                        <span class="sub-item @ViewBag.DetailSale">@Localizer["DetailSale"]</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-controller="DevReport" asp-action="CloseShiftView">
                                                        <span class="sub-item @ViewBag.CloseShift">@Localizer["CloseShift"]</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-controller="DevReport" asp-action="PaymentMeansView">
                                                        <span class="sub-item @ViewBag.PaymentMeans">@Localizer["PaymentMeans"]</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-controller="DevReport" asp-action="TopSaleQuantityView">
                                                        <span class="sub-item @ViewBag.TopSaleQuantity">@Localizer["TopSaleQuantity"]</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-controller="DevReport" asp-action="RevenueItemView">
                                                        <span class="sub-item @ViewBag.RevenueItem">@Localizer["Profit&Loss"]</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-controller="DevReport" asp-action="SaleByCustomerView">
                                                        <span class="sub-item @ViewBag.SaleByCustomer">@Localizer["SaleByCustomer"]</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-controller="DevReport" asp-action="TaxDeclarationView">
                                                        <span class="sub-item @ViewBag.TaxDeclaration">@Localizer["TaxDeclaration"]</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>

                                    <li>
                                        <a data-toggle="collapse" href="#pur">
                                            <p class="sub-item">@Localizer["Purchase"]</p>
                                            <span class="caret"></span>
                                        </a>
                                        <div class="collapse @ViewBag.Purchase" id="pur" style="margin-left:15px;">
                                            <ul class="nav nav-collapse">
                                                <li>
                                                    <a asp-controller="DevReport" asp-action="SummaryPurchaseOrder">
                                                        <span class="sub-item @ViewBag.POSummary">@Localizer["PurchaseOrder"]</span>
                                                    </a>

                                                </li>
                                                <li>
                                                    <a asp-controller="DevReport" asp-action="SummaryGoodsReceiptPO">
                                                        <span class="sub-item @ViewBag.GRPOSummary">@Localizer["GoodsReceiptPO"]</span>
                                                    </a>

                                                </li>
                                                <li>
                                                    <a asp-controller="DevReport" asp-action="SummaryPurchaseAP">
                                                        <span class="sub-item @ViewBag.APSummary">@Localizer["PurchaseA/P"]</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-controller="DevReport" asp-action="SummaryPurchaseMemo">
                                                        <span class="sub-item @ViewBag.PCSummary">@Localizer["PurchaseCreditMemo"]</span>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a asp-controller="DevReport" asp-action="SummaryOutgoingPayment">
                                                        <span class="sub-item @ViewBag.OutgoingPayment">@Localizer["OutgoingPayment"]</span>
                                                    </a>
                                                </li>

                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <a data-toggle="collapse" href="#inv_rep">
                                            <p class="sub-item">@Localizer["Inventory"]</p>
                                            <span class="caret"></span>
                                        </a>
                                        <div class="collapse @ViewBag.InventoryReport" id="inv_rep" style="margin-left:15px;">
                                            <ul class="nav nav-collapse">

                                                <li>
                                                    <a asp-controller="DevReport" asp-action="StockInWarehouseView">
                                                        <span class="sub-item @ViewBag.StockInWarehouse">@Localizer["StockInWarehouse"]</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-controller="DevReport" asp-action="InventoryAuditView">
                                                        <span class="sub-item @ViewBag.InventoryAudit">@Localizer["InventoryAudit"]</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-controller="DevReport" asp-action="StockMovingView">
                                                        <span class="sub-item @ViewBag.StockMoving">@Localizer["StockMoving"]</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-controller="DevReport" asp-action="StockExpiredView">
                                                        <span class="sub-item @ViewBag.StockExpired">@Localizer["StockExpired"]</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-controller="DevReport" asp-action="TransferStockView">
                                                        <span class="sub-item @ViewBag.TransferStock">@Localizer["TransferStock"]</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-controller="DevReport" asp-action="GoodsReceiptStockView">
                                                        <span class="sub-item @ViewBag.GoodsReceiptStock">@Localizer["GoodsReceiptStock"]</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-controller="DevReport" asp-action="GoodsIssueStockView">
                                                        <span class="sub-item @ViewBag.GoodsIssueStock">@Localizer["GoodsIssuseStock"]</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>

                            </div>
                        </li>

                        @* Charts *@
                        <li class="nav-item">
                            <a data-toggle="collapse" href="#charts">
                                <i class="fa fa-chart-bar" aria-hidden="true" style="font-size:15px;"></i>
                                <p>@Localizer["Charts"]</p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse @ViewBag.Charts" id="charts" style="margin-left:15px;">
                                <ul class="nav nav-collapse">

                                    @* Sale Charts *@
                                    <li>
                                        <a data-toggle="collapse" href="#salecharts">
                                            <p class="sub-item">@Localizer["Sale"]</p>
                                            <span class="caret"></span>
                                        </a>
                                        <div class="collapse @ViewBag.SaleCharts" id="salecharts" style="margin-left:15px;">
                                            <ul class="nav nav-collapse">
                                                <li>
                                                    <a asp-controller="Charts" asp-action="SummarySaleCharts">
                                                        <span class="sub-item @ViewBag.SummarySaleCharts">@Localizer["SaleSummary"]</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-controller="Charts" asp-action="CloseShiftCharts">
                                                        <span class="sub-item @ViewBag.CloseShiftCharts">@Localizer["CloseShift"]</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-controller="Charts" asp-action="RevenueItemCharts">
                                                        <span class="sub-item @ViewBag.RevenueItemCharts">@Localizer["Profit&Loss"]</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-controller="Charts" asp-action="TopSaleQuantityCharts">
                                                        <span class="sub-item @ViewBag.TopSaleQuantityCharts">@Localizer["TopSaleQuantity"]</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-controller="Charts" asp-action="PaymentMeansCharts">
                                                        <span class="sub-item @ViewBag.PaymentMeansCharts">@Localizer["PaymentMeans"]</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>

                                    @* Purchase Charts *@
                                    <li>
                                        <a data-toggle="collapse" href="#purcharts">
                                            <p class="sub-item">@Localizer["Purchase"]</p>
                                            <span class="caret"></span>
                                        </a>
                                        <div class="collapse @ViewBag.PurchaseCharts" id="purcharts" style="margin-left:15px;">
                                            <ul class="nav nav-collapse">

                                                <li>
                                                    <a asp-controller="Charts" asp-action="PurchaseAPCharts">
                                                        <span class="sub-item @ViewBag.APSummaryCharts">@Localizer["PurchaseA/P"]</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-controller="Charts" asp-action="OutgoingPaymentCharts">
                                                        <span class="sub-item @ViewBag.OutgoingPaymentCharts">@Localizer["OutgoingPayment"]</span>
                                                    </a>
                                                </li>

                                            </ul>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="main-panel">
            <div class="content">
                <div class="page-inner">
                    <div class="page-wrapper" style="background-color:#f0f5f5;border-radius:15px; padding:10px;">
                        <div class="content page">
                            <header class="content__title">

                                <h4>
                                    <i class="fa @ViewBag.style" style="padding:0 5px;"></i> @ViewBag.Main
                                    <span>
                                        <i class="fa fa-caret-right align-right" style="font-size: 13px; padding: 0 5px;"></i> @ViewBag.Page
                                        <i class="fa fa-caret-right align-right" style="font-size: 13px; padding: 0 5px;"></i> @ViewBag.Subpage
                                    </span>
                                    <span class="pull-right" style="padding-right: 10px;">
                                        @ViewBag.type
                                        <i class="fa @ViewBag.button" style="margin: 0 15px;"></i>
                                        <i class="fa @ViewBag.list"></i>
                                    </span>
                                </h4>
                            </header>
                            <hr />
                            <span>
                                @RenderBody()
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*stop*@
        <div class="custom-template">
            <div class="title">Settings</div>
            <div class="custom-content">
                <div class="switcher">
                    <div class="switch-block">
                        <h4>Topbar</h4>
                        <div class="btnSwitch">
                            <button type="button" class="changeMainHeaderColor" data-color="blue"></button>
                            <button type="button" class="selected changeMainHeaderColor" data-color="purple"></button>
                            <button type="button" class="changeMainHeaderColor" data-color="light-blue"></button>
                            <button type="button" class="changeMainHeaderColor" data-color="green"></button>
                            <button type="button" class="changeMainHeaderColor" data-color="orange"></button>
                            <button type="button" class="changeMainHeaderColor" data-color="red"></button>
                        </div>
                    </div>
                    <div class="switch-block">
                        <h4>Background</h4>
                        <div class="btnSwitch">
                            <button type="button" class="changeBackgroundColor" data-color="bg2"></button>
                            <button type="button" class="changeBackgroundColor selected" data-color="bg1"></button>
                            <button type="button" class="changeBackgroundColor" data-color="bg3"></button>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="custom-toggle">
                    <i class="flaticon-settings"></i>
                </div>*@
        </div>
        <!-- End Custom template -->
    </div>

    <!--   Core JS Files   -->
    <script src="~/Dashbord/assets/js/core/jquery.3.2.1.min.js"></script>
    <script src="~/Dashbord/assets/js/core/popper.min.js"></script>
    <script src="~/Dashbord/assets/js/core/bootstrap.min.js"></script>

    <!-- jQuery UI -->
    <script src="~/Dashbord/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="~/Dashbord/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>

    <!-- jQuery Scrollbar -->
    <script src="~/Dashbord/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>

    <!-- Moment JS -->
    <script src="~/Dashbord/assets/js/plugin/moment/moment.min.js"></script>


    <!-- Chart JS -->
    <script src="~/Dashbord/assets/js/plugin/chart.js/chart.min.js"></script>

    <!-- jQuery Sparkline -->
    <script src="~/Dashbord/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>

    <!-- Chart Circle -->
    <script src="~/Dashbord/assets/js/plugin/chart-circle/circles.min.js"></script>

    <!-- Datatables -->
    <script src="~/Dashbord/assets/js/plugin/datatables/datatables.min.js"></script>

    <!-- Bootstrap Notify -->
    <script src="~/Dashbord/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>

    <!-- Bootstrap Toggle -->
    <script src="~/Dashbord/assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>

    <!-- jQuery Vector Maps -->
    @*<script src="~/Dashbord/assets/js/plugin/jqvmap/jquery.vmap.min.js"></script>
        <script src="~/Dashbord/assets/js/plugin/jqvmap/maps/jquery.vmap.world.js"></script>*@

    <!-- Google Maps Plugin -->
    <script src="~/Dashbord/assets/js/plugin/gmaps/gmaps.js"></script>

    <!-- Sweet Alert -->
    <script src="~/Dashbord/assets/js/plugin/sweetalert/sweetalert.min.js"></script>

    <!-- Azzara JS -->
    <script src="~/Dashbord/assets/js/ready.min.js"></script>

    <!-- Azzara DEMO methods, don't include it in your project! -->
    <script src="~/Dashbord/assets/js/setting-demo.js"></script>

    @*Devextrime*@
    <link href="~/dev/dx.common.css" rel="stylesheet" />
    <link href="~/dev/dx.light.css" rel="stylesheet" />
    <script src="~/dev/dx.all.js"></script>
    <script src="~/dev/js/jszip.js"></script>
    <script src="~/dev/js/polyfill.js"></script>
    <script src="~/dev/js/exceljs.js"></script>
    <script src="~/dev/js/FileSaver.js"></script>

    <script>

        $.ajax({
            url: '/SystemTypes/GetSystemType',
            type: 'GET',
            async: false,
            success: function (systems) {

                $.each(systems, function (i, system) {

                    if (system.Type == "KRMS") {
                        $("#pos-krms").removeAttr('hidden');
                    }
                    else if (system.Type == "KTMS") {
                        $("#pos-ktms").removeAttr('hidden');

                    }
                    else if (system.Type == "KBMS") {
                        $('#pos-kbms').removeAttr('hidden');

                    }
                })

            }
        })
    </script>

</body>
</html>