﻿
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = new List<SelectListItem>
{
new SelectListItem{Value=@"en-US",Text=@"English (United States)"},
new SelectListItem{ Value=@"km-KH",Text=@"Khmer (Khmer)"},
new SelectListItem{Value=@"zh-CN",Text=@"Chiness (Chiness)"}
};
}
<style>
    #changelanguage {
        background-color: #5AB07A !important;
        color: white;
        width: 80px !important;
    }
</style>
<div title="@Localizer["Request culture provider:"]@requestCulture?.Provider?.GetType().Name">
    <form id="selectLanguage" asp-controller="Home"
          asp-action="selectLanguage" asp-route-returnUrl="@Context.Request.Path"
          method="post" role="form">
        <div class="input-group">
            <label class="text-white " style="margin-top:8px; margin-right:5px;">@Localizer["Language"] :</label>
            <div class="input-group-append">
                <select name="culture" asp-for="@requestCulture.RequestCulture.UICulture.Name" id="changelanguage" class="input-sm form-control"
                        asp-items="cultureItems" style="width:250px;margin-right:10px; padding:5px 5px;" onchange="changelanguege()"></select>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    function changelanguege() {
        var culure = $("#changelanguage").val();
        $.ajax({
            url: "/Home/selectLanguage",
            type: "POST",
            dataType: "JSON",
            data: { culture: culure, returnUrl: '/' },
            complete: function (response) {
                location.reload();
            }
        });
    }

</script>