﻿
@{
    ViewData["Title"] = "OutgoingPaymentCharts";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

<head>
    <style>
        /*.dx-checkbox-container {
                height: -webkit-max-content;
                height: -moz-max-content;
                height: max-content;
            }*/

        .options {
            padding: 20px;
            /*margin-top: 20px;*/
            background-color: rgba(191, 191, 191, 0.15);
        }

        .caption {
            font-size: 18px;
            font-weight: 500;
        }

        .option {
            margin-top: 10px;
        }

        /*#gridContainer {
            max-height: 550px;
        }*/
        /*#gridContainer .dx-datagrid-header-panel {
            padding: 0;
            background-color: rgba(85, 149, 222, 0.6);
        }*/

        #gridContainer .dx-datagrid-header-panel .dx-toolbar {
            margin: 0;
            padding-right: 20px;
            background-color: transparent;
        }

        #gridContainer .dx-datagrid-header-panel .dx-toolbar-items-container {
            height: 70px;
        }

        #gridContainer .dx-datagrid-header-panel .dx-toolbar-before .dx-toolbar-item:not(:first-child) {
            background-color: rgba(103, 171, 255, 0.6);
        }

        #gridContainer .dx-datagrid-header-panel .dx-toolbar-before .dx-toolbar-item:last-child {
            padding-right: 10px;
        }

        #gridContainer .dx-datagrid-header-panel .dx-selectbox {
            margin: 17px 10px;
        }

        #gridContainer .dx-datagrid-header-panel .dx-button {
            margin: 17px 0;
        }

        #gridContainer .informer {
            height: 70px;
            width: 130px;
            text-align: center;
            color: #fff;
        }

        #gridContainer .count {
            padding-top: 15px;
            line-height: 27px;
            margin: 0;
        }

        .input_datefrom, .input_dateto, .input_branch, .input_vendor {
            -webkit-transition: all 0.30s ease-in-out;
            -moz-transition: all 0.30s ease-in-out;
            -o-transition: all 0.30s ease-in-out;
            outline: none;
            padding: 3px 0px 3px 3px;
            margin: 5px 1px 3px 0px;
            border: 1px solid #DDDDDD;
            width: 100%;
            min-width: 100%;
            height: 34px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 14px;
            border-radius: 3px;
        }

        .lable_branch, .lable_datefrom, .lable_dateto, .lable_vendor {
            font-family: Arial;
            font-size: 12px;
            font-weight: 700;
        }

        .btn-success, .btn-primary {
            margin-top: 25px;
            font-size: 12px;
            font-family: Arial;
            height: 28px;
        }

        table.dx-datagrid-table tr.dx-row.dx-column-lines.dx-header-row {
            background: #5F758B;
            color: #EEE;
            opacity: 1;
            line-height: 20px;
            transition: all .2s ease-out;
        }

        table tr {
            opacity: 1;
            line-height: 20px;
            transition: all .2s ease-out;
        }

        #chart {
            height: 440px;
        }
    </style>
</head>
<body class="dx-viewport">
    <div class="demo-container">
        <div class="options">
            <div class="row">
                <div class="col-md-2">
                    <label class="lable_datefrom">@Localizer["Date From"]</label>
                    <input type="date" class="input_datefrom" id="datefrom" />

                </div>
                <div class="col-md-2">
                    <label class="lable_dateto">@Localizer["Date To"]</label>
                    <input type="date" class="input_dateto" id="dateto" />
                </div>
                <div class="col-md-2">
                    <label class="lable_branch">@Localizer["By Branch"]</label>
                    <select type="text" class="input_branch" id="bybranch">
                        <option value="0"></option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label class="lable_vendor">@Localizer["Vendor"] </label>
                    <select type="text" class="input_vendor" id="byvendor">
                        <option value="0"></option>
                    </select>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-xs btn-success" id="filter"><i class="fas fa-search" style="margin-right:5px;"></i>@Localizer["Filter"]</button>
                </div>
            </div>
        </div>

        <div class="demo-container">
            <div id="chart"></div>
        </div>
    </div>
</body>

<script>
    $(function () {
        filterData();
        //Get branch
        $.ajax({
            url: "/Charts/GetBranch",
            type: "Get",
            dataType: "Json",
            success: function (response) {
                var data = '';
                $.each(response, function (i, item) {
                    data +=
                        '<option value="' + item.ID + '">' + item.Name + '</option>';
                });
                $("#bybranch").append(data);
            }
        });
        //Get Vendor
        $.ajax({
            url: "/Charts/GetVendor",
            type: "Get",
            dataType: "Json",
            success: function (response) {
                var data = '';
                $.each(response, function (i, item) {
                    data +=
                        '<option value="' + item.ID + '">' + item.Name + '</option>';
                });
                $("#byvendor").append(data);
            }
        });

        $('#filter').click(function () {

            filterData(this);
        });
        function filterData(button) {
            let btn_filter = $(button).children("i.fa-search");
            var date_from = $("#datefrom").val();
            var date_to = $("#dateto").val();
            var branch_id = $("#bybranch").val();
            var vendor_id = $("#byvendor").val();

            $.ajax({
                url: "/Charts/GetOutgoingPayment",
                type: 'GET',
                dataType: 'JSON',
                data: {
                    DateFrom: date_from,
                    DateTo: date_to,
                    BranchID: branch_id,
                    VendorID: vendor_id

                },
                beforeSend: function () {
                    btn_filter.addClass("fa-spinner fa-spin");
                },
                success: function (response) {
                    bindGrid(response);
                    btn_filter.removeClass("fa-spinner fa-spin");
                }
            });
        }
        function bindGrid(response) {
            $("#chart").dxChart({
                dataSource: response,
                commonSeriesSettings: {
                    type: "bar",

                    argumentField: "Name",
                    label: {
                        visible: true,
                        format: {
                            type: "fixedPoint",
                            precision: 2
                        }
                    }
                },
                series:
                    [
                        {
                            valueField: "GrandTotal",
                            name: "Grand Total",
                        }
                    ],
                tooltip: {
                    enabled: true,
                    location: "edge",
                    customizeTooltip: function (arg) {
                        return {
                            text: arg.argumentText + " : " + arg.valueText
                        };
                    }
                },
                legend: {
                    verticalAlignment: "bottom",
                    horizontalAlignment: "center"
                },
                //valueAxis: {
                //    title: {
                //        text: "Grand Totals"
                //    },
                //    position: "left"
                //},
                "export": {
                    enabled: true
                },
                //onPointClick: function (e) {
                //    e.target.select();
                //},
                title: "Outgoing Payment Charts"
            });
        }

    });
</script>

