﻿@model POS_WEB.Models.Services.Promotions.Promotion

@{
    ViewData["Title"] = "Edit";
}

<style>
    .control-label {
        font-weight: bold;
    }

    input[type=checkbox] {
        width: 20px;
        height: 20px;
    }
    .form-group{
        padding:0px;
        margin:0px
    }
    .pull-left{
        margin-top:10px;
    }
</style>
<hr />

<form asp-action="Edit">
    <div class="row">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label class="control-label">@Localizer["Name"] :</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label class="control-label">@Localizer["Type"]</label>
                <select class="form-control" asp-for="Type">
                    <option value="" selected disabled>--- Select ---</option>
                    <option value="PT">Point</option>
                    <option value="M">Member</option>
                    <option value="PR">Set Price</option>
                    <option value="Q">Discount By Item</option>
                    <option value="CS">Cross Sale</option>
                </select>
                <div class="text-danger">@ViewBag.type_requrired</div>
            </div>*@
            <div class="form-group">
                <label class="control-label">@Localizer["StartDate"] :</label>
                <input asp-for="StartDate" class="form-control" type="date" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">@Localizer["StopDate"] :</label>
                <input asp-for="StopDate" class="form-control" type="date" />
                <span asp-validation-for="StopDate" class="text-danger"></span>
            </div>

        </div>
        @*<div class="col-md-6">
            <div class="form-group ">
                <label class="control-label">@Localizer["StartTime"] :</label>
                <input asp-for="StartTime" class="form-control" type="datetime" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group ">
                <label class="control-label">@Localizer["StopTime"] :</label>
                <input asp-for="StopTime" class="form-control" type="datetime" />
                <span asp-validation-for="StopTime" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top:10px;">
                <input type="checkbox" asp-for="Active" /><label style="margin-left:10px;">@Localizer["Active"]</label>
            </div>

        </div>*@
    </div>
    <div class="row">
        <div class="col-md-12 pull-left">
            <div class="form-group">
                <button class="btn btn-success btn-sm"><i class="fa fa-save" style="margin-right:4px;"></i>@Localizer["Save"]</button>
                <a asp-action="Index" class="btn btn-sm btn-danger"><i class="fa fa-reply" style="margin-right:4px;"></i>@Localizer["Back"]</a>
            </div>
        </div>
    </div>
</form>

