﻿@model IEnumerable<POS_WEB.Models.Services.ReportSale.dev.GroupTaxDeclaration>
@{
    ViewData["Title"] = "PrintTaxDeclaration";
    Layout = "~/Views/Shared/_Layout_Print.cshtml";
}

<div>
    <div class="row">
        <div class="col-xs-4">
            <img src="~/Images/company/@Model.First().Header.Logo" width="150" height="130" style="padding:0px 0px 0px 10px;" />
        </div>
        <div class="col-xs-5" style="margin-top:70px;">
            <div class="text-center" style="opacity:0;">.</div>
            <div class="text-center" style="font-size:30px; margin-top:-20px; margin-left:-80px;"> របាយការណ៍ប្រកាសពន្ធ </div>
            <div class="text-center" style="font-size:30px; margin-top:10px; margin-left:-80px;"> Tax Declaration Report </div>
            <div class="row" style="margin-top:75px;"></div>
        </div>
        <div class="col-xs-4"> </div>
    </div>
    <div class="row" style="margin: 0px -1px 20px -10px">
        <div class="col-xs-4">
            <table>
                <tr>
                    <th class="header">@Localizer["Branch"]</th>
                    <td style="padding: 0 5px 0 5px">:</td>
                    <td class="header"> @Model.First().Header.Branch </td>
                </tr>
                <tr>
                    <th class="header">@Localizer["Emp. Name"]</th>
                    <td style="padding: 0 5px 0 5px">:</td>
                    <td class="header"> @Model.First().Header.EmpName </td>
                </tr>
            </table>
        </div>
        <div class="col-xs-5"></div>
        <div class="col-xs-3">
            <table class="tbfontsize">
                <tr style="margin-left:100px;">
                    <th class="header">@Localizer["Date From"]</th>
                    <td style="padding: 0 5px 0 5px">:</td>
                    <td class="header"> @Model.First().Header.DateFrom </td>
                </tr>
                <tr>
                    <th class="header">@Localizer["Date To"]</th>
                    <td style="padding: 0 5px 0 5px">:</td>
                    <td class="header"> @Model.First().Header.DateTo </td>
                </tr>
            </table>
        </div>
    </div>
    <div>
        <table class="table" id="expectedTable" border="1" cellpadding="3" cellspacing="0">
            <thead style="background-color:#5F758B;">
                <tr>
                    <th class="header" style="color:white;">@Localizer["Emp. Name"]</th>
                    <th class="header" style="color:white;">@Localizer["Receipt No"]</th>
                    <th class="header" style="color:white;">@Localizer["Date In"]</th>
                    <th class="header" style="color:white;">@Localizer["Time In"]</th>
                    <th class="header" style="color:white;">@Localizer["Date Out"]</th>
                    <th class="header" style="color:white;">@Localizer["Time Out"]</th>
                    <th class="header" style="color:white;">@Localizer["Total"]</th>
                    <th class="header" style="color:white; width:135px;">@Localizer["Vat. Included"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.EmpName</td>
                        <td>@item.Receipt</td>
                        <td>@item.DateIn</td>
                        <td>@item.TimeIn</td>
                        <td>@item.DateOut</td>
                        <td>@item.TimeOut</td>
                        <td>@string.Format("{0:n2}", @item.GrandTotal)</td>
                        <td>@string.Format("{0:n2}", @item.Tax)</td>
                    </tr>
                }
            </table>
    </div>
    <div>
        <table class="table table-bordered">
            <tr> </tr>
            <tr style="background-color:#5F758B; padding:0px;">
                <th class="header" style="color:white;"> *** @Localizer["Summary"] </th>
                <th></th>
            </tr>
            <tr> </tr>
            <tr>
                <th> @Localizer["Total Receipt"] :</th>
                <th class="text-danger">@Model.First().Footer.CountReceipt</th>
            </tr>
            <tr>
                <th> @Localizer["Sold Amount"] : </th>
                <th class="text-danger">@Model.First().Footer.SoldAmount</th>
            </tr>
            <tr>
                <th> @Localizer["Discount By Item"] : </th>
                <th class="text-danger">@Model.First().Footer.DiscountItem</th>
            </tr>
            <tr>
                <th> @Localizer["Discount By Invoice"] : </th>
                <th class="text-danger">@Model.First().Footer.DiscountTotal</th>
            </tr>
            <tr>
                <th> @Localizer["VAT. Included"] : </th>
                <th class="text-danger">@Model.First().Footer.TaxValue</th>
            </tr>
            <tr>
                <th> @Localizer["Grand Total"] : </th>
                <th class="text-danger">@Model.First().Footer.GrandTotal</th>
            </tr>
        </table>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <label> **@Localizer["Acknowledge"] </label>
            <hr style="margin-top:-3px; background-color:gray; color:gray; height:1px; width:80%; float:left;" />
            <div style="margin-top:65px;">
                <label> @Localizer["Date"]/........../........../20.......</label>
            </div>
            <div style="margin-top:10px;"><b><u> @Localizer["Published by"] </u></b></div>
        </div>
        <div class="col-xs-4" style="margin-top:95px;">
            <div>
                <label> @Localizer["Date"]/........../........../20.......</label>
            </div>
            <div style="margin-top:10px;"><b><u> @Localizer["Reviewed by"] </u></b></div>
        </div>
        <div class="col-xs-4" style="margin-top:95px;">
            <div>
                <label> @Localizer["Date"]/........../........../20.......</label>
            </div>
            <div style="margin-top:10px;"><b><u> @Localizer["Approved by"] </u></b></div>
        </div>
    </div>
</div>

