﻿@model ItemGroup1

@{
    ViewData["Title"] = "Create";
}
<style>
    .StyleImge {
        height: 150px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        width: 150px;
    }

    .modal-header {
        cursor: move;
    }

    #styleheader {
        color: white;
    }

    b {
        color: white;
        margin-left: 10px;
    }

    .modal-header {
        background-color: blue;
    }

    .btn-file {
        position: relative;
        overflow: hidden;
    }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 50px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            cursor: inherit;
            display: block;
        }

    #imagestyle {
        border-radius: 50px;
        margin-left: 45px;
        margin-top: 10px;
        box-shadow: 0px 0px 4px;
        color: blue;
    }

    .form-group {
        padding: 0px;
        margin: 0px;
    }

    .Right_input_item1 input[type=text] {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;
        padding: 3px 0px 3px 3px;
        margin: 5px 1px 3px 0px;
        border: 1px solid #DDDDDD;
        height: 35px;
        font-family: Arial;
        font-size: 15px;
        border-radius: 3px;
        min-width: 100%;
        width: 100%;
    }

        .Right_input_item1 input[type=text]:focus, .style_Currency input[type=text]:focus {
            box-shadow: 0 0 5px rgba(81, 203, 238, 1);
            padding: 3px 0px 3px 3px;
            margin: 5px 1px 3px 0px;
            border: 1px solid rgba(81, 203, 238, 1);
            border-radius: 2px;
            font-family: Arial;
            font-size: 15px;
        }

    .Right_input_item1 select {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;
        padding: 3px 0px 3px 3px;
        margin: 5px 1px 3px 0px;
        border: 1px solid #DDDDDD;
        height: 35px;
        font-family: Arial;
        font-size: 15px;
        border-radius: 3px;
        min-width: 100%;
    }

        .Right_input_item1 select:focus, .style_Currency select:focus {
            box-shadow: 0 0 7px rgba(79, 110, 230,1);
            padding: 3px 0px 3px 3px;
            margin: 5px 1px 3px 0px;
            border: 1px solid rgba(106, 164, 213,1);
            border-radius: 3px;
            font-family: Arial;
            font-size: 15px;
        }

    .btn_link {
        position: absolute;
        right: -20px;
        bottom: 12px;
        color: blue;
        font-size: 15px;
    }

    .select_color {
        position: relative;
    }

    label.control-label {
        font-family: Arial;
        font-weight: 500;
    }

    .fa {
        margin-right: 4px;
    }
</style>

<form asp-action="Edit" enctype="multipart/form-data" method="post">
    <div class="row Right_input_item1">
        <div class="col-md-7">
            <input type="hidden" asp-for="ItemG1ID" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="">
                <label class="control-label">@Localizer["Name"] </label>
                <input asp-for="Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
           
            <div hidden class="form-group form-inline">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Visible" />@Localizer["Visible"]
                </label>

            </div>
        </div>
        <div class="col-md-5" style="margin-top:10px;">
            <div class="form-group">
                <div>
                    <img src="~/Images/@Model.Images" id="logo" class="StyleImge" />
                    <input id="img" asp-for="Images" hidden />
                </div>
                <div class="btn btn-sm btn-file" id="imagestyle">
                    @Localizer["Browse"] <input type="file" asp-for="Images" name="Image" id="txtlogo" onchange="show(this)" value="" accept=".ico, .png, .jpg, .jpeg, .gif" style="margin-top:10px;">
                     <input type="text" asp-for="Images" name="Images" hidden/>
                    <span asp-validation-for="Images" class="text-danger"></span>
                </div>

            </div>
        </div>
    </div>
    <div class="row" style="margin-left:5px; margin-top:10px;">
        <div class="form-group pull-left">
            <button type="submit" class="btn btn-success btn-sm"><i class="fa fa-save" style="margin-right:3px;"></i>@Localizer["Save"]</button>
            <a asp-action="Index" class="btn btn-danger btn-sm"><i class="fa fa-reply" style="margin-right:3px;"></i> @Localizer["Back"]</a>
        </div>
    </div>
</form>
<div class="modal fade" id="ModalColor">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <i class="fa fa-plus-circle" id="styleheader"><b>@Localizer["Color"]</b></i>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="col-sm-3 control-label">@Localizer["NameColor"]</label>
                            <input type="text" class="col-sm-9 form-control" id="colorName" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success btn-xs" onclick="AddColor()"><i class="fa fa-plus-circle"></i>@Localizer["Add"]</button>
                <button class="btn btn-danger btn-xs" data-dismiss="modal"><i class="fa fa-ban"></i>@Localizer["Close"]</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalBackground">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <i class="fa fa-plus-circle" id="styleheader"><b>@Localizer["Background"]</b></i>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="col-sm-3 control-label">@Localizer["BackName"]:</label>
                            <input type="text" class="col-sm-9 form-control" id="backName" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success btn-xs" onclick="AddBack()"><i class="fa fa-plus-circle"></i>@Localizer["Add"]</button>
                <button class="btn btn-danger btn-xs" data-dismiss="modal"><i class="fa fa-ban"></i>@Localizer["Close"]</button>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $(".modal-header").on("mousedown", function (mousedownEvt) {
            var $draggable = $(this);
            var x = mousedownEvt.pageX - $draggable.offset().left,
                y = mousedownEvt.pageY - $draggable.offset().top;
            $("body").on("mousemove.draggable", function (mousemoveEvt) {
                $draggable.closest(".modal-dialog").offset({
                    "left": mousemoveEvt.pageX - x,
                    "top": mousemoveEvt.pageY - y
                });
            });
            $("body").one("mouseup", function () {
                $("body").off("mousemove.draggable");
            });
            $draggable.closest(".modal").one("bs.modal.hide", function () {
                $("body").off("mousemove.draggable");
            });
        });
    })
    function show(input) {
        if (input.files && input.files[0]) {
            var filerdr = new FileReader();

            filerdr.onload = function (e) {
                $('#logo').attr('src', e.target.result);
                $('#img').val(input.files[0].name)
            }
            filerdr.readAsDataURL(input.files[0]);
        }
    }
    function SelectColor() {
        var iD = $("#txtcolor").val();
        $.ajax({
            url: "/ItemGroup1/GetColor",
            type: "Get",
            dataType: "Json",
            data: { id: iD },
            success: function (respones) {
                $.each(respones, function (i, item) {

                    // document.getElementById("txtcolorChang").innerHTML = item.Name;
                    //document.getElementById("txtcolorChang").style.color = "" + item.Name;
                });
            }
        });
    }

    function SelectBack() {
        var iD = $("#txtBack").val();
        $.ajax({
            url: "/ItemGroup1/GetBackground",
            type: "Get",
            dataType: "Json",
            data: { id: iD },
            success: function (respones) {
                $.each(respones, function (i, item) {
                    $("#txtcolorChangback").val(item.Name);
                    document.getElementById("txtcolorChangback").style.background = "" + item.Name;
                });
            }
        });
    }
    function AddColor() {
        var name = $("#colorName").val();
        var cout = "";
        if (name == 0) {
            cout++;
            $("#colorName").css("border-color", "red");
        } else {
            cout = 0;
            $("#colorName").css("border-color", "lightgrey");
        }
        if (cout > 0) {
            cout = 0;
            return;
        }
        $.ajax({
            url: "/ItemGroup1/AddColors",
            type: "POST",
            dataType: "Json",
            data: { Name: name },
            complete: function (respones) {
                $("#colorName").val("");
                $("#txtcolor option").remove();

                $.ajax({
                    url: "/ItemGroup1/SelecrColor",
                    type: "Get",
                    dataType: "Json",
                    success: function (respones) {
                        var data = "";
                        $.each(respones, function (i, item) {
                            data +=
                                '<option value="' + item.ColorID + '">' + item.Name + '</option>';
                        });
                        $("#txtcolor").append(data);

                    }
                });
            }
        });
    }
    function AddBack() {
        var name = $("#backName").val();
        var cout = "";
        if (name == 0) {
            cout++;
            $("#backName").css("border-color", "red");
        } else {
            cout = 0;
            $("#backName").css("border-color", "lightgrey");
        }
        if (cout > 0) {
            cout = 0;
            return;
        }
        $.ajax({
            url: "/ItemGroup1/AddBackground",
            type: "POST",
            dataType: "Json",
            data: { Name: name },
            complete: function (respones) {
                $("#backName").val("");
                $("#txtBack option").remove();

                $.ajax({
                    url: "/ItemGroup1/SelectBackground",
                    type: "Get",
                    dataType: "Json",
                    success: function (respones) {
                        var data = "";

                        $.each(respones, function (i, item) {
                            data +=
                                '<option value="' + item.BackID + '">' + item.Name + '</option>';
                        });
                        $("#txtBack").append(data);

                    }
                });
            }
        });
    }
</script>