﻿@model IQueryable<ItemMasterData>
@{
    ViewData["Title"] = "Index";
}
<script src="~/js/warehouse.js"></script>
<script src="~/js/jquery.twbsPagination.min.js"></script>
<style>
    .stylerow {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .fa {
        margin-right: 4px;
    }

    a {
        color: white;
    }

        a:hover {
            color: white;
        }

    h5 {
        margin: 10px 5px;
    }

    .tbncrate {
        margin-top: 10px;
        background-color: #00bfff;
        color: white;
        margin-left: 1px;
    }

    .fa-sort-amount-down {
        margin-left: 5px;
        font-size: 10px;
        color: blue;
    }

    .fa-edit{
        color: #00cc00;
    }

    .fa-trash {
        color: red;
    }

    i {
        color: black;
    }

    b {
        margin-left: 10px;
    }

    .tbncrate i {
        color: white;
    }

    .stylei i {
        color: white;
    }

    .fa-search {
        color: blue;
    }

    .table::-webkit-scrollbar {
        width: auto;
        height: 8px;
        padding: 1px;
        background-color: rgba(191, 184, 184,0.3);
        overflow: auto;
        opacity: 0.5;
    }

    .styleviews {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .StyleGrid {
        min-width: 100px;
        min-height: 100px;
        margin: 10px;
        padding: 10px;
        box-shadow: 0px 0px 3px;
    }

    .content_select {
        height: 25px;
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;
        padding: 3px 3px 3px 3px;
        margin: 5px 1px 3px 0px;
        width: 100%;
        font-family: Arial;
        font-size: 13px;
        border-radius: 3px;
        border: 1px solid #c6c1c1;
    }

        .content_select:focus {
            box-shadow: 0 0 5px rgba(27, 93, 185,0.4);
            padding: 3px 3px 3px 3px;
            margin: 5px 1px 3px 0px;
            border: 1px solid rgb(120, 172, 245);
            border-radius: 3px;
            font-family: Arial;
            font-size: 13px;
        }

    .list {
        margin-bottom: 15px;
    }

    .seleted {
        color: #fff;
        font-size: 14px;
        background-color:cadetblue;
    }
    .fa-copy{
        color: royalblue;

    }
    .fa-save:before {
        content: "\f0c7";
        color:#2e24c3ad;
        margin-right: 20px;
        cursor: pointer;
    }
   
    .fa-save hide {
        color: red;
        margin-right: 20px;
        visibility: hidden;
    }
    table tr td[contenteditable = true] {
        background: #FFF;
    }
  
    .input-file {
        height: 35px;
        width: 35px;
        background: #FFF;
        border-radius: 50%;
        margin: 0 auto;
    }

        .input-file img {
            position: absolute;
            width: 35px;
            height: 35px;
            object-fit: contain;
            border-radius: 50%;
        }

    .input-file input[type=file] {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 9999;
    }

</style>
<script src="~/ExcelFile/import-item-master.js" defer></script>
<div message-summary></div>
<div class="flexbox">
    <a asp-action="Create" class="btn btn-sm tbncrate"><i class="fa fa-plus-circle"></i> @Localizer["Create"]</a>
    <a asp-action="Import" asp-controller="ExcelWorkbook" class="btn btn-sm tbncrate"><i class="fa fa-file-import"></i> @Localizer["Import"]</a>
    <a hidden asp-action="Export" class="btn btn-sm tbncrate"><i class="fa fa-file-export"></i> @Localizer["Export"]</a>
</div>
<form asp-action="Index" method="get" id="form-id">
    <div class="row stylerow">
        <div class="col-md-8" style="margin-top:5px;">
            <div class="input-group">
                <h5><span>@Localizer["Total of items"]</span><span id="count-item"></span></h5>
                <h5>@Localizer["Showpage"] :</h5>
                <div class="input-group-append">
                    <select class="content_select" id="selectpage" name="minpage">
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="0">All</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-md-4 pull-right" style="margin-top:5px;">
            <div class="input-group">
                <input class="form-control btn-md" type="text" autocomplete="off" placeholder="@Localizer["Search"]" id="txtseaerch" />
                <div class="input-group-append">
                    <button class="btn btn-sm"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="wrap-table list">
    <div class="loading-background hide">
        <img src="~/Images/ajaxloader/tenor.gif" style="object-fit:cover; width :70px; height:70px;" />
    </div>
    <table>
        <thead>
            <tr>
                <th>
                    @Localizer["Code"]
                </th>
                <th>
                    @Localizer["Khmer"]
                </th>
                <th>
                    @Localizer["English"]
                </th>

                <th>
                    @Localizer["UoM"]
                </th>

                <th>
                    @Localizer["Item1"]
                </th>

                <th>
                    @Localizer["Barcode"]
                </th>
                <th>
                    @Localizer["Image"]
                </th>
                <th>@Localizer["Action"]</th>
            </tr>
        </thead>
        <tbody id="item-list"></tbody>
    </table>
</div>
<div class="row">
    <div class="col-md-10">
        <ul id="pagination" class="pagination-sm"></ul>
    </div>
    <div class="col-md-2">
        <div class="form-group form-inline">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" id="ch-show-inactive" /> @Localizer["Show inactive items"]
            </label>
        </div>
    </div>
</div>
<form enctype='multipart/form-data'></form>
<input type="text" id="txtid" hidden />
<div class="modal fade" id="ClickDelete" style="margin-top:50px;">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header stylei" style="background-color:blue;">
                <i class="far fa-question-circle"><b>@Localizer["ItemMasterData"]</b></i>
            </div>
            <div class="modal-body stylei">
                <h3>@Localizer["question"]</h3>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-sm stylei" data-dismiss="modal" onclick="ClickYes()"><i class="far fa-calendar-check"></i> @Localizer["Yes"]</button>
                <button class="btn btn-danger btn-sm stylei" data-dismiss="modal"><i class="fas fa-exclamation-triangle"></i> @Localizer["No"]</button>
            </div>
        </div>
    </div>
</div>
<input hidden id="page-remeber" value="@ViewBag.PageRemeber" />
<script>
        function submitForm() {
            document.getElementById("form-id").submit();
        }

        $(document).ready(function () {

            $("#txtseaerch").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                console.log(db.from('tb_items'))
                let items = db.from('tb_items').where(w => {
                    return w.Code.toLowerCase().includes(value)
                        || w.KhmerName.toLowerCase().includes(value)
                        || w.EnglishName.toLowerCase().includes(value)
                        || w.Barcode.toLowerCase().includes(value)
                        || w.ItemGroup1.Name.toLowerCase().includes(value)
                });
                page_remeber = 1;
                apply_pagination(items);
            });
        });
    $('#ch-show-inactive').change(function () {
        var inActive = false;
        if ($(this).is(":checked")) {
            inActive = true;
        }
        $.ajax({
            url: '/ItemMasterData/GetItems',
            type: 'GET',
            data: {
                InActive: inActive
            },
            beforeSend: function () {
                $(".loading-background").removeClass("hide");
            },
            dataType: 'JSON',
            success: function (items) {
                if (items.length > 0) {
                    db.insert('tb_items', items, 'ID');
                    $('#count-item').text(db.from('tb_items').length);
                    apply_pagination(items);
                }
                else {
                    tr = $('<tr/>');
                    tr.append("<td colspan='11' class='text-center'>@Localizer["NoData"]</td>");
                    $('#item-list').html(tr);

                }
                $(".loading-background").addClass("hide");
            }
        });
    });
        $("#item-list").on("click", "#DeleteItemMaster", function () {
            var cut = $(this).closest('tr');
            var id = cut.find('td:eq(0)').text();
            console.log(id);
            document.getElementById("txtid").value = id;
        });
        function ClickYes() {
            var id = $("#txtid").val();
            $.ajax({
                url: "/ItemMasterData/DeleteItemMaster",
                type: "Delete",
                dataType: "Json",
                data: { ID: id },
                complete: function (respones) {
                    location.reload();
                }
            });
        }
        //list items
        var db = new Warehouse();
        var $pagination = $('#pagination'),
        totalRecords = 0,
        records = [],
        displayRecords = [],
        recPerPage = 10,
        page = 1;
        totalPages = 0;
        var page_remeber = 1;
        $("#selectpage").on('change', function () {
            recPerPage = parseInt($(this).val())
            if (recPerPage == 0) {
                recPerPage = db.from('tb_items').length;
            }
            page_remeber = 1;
            apply_pagination(db.from('tb_items'));
            var currPage = page_remeber + '/' + recPerPage + '/0';
            $.ajax({
                url: '/ItemMasterData/SetCurrentPage',
                type: 'POST',
                data: {
                    currPage: currPage
                },
                success: function () {

                }
            })
        })

        if ($('#page-remeber').val().toString().includes('/')) {
            page_remeber = parseInt($('#page-remeber').val().split('/')[0])
            recPerPage = parseInt($('#page-remeber').val().split('/')[1])
            $('#selectpage').val(recPerPage);
        }

        //get data
         $.ajax({
             url: '/ItemMasterData/GetItems',
            type: 'GET',
             dataType: 'JSON',
             beforeSend: function () {
                 $(".loading-background").removeClass("hide");
             },
             success: function (items) {
                if (items.length > 0) {
                    db.insert('tb_items', items, 'ID');
                    $('#count-item').text(db.from('tb_items').length);
                    apply_pagination(items);
                }
                else {
                     tr = $('<tr/>');
                    tr.append("<td colspan='11' class='text-center'>@Localizer["NoData"]</td>");
                    $('#item-list').html(tr);
                }

                 $(".loading-background").addClass("hide");
            }

         });
    //appy pagination
    function apply_pagination(items) {

        records = items;
        totalRecords = records.length;
        totalPages = Math.ceil(totalRecords / recPerPage);
        displayRecordsIndex = Math.max(page_remeber - 1, 0) * recPerPage;
        endRec = (displayRecordsIndex) + recPerPage;
        displayRecords = records.slice(displayRecordsIndex, endRec);
        console.log(displayRecords);
        displayData();
        $pagination.twbsPagination('destroy');
        $pagination.twbsPagination({
            totalPages: totalPages,
            visiblePages: 5,
            startPage: page_remeber,
            onPageClick: function (e, page) {
                page_remeber = page
                displayRecordsIndex = Math.max(page - 1, 0) * recPerPage;
                endRec = (displayRecordsIndex) + recPerPage;
                displayRecords = records.slice(displayRecordsIndex, endRec);
                displayData();
                //update current
                var currPage = page_remeber + '/' + recPerPage + '/0';
                $.ajax({
                    url: '/ItemMasterData/SetCurrentPage',
                    type: 'POST',
                    data: {
                        currPage:currPage
                    },
                    success: function () {

                    }
                })
            }
        });
    }

    function displayData() {
        var tr;
        $('#item-list').children().remove();
        let index = 0;
        for (var i = 0; i < displayRecords.length; i++) {
            tr = $('<tr/>');
            if (displayRecords.length == 0) {
                tr = $('<tr/>');
                tr.append("<td colspan='11' class='text-center'>@Localizer["NoData"]</td>");
                $('#item-list').append(tr);
            }
            else {
                index = index + 1;
                var currPage = page_remeber + '/' + recPerPage + '/' + displayRecords[i].ID;
                if (displayRecords[i].ID == parseInt($('#page-remeber').val().split('/')[2])) {
                    tr = $('<tr class=seleted/>').on('dblclick', editRow);
                    tr.append("<td contenteditable='false' hidden data-id=" + displayRecords[i].ID + ">" + displayRecords[i].ID +"</td>");
                    //tr.append("<td>" + index+ "</td>");
                    tr.append("<td contenteditable='false'>" + displayRecords[i].Code + "</td>");
                    tr.append("<td contenteditable='false'>" + displayRecords[i].KhmerName + "</td>");
                    tr.append("<td contenteditable='false'>" + displayRecords[i].EnglishName + "</td>");
                    tr.append("<td>" + displayRecords[i].UnitofMeasureInv.Name + "</td>");
                    tr.append("<td>" + displayRecords[i].ItemGroup1.Name + "</td>");
                    tr.append("<td contenteditable='false'>" + displayRecords[i].Barcode + "</td>");
                    tr.append("<td><form enctype='multipart/form-data' class='input-file'><input name='ItemID' type=hidden value='" + displayRecords[i].ID + "'><img src='/Images/" + displayRecords[i].Image + "'/><input name='ImageFile' type='file' onchange='show(this)' value='' accept='.ico, .png, .jpg, .jpeg, .gif'></form></td>");

                    let td = $("<td>");
                    td.append($("<a title='Save'<i class='fa fa-save fa-lg hide'></i></a>").on('click', saveEdit))
                    td.append("<a title='Edit' href='/ItemMasterData/Edit?id=" + displayRecords[i].ID + "&currPage=" + currPage + " '><i class='fa fa-edit fa-lg'></i></a>");
                    td.append("<a title='Copy' href='/ItemMasterData/Copy?id=" + displayRecords[i].ID + "&currPage=" + currPage + " '><i class='fa fa-copy fa-lg'></i></a>");
                    tr.append(td);

                    $('#item-list').append(tr);
                }
                else {
                    tr = $('<tr/>').on('dblclick',editRow);
                    tr.append("<td contenteditable='false' hidden data-id=" + displayRecords[i].ID + ">" + displayRecords[i].ID +"</td>");
                    //tr.append("<td>" + index + "</td>");
                    tr.append("<td contenteditable='false'>" + displayRecords[i].Code + "</td>");
                    tr.append("<td contenteditable='false'>" + displayRecords[i].KhmerName + "</td>");
                    tr.append("<td contenteditable='false'>" + displayRecords[i].EnglishName + "</td>");
                    tr.append("<td>" + displayRecords[i].UnitofMeasureInv.Name + "</td>");
                    tr.append("<td>" + displayRecords[i].ItemGroup1.Name + "</td>");
                    tr.append("<td contenteditable='false'>" + displayRecords[i].Barcode + "</td>");
                    tr.append("<td><form enctype='multipart/form-data' class='input-file'><input name='ItemID' type=hidden value='" + displayRecords[i].ID + "'><img src='/Images/" + displayRecords[i].Image + "'/><input name='ImageFile' type='file' onchange='show(this)' value='' accept='.ico, .png, .jpg, .jpeg, .gif'></form></td>");

                    let td = $("<td>");
                    td.append($("<a title='Save'<i class='fa fa-save fa-lg hide'></i></a>").on('click', saveEdit))
                    td.append("<a title='Edit' href='/ItemMasterData/Edit?id=" + displayRecords[i].ID + "&currPage=" + currPage + " '><i class='fa fa-edit fa-lg'></i></a>");
                    td.append("<a title='Copy' href='/ItemMasterData/Copy?id=" + displayRecords[i].ID + "&currPage=" + currPage + " '><i class='fa fa-copy fa-lg'></i></a>");
                    tr.append(td);
                       
                    $('#item-list').append(tr);
                }

            }
        }

    }
    //Edit row
    let itemMaster = {
        ID:"",
        Code: "",
        KhmerName: "",
        EnglishName: "",
        Barcode: ""
    };
    function editRow() {
        $(this).removeClass('seleted');
        $(this).find('.fa-save').removeClass('hide');
        $(this).find('input').removeAttr('disabled');
        let tds = $(this).find('[contenteditable=false]');
        $.each(tds, function (i, td) {
            $(td).prop('contenteditable', true);
        });
       
    }
    function saveEdit() {
        let editables = $(this).parent().siblings("[contenteditable=true]");
        $.each(editables, function (i, cell) {
            let header = Object.getOwnPropertyNames(itemMaster)[i];
            itemMaster[header] = cell.textContent;
            
        });
        let cell = $(this).parent().parent();
        if ($(cell).children().length > 0) {
            let files = $(cell).find("input[type=file]")[0].files;
            if (files[0] !== undefined) {
                itemMaster["Image"] = files[0].name
              
            }
        }
        $(this).addClass('hide');
        $.each(editables, function (i, td) {
            $(td).prop('contenteditable', false);
        });
        $.ajax({
            url: '/ItemMasterData/UpdateRow',
            async: false,
            type: 'POST',
            dataType: 'JSON',
            data: {
                itemMaster: itemMaster
            },
            success: function (data) {
              
                new ViewMessage({
                    summary: {
                        attribute: "message-summary"
                    }
                }, data);
              
            }
        });
    }
    function show(input) {
       
        let img = $(input).siblings('img');
        if (input.files && input.files[0]) {
            $.ajax({
                url: "/ItemMasterData/UploadImage",
                data: new FormData($(input).parent(".input-file")[0]),
                type: "POST",
                contentType: false,
                processData: false,
                success: function () {
                    var filerdr = new FileReader();
                    filerdr.onload = function (e) {
                        img.attr('src', e.target.result);
                    }

                    filerdr.readAsDataURL(input.files[0]);
                }
            });
          
        }
    }
</script>
