﻿@model Currency

@{
    ViewData["Title"] = "Create";
}

<style>
    .fa{
        margin-right:4px;
    }
    .form-group{
        padding:0px;
        margin:0px;
    }
</style>
<form asp-action="Create">
    <div class="row">
        <div class="col-md-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label  class="control-label">@Localizer["Symbol"] :</label>
                <input asp-for="Symbol" class="form-control" />
                <span asp-validation-for="Symbol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">@Localizer["Description"] :</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
           
        </div>
    </div>
    <div class="row pull-left" style="margin-top:10px;">
        <div class="col-md-12">
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-sm"><i class="fa fa-plus-circle"></i>@Localizer["Add"]</button>
                <a asp-action="Index" class="btn btn-danger btn-sm"><i class="fa fa-reply"></i>@Localizer["Back"]</a>
            </div>
        </div>
    </div>
</form>



