﻿
<link href="~/css/Chart.min.css" rel="stylesheet" />
<script src="~/js/Chart.bundle.min.js"></script>
<div class="row">
    <div class="col-md-6 col-sm-6 col-xl-6 col-xs-6">
        <div class="card card-body">
            <center style="font-family:Arial;font-size:15px;color:gray;">@Localizer["Top Sale Quantity"]</center><div id="chart_top_sale"></div>
        </div>
        
    </div>
        
    <div class="col-md-6 col-sm-6 col-xl-6 col-xs-6">
        <div class="card card-body">
            <center style="font-family:Arial;font-size:15px; color:gray;">@Localizer["Purchase Summary"]</center><div id="chart_purchase_summary"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-6 col-xl-6 col-xs-6">
        <div class="card card-body">
            <center style="font-family:Arial;font-size:15px;color:gray;">@Localizer["Profit & Loss"]</center><div id="chart_profit_loss"></div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xl-6 col-xs-6">
        <div class="card card-body">
            <center style="font-family:Arial;font-size:15px; color:gray">@Localizer["Stock in warehouse"]</center> <div id="chart_sale_summary"></div>
        </div>
        
    </div>
</div>

<script>

    $(function () {
        //Top Sale
        $.ajax({
            url: "/Home/GetTopSale",
                type: 'GET',
                dataType: 'JSON',
                data: {BranchID:@User.FindFirst("BranchID").Value},
                success: function (reponse) {
                    console.log(reponse)
                    $("#chart_top_sale").dxChart({
                        dataSource: reponse,
                        commonSeriesSettings: {
                            type: "bar",
                            argumentField: "ItemName",
                            label: {
                                visible: true
                            }
                        },
                        series:
                            [
                                {
                                    valueField: "Qty",
                                    name: "Quantity",
                                }
                            ],
                        tooltip: {
                            enabled: true,
                            location: "edge",
                            customizeTooltip: function (arg) {
                                return {
                                    text: arg.argumentText + " : " + arg.valueText
                                };
                            }
                        },
                        legend: {
                            verticalAlignment: "bottom",
                            horizontalAlignment: "center"
                        }
                    });
                }
        });

        //Purchase Summary
        $.ajax({
            url: "/Home/GetPurchase",
            type: 'GET',
            dataType: 'JSON',
            data: {BranchID:@User.FindFirst("BranchID").Value},
            success: function (reponse) {
                $("#chart_purchase_summary").dxPieChart({
                    dataSource: reponse,
                    commonSeriesSettings: {
                        argumentField: "Name",
                        label: {
                            visible: true,
                            format: {
                                type: "fixedPoint",
                                precision: 2
                            }
                        }
                    },
                    series:
                        [
                            {
                                valueField: "GrandTotal",
                                name: "Grand Total",
                            }
                        ],
                    tooltip: {
                        enabled: true,
                        location: "edge",
                        customizeTooltip: function (arg) {
                            return {
                                text: arg.argumentText + " : " + arg.valueText
                            };
                        }
                    },
                    legend: {
                        verticalAlignment: "bottom",
                        horizontalAlignment: "center"
                    }
                });
            }
        });

        //Profit
        $.ajax({
            url: "/Home/GetProfit",
            type: 'GET',
            dataType: 'JSON',
            data: {BranchID:@User.FindFirst("BranchID").Value},
            success: function (reponse) {
                $("#chart_profit_loss").dxChart({
                    dataSource: reponse,
                    //data: {},
                    commonSeriesSettings: {
                        type: "bar",
                        argumentField: "SoldAmount",
                        argumentField: "DiscountItem",
                        argumentField: "DiscountTotal",
                        argumentField: "TaxValue",
                        argumentField: "GrandTotal",
                        argumentField: "TotalCost",
                        argumentField: "TotalProfit",
                        label: {
                            visible: true,
                            format: {
                                type: "fixedPoint",
                                precision: 2
                            }
                        }
                    },
                    series:
                        [
                            {
                                valueField: "SoldAmount",
                                name: "Sold Amount",
                            },
                            {
                                valueField: "DiscountItem",
                                name: "Discount Item",
                            },
                            {
                                valueField: "DiscountTotal",
                                name: "Discount Total",
                            },
                            {
                                valueField: "TaxValue",
                                name: "Vat. Included",
                            },
                            {
                                valueField: "GrandTotal",
                                name: "Grand Total",
                            },
                            {
                                valueField: "TotalCost",
                                name: "Total Cost",
                            },
                            {
                                valueField: "TotalProfit",
                                name: "Total Profit",
                            }
                        ],
                    legend: {
                        verticalAlignment: "bottom",
                        horizontalAlignment: "center"
                    }
                });
            }
        });

        //Stock in warehouse
        $.ajax({
            url: "/Home/GetStock",
            type: 'GET',
            dataType: 'JSON',
            data: {BranchID:@User.FindFirst("BranchID").Value},
            success: function (reponse) {
                $("#chart_sale_summary").dxPieChart({
                    dataSource: reponse,
                    commonSeriesSettings: {
                        type: "doughnut",
                        argumentField: "Warehouse",
                        label: {
                            visible: true,
                            format: {
                                type: "fixedPoint",
                                precision: 2
                            }
                        }
                    },
                    series:
                        [
                            {
                                valueField: "Instock",
                                name: "In stock",
                            }
                        ],
                    tooltip: {
                        enabled: true,
                        location: "edge",
                        customizeTooltip: function (arg) {
                            return {
                                text: arg.argumentText + " : " + arg.valueText
                            };
                        }
                    },
                    legend: {
                        verticalAlignment: "bottom",
                        horizontalAlignment: "center"
                    }
                });
            }
        });

    });

</script>
