﻿@model Branch

<style>
    .fa {
        margin-right: 4px;
    }

    .stylebutton {
        margin-top:10px;
    }

    .StyleImge {
        height: 150px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        width: 150px;
    }
    .form-group{
        padding:0px;
        margin:0px;
    }
</style>
<form asp-action="Edit" method="post">
    <div class="row">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID">
            <div class="form-group">
                <label asp-for="Name" class="control-label">@Localizer["Name"] :</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyID" class="control-label">@Localizer["Company"] :</label>
                <select asp-for="CompanyID" class="form-control" asp-items="ViewBag.CompanyID">
                    <option value="0" selected disabled>--- Select ---</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label">@Localizer["Location"] :</label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label">@Localizer["Address"] :</label>
                <textarea asp-for="Address" class="form-control" ></textarea>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:10px;">
        <div class="col-md-12 ">
            <button class="btn btn-success btn-xs" type="submit"><i class="fa fa-save"></i>@Localizer["Save"]</button>
            <a class="btn btn-xs btn-danger" asp-action="Index"><i class="fa fa-reply"></i> @Localizer["Back"]</a>
        </div>
    </div>
</form>


